<%= stylesheet_link_tag 'help' %>

<h1>PMOG Chat FAQ</h1><br />

<p>Connecting to PMOG Chat is as simple as clicking the "PMOG Chat" button on your toolbar.</p>

<p>If you're an advanced user, who is familiar with IRC, you can connect to PMOG Chat by connecting to the following server:</p>

<p>Server: irc.pmog.com port: 6667</p>
<p>Room: #pmog.com</p>

<p>If you need some help getting started with PMOG Chat.  Please read <a href="http://pmog.com/forums/shoat-sanctuary/topics/pmog-chat-an-introduction">this easy introduction</a> to the client.</p>

<p>If you want to create your own chat channels on PMOG Chat, please <a href="http://pmog.com/forums/social-tools/topics/pmog-chat-creating-your-own-chat-channels">refer to this guide</a> (advanced users only!)</p>

<p>Lastly, be sure to be familiar with the <a href="/about/irc">PMOG IRC Conduct and Consequences</a>, the rules of PMOG Chat.</p>

    