<%= stylesheet_link_tag 'help' %>

<h1>Frequently Asked Questions</h1>
<h5>wherein we anticipate your questions with answers</h5>

<div class="help">
<br>

<dl>
<dt>How do I play PMOG?</dt>

<dd>PMOG is a game you're already playing, when you surf the web.  Install PMOG, and resume your ordinary web surfing, web research, shopping, socializing, gaming - whatever!  You'll find traps and treasure, missions and traces of the game across the internet we're already surfing.</dd>

<dd><a href="http://pmog.com/missions/welcome_to_the_nethernet">Take this Mission</a> if you want to get started with the game!  Or try pressing buttons in your toolbar to play with the web.</dd>

<dt>How do I turn the game off?</dt>

<dd>You can hide the PMOG toolbar, and still keep earning points for future fun.  Hit the PMOG button in your browser navigation bar to show and hide the toolbar.</dd>

<dd>Also, there's a pause button in your toolbar, in case you need a break or some deeper privacy.</dd>

<dt>How do I make progress in PMOG?</dt>

<dd>Use lots of tools to level up!  Learn the <a href="keycommands">PMOG keyboard shortcuts</a> for real speed.</dd>

<dt>I just installed PMOG and I can't get the login box to appear, the toolbar looks grey, and I can't hide it!  What can I do?</dt>

<dd>Please make sure you have third party cookies enabled.  We require this because the extension is a third party from our website, which requires a cookie to log you in.  You can enable third party cookies from the Firefox preference window.  Preferences > Privacy > Third Party Cookies.</dd>

<dd>Currently, there are a few extensions conflicts as well.  Please refer to <a href="http://pmog.com/forums/pmog-misadventures/topics/read-me-525-extension-conflicts">this forum post</a> for more information, or try disabling your other extensions.</dd>

<dt>When I try to download the PMOG toolbar, I get "Download Error -228."  What gives?</dt>

<dd>This error occurs rarely when your computer is unable to connect to ours to download the extension.  If you receive this error, wait a few minutes and try again.  It normally goes away very quickly.</dd>

<dd><i>Note: If you have disabled your computer from storing a cache for Firefox, you must re-enable it to download the PMOG extension.  Simply open up Firefox's preferences then Tools > Options > Advanced > Network.  And re-enable it.</i></dd>


<dt>I am constantly getting a "500" error.</dt>

<dd>When things are being tweaked and adjusted behind the scenes, you may temporarily receive "500" errors.  Normally, within a few hours, PMOG is back to normal.</dd>


<dt>When I complete a mission I always get a "500" error, or am essage that says something went wrong.</dt>

<dd>You'll need to disable the NoScript extension or similar extension you have installed in order to complete missions, or allow NoScript access to the last lightpost of each mission.</dd>


<dt>I can only lay mines -- no other tools function, and no other overlays show anywhere on the site.</dt>

<dd>Again, you'll need to take a look at your extension list and figure out which extension is blocking PMOG from working correctly.  These normally include "privacy" extensions which prohibit PMOG from knowing which website your on, and therefore keep PMOG from sending you the right information.</dd>


<dt>I can't remember my username/password and/or the password recovery feature is not working for me.</dt>

<dd>If you can't remember your username, forgot your password, or the password recovery feature isn't working for you, simply e-mail accounts at pmog dot com from the e-mail address you originally signed up to play PMOG from or use <a href="http://pmog.com/about/contact">the contact form</a> and we'll help you get back up and running again.</dd>


<dt>My toolbar is blank, too hard to read, or otherwise visually impaired.</dt>

<dd>Click on the "P", the left most button on the toolbar, and select preferences.  From here you can switch from the standard skin to the plain skin.  Some Linux users may have to do this in order for their PMOG toolbar to work.</dd>


<dt>How do I turn off these sounds?</dt>

<dd>Click on the "P", the left most button on the toolbar, and select preferences.  From here you can toggle sounds on or off.</dd>


<dt>I still can't figure something out, I'd like to report a bug I've found, I have a few suggestions to make, or I want to speak to someone at PMOG personally about something.</dt>
<dd>We have created a number of other outlets, aside from the forums, for you to use if you need to contact us. <a href="http://pmog.com/about/contact"> http://pmog.com/about/contact</a> has a comprehensive list of e-mail addresses that will directly connect you to our staff.</dd>

<dd>Your feedback is especially valuable to us, as well as your bug reports and ability to access our game.</dd>

<dd>If you ever need assistance, please use the corresponding e-mail address from our contact page to get in touch with us.</dd>

<dd>Your Community Support Liaison, <a href="/users/burdenday">burdenday</a>, is also always ready for a PMail regarding complaints, quick questions or distress calls.</dd>

<dd>Thanks again for playing PMOG; a game is nothing without its players.</dd>

</div>
