<%= stylesheet_link_tag 'help' %>

<h1>PMOG Help</h1>
<h5>wherein a player finds explanation</h5>

<br />
<div class="help">

<dl>
<dt>Introduction</dt>

<dd>PMOG is a game you play by surfing the web.  Install the toolbar, and start surfing around to see what happens! Or press buttons in the toolbar to play with the web.</dd>

<dd>If you're just getting started with PMOG, try getting started with <a href="http://pmog.com/missions/welcome_to_pmog">this Mission</a>. Simply click "Take this Mission" to begin.</dd>

<dd>If you are lost in the world of PMOG, here's a <a href="/missions/how_to_get_help_on_pmog_fast">a brief help mission</a>. Visit <a href="/posts/latest">the forums</a> for good game conversation and guidance.</dd>

<dt>Basics</dt>
<!-- Needs to be updated
<dd>For help with the Firefox extension, visit the <a href="/help/toolbar">toolbar help page</a>.</dd>
-->
<dd>To learn about the rules of PMOG, read the <a href="/guide">Codex Pmogeus</a> and especially the <a href="/guide/rules">Architectural Appendices</a>.</dd>

<dd>For empowered toolbar use, learn the <a href="/help/keycommands">keyboard shortcuts</a>.</dd>

<dt>Frequently Asked Questions</dt>
<dd>Check out the <a href="/help/faq">FAQ page</a> to see if we've already answered your questions!</dd>
<dd>Also, please refer to the <a href="/help/chat">PMOG Chat FAQ page</a>, for questions specific to PMOG Chat.</dd>

<dt>Official Support</dt>

<dd><a href="/about/contact">Contact us</a> if you are having trouble, if you want to report a bug, or if you want to make a suggestion.</dd>

<dt>User to User Support</dt>

<dd>Many PMOG players gather on PMOG Chat!  Just click the Chat button from your PMOG toolbar, or use your own IRC client to join server: irc.pmog.com:6667, room: #pmog.com.</dd>

<dd>On the <a href="http://getsatisfaction.com/gamelayers/products/gamelayers_pmog">a PMOG page over at Get Satisfaction</a>, you can find some PMOG players asking and answering questions.</dd>

<!--not being updated enought
<dt>PMOG on Wikia</dt>
<dd> Visit the player-made <a href="http://pmog.wikia.com/wiki/Main_Page">guide to PMOG</a>. It's an editable document about the Passively Multiplayer Online Game, with lots of great information.</dd>
-->

</dl>

</div><!-- help class-->