<%= stylesheet_link_tag 'help' %>

<h1>Installing PMOG</h1><br />

    <p>PMOG is a game you play in your Mozilla, Firefox or Flock web browser.</p>
    
    <%= render :partial => "/shared/extension_install" %>
  
  <p>You can get it from the <a href="https://addons.mozilla.org/en-US/firefox/addon/6336">PMOG page on Firefox Add-ons</a>.</p>
  
  <h2>Detailed Instructions</h2>
  
  <p>A little yellow bar will pop up at the top of the screen, asking you to give pmog.com permission to install an extension into your Firefox:</p>
  
  <p align="center"><img src="/images/help/firefoxpreventedpmog.png" alt="Firefox prevented PMOG" border="0" width="618" height="30" /></p>
  
  <p>If you "Edit Options" you'll see another window:</p>
  
  <p align="center"><img src="/images/help/allowpmog.png" alt="Allow PMOG" border="0" width="444" height="373" /></p>
  
  <p>Grant us permission in the popup there, and you can reclick the large "install PMOG" button above!  Then you'll see one more warning:</p>
  
  <p align="center"><img src="/images/help/pmogunsigned.png" alt="PMOG unsigned" border="0" width="417" height="422" /></p>
  
  <p>Then you'll be asked to restart Firefox.  Now, you'll see something like this:</p>
  
  <p align="center"><img src="/images/help/pmogsignin.png" alt="PMOG Sign In" border="0" width="521" height="56" /></p>
  
  <p>Sign in with the username/password you've used for PMOG.  And then you're playing PMOG :-D</p>
  
  <h2>Other Browsers</h2>
  
  <p>The PMOG toolbar is currently running on Firefox and <a href="http://flock.com">Flock</a>, and maybe other Mozilla-code based browsers:</p>

  <center>
    <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded."><img src="/images/help/getfirefox.png" width="288" height="100" border="0" alt="Get Firefox" class="img_no_border"></a> 
  </center>
  
  <br /><br />
  
  <p>Once you've got that working, you can find more help <a href="/help/toolbar">help on the toolbar</a>.</p>