<%= stylesheet_link_tag 'helpsk	' %>

<h1>PMOG Key Commands</h1>
<h5>Expediting Play</h5>

<br />
<div class="help">

<p>PMOG supports keyboard shortcuts for common actions.</p>

<p>Whether the toolbar is hidden or showing, you should be able to hold down these keys and press these buttons to use tools or respond to windows.</p>

<p>Our modifier keys today are control and alt on a PC or Linux keyboard, and control and option on a Mac keyboard.</p>

<table cellspacing="20"><tr>
<th>modifier</th><th>key</th><th>effect</th>
</tr>

<tr>
<td>Escape</td>
<td></td>
<td>Close the oldest PMOG overlay on your screen.</td>
</tr>

<tr>
<td>control+alt</td>
<td>H</td>
<td>Show or Hide the PMOG toolbar.</td>
</tr>

<tr>
<td>control+alt</td>
<td>C</td>
<td>stash a Crate.</td>
</tr>

<tr>
<td>control+alt</td>
<td>L</td>
<td>place a Lightpost.</td>
</tr>

<tr>
<td>control+alt</td>
<td>A</td>
<td>wear or remove your Armor.</td>
</tr>

<tr>
<td>control+alt</td>
<td>M</td>
<td>lay a Mine.</td>
</tr>

<tr>
<td>control+alt</td>
<td>D</td>
<td>leave a DP Card.</td>
</tr>

<tr>
<td>control+alt</td>
<td>N</td>
<td>prepare a St. Nick.</td>
</tr>

<tr>
<td>control+alt</td>
<td>P</td>
<td>create a Portal.</td>
</tr>

<tr>
<td>control+alt</td>
<td>J</td>
<td>Jaunt!</td>
</tr>

<tr>
<td>control+alt</td>
<td>I</td>
<td>Open/close your mini-profile from the toolbar.</td>
</tr>

<tr>
<td>control+alt</td>
<td>S</td>
<td>Open up a PMail window.</td>
</tr>

<tr>
<td>control+alt</td>
<td>T</td>
<td>Toggle text, icon, icon+text display for the toolbar.</td>
</tr>

</table>

</div><!--help-->
