<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Allies</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

								<div class="module width960">
										<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/ally.png);width:266px;height:315px;" title="An angel whispering helpful and goodly advice"></div></div>
					
<h1>Allies</h1>
<h5>Those angels!</h5>
<br /><br />


<p>Allies are those friends with which you like to cooperate. You'd never think of tossing grenades at them and you're there for them with crates full of datapoints should the need arise.</p>

<p>There are some benefits to having Allies, as well.  For example, you earn more <a href="/guide/rules/pings">Pings</a> for crating an Ally over a mere contact.  Having Allies also shows that other players trust and rely on you!</p>

<p>Allies are a great way to really highlight those who mean the most to you in the Nethernet.  Consider honoring someone as your Ally after meeting them in Chat, or finding a stash of their Datapoints on a website.</p>

						</div>
					
					</div>
				
			
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>
