<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Chaos</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

	

					<div class="module width960">
										<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/chaosfaction.png);width:315px;height:300px;" title="The Faction of Chaos"></div></div>
					
<h1>The Faction of Chaos</h1>
<h5>Causing havoc and mayhem across the web!</h5>
<br /><br />


<p>The Faction of Chaos is comprised of those Classes most likely to do something just "for the lulz."  The Classes of Chaos include: <a href="/guide/classes/destroyers">Destroyers</a>, <a href="/guide/classes/seers">Seers</a> and <a href="/guide/classes/vigilantes">Vigilantes</a>.</p>

<%= render :partial => '/shared/guide/chaos_description' %>

						</div>
					
					</div>

		
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

