<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Followers</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">
					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/icons/contacts-48.png);width:48px;height:48px;" title="Contacts"></div></div>

<h1>Followers</h1>
<h5>This is your fan club</h5>
<br />

<p>Followers are players who have marked you as a Contact, Ally, or Rival. You don't have to add them as your Contact, Ally, or Rival, but you may want to.</p>

<p>Much in the way that Twitter works, all the relationships on The Nethernet are one-way.</p>

						</div>
					
					</div>

			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

