<%= stylesheet_link_tag 'codex' %>

<br><br><br><br><br><br>

<h1>Fonts: Declarations of Information Relativity</h1>
<h5>foresooth!</h5>

<h1>this is h1 on PMOG</h1>

<h2>this is h2 on PMOG</h2>

<h2 class="caps">this is h2.caps on PMOG</h2>

<h3>this is h3 on PMOG</h3>

<h4>this is h4 on PMOG</h4>

<p>this is p on PMOG</h4>

<h5>this is h5 on PMOG</h5>

<h6>this is h6 on PMOG</h6>

<ol>
<li>ordered list item</li>
<li>ordered list item</li>
</ol>

<ul>
<li>un-ordered list item</li>
<li>un-ordered list item</li>
</ul>

<dl>
<dt>definition list text</dt>
<dd>definition definition</dd>
<dt>definition list text</dt>
<dd>definition definition</dd>
</dl>

<br/><br/><br/>

<p>Here's a link to a <a href="http://gamelayers.com/dox/test.html">default browser header size/ratio rendering</a>, and <a href="http://www.locusfoc.us/typography">Mark Daggett's post on web typography</a> and <a href="http://csstype.com">csstype</a>.</p>

<br />