<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Rules</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">
			
						<div class="module width700">
						
						<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/child-240.png);width:240px;height:312px;" title="How Tall Am I, Daddy?"></div></div>


<h2>Rules of The Nethernet</h2>
<p>The Nethernet, like any machine, needs well-oiled cogs to continue working.  Here are some of the rules you'll need to be familiar with to understand how things work in the Nethernet.  Pay careful attention to the Levels and Classpoints sections, so you can progress, and also be sure to familiarlize yourself with the Community Standards and Expectations so you can be a good Netizen.</p>
<p>Also, if you ever come across a term you are not familiar with, this page will likely house the definition for you to read up on. Game on!</p>
						
						</div>

					</div>
						
		
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
				
			</div>

		</div>
