<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">IRC Conduct and Consequences</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

								<div class="module width960">
										<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/rival.png);width:236px;height:324px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>

<h1>IRC Conduct and Consequences</h1>
<h5>Communication is key!</h5>

<br />

<p>GameLayers Inc. will enforce the following policy at its discretion regarding player activity and interaction within #thenethernet.com on irc.thenethernet.com and public "top level domains" (TLDs) channels.  Please note this policy does not take precedence over the <a href="/guide/rules/terms">Terms of Service</a>, and the <a href="/guide/rules/community">Community Standards and Expectations</a> still apply if applicable.</p>

<p>Players are expected to:</p>

<p>1. Treat others with respect; all players are entitled to their opinion as much as you are entitled to your own.</p>

<p>2. Avoid typing in all caps, and never spam or purposefully disrupt the channel.</p>

<p>3.  Consider all public channels to be "PG-13." All <a href="/guide/rules/nsfw">NSFW</a> content should be clearly labeled as such, and while we don't wish to subjugate communication, any abusive, obscene or hate-related language is not permitted.</p>

<p>4.  Never impersonate a <a href="/guide/rules/trustees">Trustee</a>, contractor, or employee of GameLayers Inc., this includes usernames that would imply such affiliation. Also, never may any player impersonate another player <b>with the intent to defame the individual or to disrupt any public channel</b>, nor may any player impersonate a <a href="/guide/rules/stewards">Steward</a> or an individual GameLayers Inc. has selected to act as a moderator.</p> 

<p>5. Follow the direction of a Trustee, or chat moderator at all times pertaining to the enforcement of this policy.</p>

<p>Players may face the following consequences for violating the aforementioned policy:</p>

<p>1.  A public or private warning advising against continued aberrant behavior.</p>

<p>2.  Chat privileges suspended for a stated period of time.</p>

<p>3.  A suspension from the game, or account permanently removed.</p>

<p>If you feel another player has violated the terms of this policy against you personally or in general, please send an e-mail to abuse at thenethernet dot com detailing the situation.  If you feel you receive an unjust consequence for your actions, please also e-mail abuse at thenethernet dot com providing any relevant logs.</p>

<p>eeyoree, the Chat bot will kick for the following:</p>
<ol>
<li>Typing in all caps: more than 15 capital letters, comprising more than 50% of the total text (bans after 3 kicks)</li>
<li>Spamming the channel: typing the same thing more than 3 times in a short amount of time (bans after 3 kicks)</li>
<li>Swearing: using egregious language (bans after 3 kicks)</li>
<li>Flooding the channel: typing more than 6 lines in 10 seconds (bans after 3 kicks)</li>
</ol>
						</div>
					
					</div>
				
				</div>
				
			<div class="column width960">
			
				<%= render :partial => "shared/guide/rules" %>
				
				<%= render :partial => "shared/guide/guide_module" %>
				
			</div>

		</div>
