<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">Metamorphosis</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

					<div class="copyTop">

<h1>Metamorphosis</h1>
<h5>Joining the network</h5>

<br/>

<p>A visual poem on the nature of passing from the real world in the Passively Multiplayer Online Game, illustrated by <a href="http://www.dougsirois.com">Douglas A. Sirois</a>, dated November 2007.</p>

<p><img src="/images/shared/elements/page1.png" alt="Comic Page One" border="0" width="800" height="1200" class="img_no_border"></p>

<p><img src="/images/shared/elements/page2.png" alt="Comic Page Two" border="0" width="800" height="1200" class="img_no_border"></p>

<p><img src="/images/shared/elements/page3.png" alt="Comic Page Three" border="0" width="800" height="1200" class="img_no_border"></p>

<p><img src="/images/shared/elements/page4.png" alt="Comic Page Four" border="0" width="800" height="1200" class="img_no_border"></p>

						</div>
					
					</div>
				
				</div>
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>
