<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">NSFW</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">


					<div class="module width960">
					
<h1>NSFW</h1>
<h5>Not Safe for Work. This content is marked with an explicit warning.</h5>
<br /><br />

<p>On PMOG, we use "NSFW" to classify wild things: adult, offensive, too-sexy.  NSFW stands for "not safe for work" and it means stuff you wouldn't want to have on your monitor when your working peers walk by your desk.  Stuff that would embarrass you or harass them.</p>

<p>Urban Dictionary has <a href="http://www.urbandictionary.com/define.php?term=nsfw">a definition of NSFW</a>.  Basically, if you think your Portal or Mission might shock someone, label it NSFW and avoid having someone label it NSFW for you.  Take responsibility for wanting to blow people's minds!</p>

						</div>
					
					</div>

			
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

