<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Order</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

	

					<div class="module width960">
										<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/orderfaction.png);width:315px;height:300px;" title="The Faction of Order"></div></div>
					
<h1>The Faction of Order</h1>
<h5>Collecting information and sorting it out. With a smile!</h5>
<br /><br />


<p>The Faction of Order is composed of those Classes most likely to help out other players.  These Classes include: <a href="/guide/classes/bedouins">Bedouins</a>, <a href="/guide/classes/benefactors">Benefactors</a>, and <a href="/guide/classes/pathmakers">Pathmakers</a>.</p>

<%= render :partial => '/shared/guide/order_description' %>

						</div>
					
					</div>

		
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

