<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Rivals</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

	

					<div class="module width960">
										<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/rival.png);width:236px;height:324px;" title="A Wee Devil Looking Quite Playful"></div></div>
					
<h1>Rivals</h1>
<h5>Those curs!</h5>
<br /><br />


<p>A Rival is your enemy. Rivals mine and St. Nick each other and usually hold grudges over contested territory within the Nethernet or for past dubious actions.</p>

<p>There are benefits to having Rivals, too.  For one, the more Rivals you have the more likely it is your are notorious for some Chaotic action. Additionally, you earn more <a href="/guide/rules/pings">Pings</a> for mining a Rival instead of a random Netizen.</p>

<p>Having Rivals is a fun way to playfully get revenge for a Mining or a battery of St. Nicks laid upon you.  Rivals never lose sight that the Nethernet is a game, and always keep their cool, even in the heat of battle.</p>

						</div>
					
					</div>

		
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

