<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Getting Started: Seers</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">
				<div class="column width700">
					<div class="module width700">

<a href="/guide/classes/seer"><img src="/images/shared/associations/medium/seers.jpg" width="100" height="100" alt="Seers" align="right" border="0" /></a>

<h1>Getting Started as a Seer</h1>
<h5>A community-generated guide</h5>

<blockquote><h3>
<a href="/guide/classes/seers">Seers</a> are a <a href="/guide/rules/chaos">Chaos</a> class who use <a href="/guide/tools/portals">Portals</a>.</h3></blockquote>

<p>The Seer <a href="/users/gbelste">gbelste</a> created a Forum post on <a href="/forums/straturgy/topics/seer-school">Seer School</a> as a public service. Many Seers contributed to the post, including <a href="/users/craug">Craug</a>. This is their advice: 

<p>As a rule of thumb, make sure your portals have at least one of the following traits: clever, witty, original humorous, insightful, ironic, helpful, related, crazily random, or useful.</p>

<p>Be original. Don't do a rickroll, unless it is truly funny (on an ironic site).</p>

<p>Try to make people laugh.</p>

<p>Always use the <a href="/rules/nsfw">NSFW</a> box, if appropriate.</p>

<p>Make full use of the "hint". Mislead people, if you're chaos. Tell people exactly what its going to if you're Order.</p>

<p>Shock sites make me angry.</p>

<p>You can turn a simple image into a wonderful link by using the "hint" box. A stairwell could turn into "You need some exercise"!

Understanding irony and humor is important.

Good portal placement is vital. Put portals on your missions. Put a portal on the top awsm-attack pages.</p>

<p>Don't: put a portal on a page that leads directly back to the exact same page. That's just pointless.</p>

<p>Do: do players like me a favor and warn us in your description if the link we're headed to is going to immediately start playing audio. I do not appreciate getting blasted out of my seat because the cool flash thing you just linked me to is OMG loud! It can still be a surprise without making me hate you because I just got laughed at by my co-workers.</p>

<p>Don't: make a portal promising a 1000dp crate unless you're going to restock it a few times at least. Likely, this will get you rated very low.</p>

<p>Do: make chains! If someone took the plunge on your first portal, chances are they'll follow along to see what else is in the chain.</p>

<p>Don't: transport us to your minicity or whatever "get as many people to visit your page" game you're playing. Again, this will get you rated low real quick. Same goes for self-promotional "stuff" unless it's being done for some purpose other than self-promotion.</p>

<p>Do: take missions and portal off to related (or not) stuff and add a portal back to the same page of the mission. Usually these are appreciated by some mission-takers, and gets your portal usage up pretty quick if done well.</p>

						</div>
					
					</div>
					
					<div class="column width240">
					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/associations/large/seers.png);width:300px;height:400px;" title="Seers"></div></div>
	</div>
	</div>
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

