<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Getting Started: Pathmakers</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">
				<div class="column width700">
					<div class="module width700">

<a href="/guide/classes/pathmakers"><img src="/images/shared/associations/medium/pathmakers.jpg" width="100" height="100" alt="Pathmakers" align="right" border="0" /></a>

<h1>Getting Started as a Pathmaker</h1>
<h5>A community-generated guide</h5>
<br />

<blockquote><h3>
<a href="/guide/classes/pathmakers">Pathmakers</a> are a <a href="/guide/rules/order">Order</a> class who chiefly use <a href="/guide/tools/lightpost">Lightposts</a> to make <a href="missions">Missions</a>.</h3></blockquote>

<p>The Pathmaker <a href="/users/zyxistal">zyxistal</a> created a Forum post on <a href="forums/shoat-sanctuary/topics/how-not-to-make-a-mission">How Not To Make a Mission</a> as a public service on behalf of the <a href="/guide/badges/keeper-of-the-flame">Keepers of the Flame</a>. We've condensed this information for you: 

<p>The word to remember when making a mission is BOAT.</p>
<p>Be Original: The way to stand out of the herd, save for the egregious way, is to make a creative and original mission that has interesting commentary.</p>
<p>Audience: Know your audience, and write your mission accordingly.</p>
<p>Time: Good missions take time. The more time you spend, the better your mission will be.</p>

<p>This public service announcement is brought to you by the Keepers of the Flame. We all know that making missions is a quick and fairly easy way to make DP but there are some things that will quickly get your mission a single-star rating and then no one will take it.</p>

<p>1: Webcomic Missions - 
I think a new one of these pops up every few days. We all enjoy a good webcomic but chances are we've already seen all of the ones you're about to show us. Almost any webcomic mission will be automatically dismissed by players who come across it.</p>

<p>2: Badge Missions -
It's been done before already so don't waste your lightposts. Anyone going for the site badges will go to the same sites as anyone else going for those badges. Your badge mission will not tell me anything new from the last one.</p>

<p>3: My Daily Routine Missions/My Favorite Websites -
While you probably go to some really interesting sites every day it doesn't mean that the rest of us want to go to them just because you do.</p>

<p>4: DP Farming Missions -
You see them pop up on the new missions all the time 'quick loading links 42DP' or '25 sites you've never been to 50DP'. There are much faster ways to earn DP than going through a mission no matter how fast the sites load up.</p>

<p>5: 'Dead' Missions -
If you make a mission the least you can do for the rest of us is to periodically run through it to make sure all the links are still working. If your mission doesn't work then no one can take it and you won't earn anything from it.</p>

<p>6: Missions about The Nethernet -
Yes we all love the game, if we didn't then we wouldn't be here playing it would we? But this doesn't mean we want to take missions that take us to various PMOG related sites that we already go to on a daily basis.</p>

<p>7: Unrelated Sites -
If you're going to make a mission about apples keep the mission about apples. Don't incorporate links to PMOG or myspace just to get extra hits. Another thing, being rick rolled was funny the first few times, not anymore.</p>

<p>8: Picture Missions/Fail Missions -
There are some very funny pictures out there on the internet but it doesn't mean you should make a mission of JUST pictures.</p>

<p>9: Short Missions -
Just because the minimum limit for a mission is 4 lightposts doesn't mean thats all you need to use. Flesh out your mission a little, add some more links.</p>

<p>10: Repeat Missions -
If you have an idea for a new mission first do a search for that idea. If someone has already made a mission on that subject then check it to make sure you aren't going to repeat their mission.

I'm not saying here that multiple missions on the same topic are bad, what I'm saying is please check to make sure you're not just remaking someone else's mission.</p>

<p>11: Sites With Logins -
If a site requires that you log in to get past the main page please only use the front page if you must include that site in your list. Otherwise the mission will break.</p>

<p>12: Know Sites That Redirect -
Sites that redirect before fully loading will break your mission. There are also some very popular sites that have country-specific URLs that can break missions. Some of these are: Google, Amazon, Wikipedia, the BBC, and virtually any commerce or news site. The Nethernet uses exact URLs to send your Mission content to players.</p>

						</div>
					
					</div>
					
					<div class="column width240">
					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/associations/large/pathmakers.png);width:300px;height:400px;" title="Pathmakers"></div></div>
	</div>
	</div>
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

