<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Terms of Service</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

						<div class="module width960">
										<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/shoatreading.png);width:315px;height:409px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>

<h1>Terms of Service</h1>
<h5>How we play together.</h5>

<br />

<p>GameLayers, Inc. makes this site (“The Nethernet”), associated site materials, and our The Nethernet web browser extension (“Software”) available for your access and use subject to your compliance with these Terms of Service (“TOS”). </p>

<p>By visiting and/or installing the Software, you agree to and are bound by this TOS.  Do not use or access the site if you do not agree to this TOS. </p>

<p>This TOS was last updated on 10 February, 2008.</p>

<h3 class="caps">Your Account</h3>

<p>In order to use The Nethernet, you must register for an account on our site.</p>

<p>You may never use someone else's account without their permission.  When you create a The Nethernet account you must supply an email address that can be used to contact you. You should keep your account information (username/email/password) secret in order to protect it from misuse by others. You are solely responsible for the actions taken with your The Nethernet account.  If you suspect that there has been unauthorized access to your The Nethernet account, please notify us through abuse at thenethernet d0t com.</p>

<p>Accounts created with sexist, racist or otherwise hateful or offensive usernames are subject to immediate deletion.</p>

<p>We reserve the right to remove any account, content, or feature at any time for any reason.</p>

<h3 class="caps">Registration Data</h3>

<p>You agree that whenever you provide information about yourself to us, you will provide true, accurate, current and complete information. If you provide any information that is untrue, inaccurate, not current and complete, or we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we have the right to suspend or terminate your account.</p>

<h3 class="caps">Under 13, Under 18</h3>

<p>Children under the age of 13 may not participate in The Nethernet. Please do not create an account, download our Software, or give us any information about yourself if you are less than 13 years old.  If we discover that we have collected personal information from someone under age 13, we will delete it.</p>

<p>If you are between the ages of 13 and 18, you may use The Nethernet with the permission of a parent or guardian. Please have your parent or guardian know that you are installing the Software and the information that you need to disclose to us, and get permission to participate in The Nethernet and to be bound by these Terms and our Privacy Policy.</p>

<p>Anyone playing The Nethernet affirms that he or she is over 13 years old, and that if under 18 years old, he or she has obtained parental/guardian consent for participation in The Nethernet and agreement to be bound by these Terms and our Privacy Policy.</p>

<h3 class="caps">The Nethernet Player Conduct</h3>

<p>You agree not to use The Nethernet for any unlawful purpose, or any purpose prohibited by these Terms.</p>

<p>You specifically agree not to use any of The Nethernet’s service(s) or Software:</p>

<ol>
<li>to abuse or harass other users of The Nethernet or people on the internet at large.</li>
<li>to share or spread copyrighted material.</li>
<li>to incorrectly label, or fail to label "NSFW" (Not Safe for Work) content that could offend or harass someone.  NSFW content is content that could be considered obscene, pornographic, or otherwise offensive.</li>
<li>to use The Nethernet tools to defraud, impersonate, steal identity, hack or supplant someone's online identity.  No Phishing with The Nethernet.</li>
<li>to transmit unwanted messages, email, communications, spam, to other The Nethernet users or the internet at large.</li>
<li>to advertise or solicit other users to buy or sell a product or service.</li>
<li>to sell your account, or any The Nethernet materials</li>
</ol>

<p>This list is not definitive, and is meant only to provide examples of the limits of your rights to use our services. </p>

<p>If you think someone is violating the Terms, please email abuse at thenethernet d0t com.</p>

<h3 class="caps">Cheating</h3>

<p>We reserve the right to police cheating, hacking, buffing, twinking and scripting on The Nethernet, and to take whatever steps that we believe may be necessary if we encounter such behavior on our site. Please report any suspected incidents of cheating to abuse at thenethernet d0t com.</p>

<h3 class="caps">Contributing Content</h3>

<p>When you upload content or otherwise participate in The Nethernet, you represent and warrant that you own the rights to your contributions, textual or otherwise, and that any use by us (or any of our users in accordance with these Terms) will not violate the rights of any third party. By submitting your content to The Nethernet, you agree that your contributions are submitted under and subject to a Creative Commons Attribution license. We do not accept any content contributions that are not subject to this license. Details regarding that license and how to use it are available here:  <a href="http://creativecommons.org/licenses/by/3.0">http://creativecommons.org/licenses/by/3.0/</a>.</p>

<h3 class="caps">Links</h3>

<p>You may find links to third party sites or resources on the site. We not responsible for the availability of the third party sites, and are not responsible or liable for the results of any experiences that you have related to such sites.</p>

<h3 class="caps">Ownership</h3>

<p>&copy; 2008 GameLayers, Inc.  The site and all content and other elements available on or through the site are the property of GameLayers, Inc., and/or its content providers, and are protected by United States and international laws, including copyright and trademark laws. Your use of the site does not transfer to you any ownership or other rights in the site or its content. The site may not be copied, reproduced, republished, uploaded, transmitted, modified, indexed, catalogued, mirrored or distributed in any way, in whole or in part, without our express prior written consent.</p>

<p>GameLayers, The Nethernet, and other marks and logos associated with our content and services ("The Nethernet Marks") appearing on the site are trademarks, trade names and service marks owned by GameLayers, Inc.  You agree not to use any The Nethernet Marks without our prior written consent.</p>

<h3 class="caps">Privacy Policy</h3>

<p>Registration data and certain other information about you are subject to our Privacy Policy.  For more information, see our full privacy policy at <a href="http://thenethernet.com/about/privacy">http://thenethernet.com/about/privacy</a>.  You understand that through your use of the site you consent to the collection and use (as set forth in the Privacy Policy) of this information.</p>

<h3 class="caps">Indemnity</h3>

<p>You agree to indemnify and hold GameLayers, Inc. and its officers, directors, affiliates, subsidiaries, partners, agents, licensors, licensees, suppliers, employees and representatives harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your violation of this TOS, or your violation of any rights of any third party based on or related to your use of the site.</p>

<h3 class="caps">Modification and Termination</h3>

<p>We reserve the right at any time to modify, suspend or terminate the site (or any portion of it), and/or your use of or access, with or without notice, without any liability to you.  We may amend this TOS at any time by posting the amended terms on this site, without notice to you.  Your use of the site after such posting will constitute consent to the modified Terms.  A current version of this TOS will always be available at http://thenethernet.com/about/terms/.</p>

<h3 class="caps">WARRANTY DISCLAIMER</h3>

<p class="caps">YOUR USE OF THE SITE IS AT YOUR SOLE RISK. THE SITE, INCLUDING ALL INFORMATION, SERVICES AND CONTENT IS PROVIDED ON AN "AS IS" "AS AVAILABLE" AND "WITH ALL FAULTS" BASIS.  GAMELAYERS, INC. DISCLAIMS ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS, AND WARRANTIES OF ANY KIND, INCLUDING ANY IMPLIED WARRANTY OR CONDITION OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, ACCURACY, OR COMPLETENESS. </p>

<p class="caps">GAMELAYERS, INC. MAKES NO WARRANTY OR REPRESENTATION THAT: (a) THE SITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; (b) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SITE WILL BE ACCURATE OR RELIABLE; (c) THE QUALITY OF ANY CONTENT, INFORMATION, OR OTHER MATERIAL OBTAINED FROM THE SITE WILL MEET YOUR EXPECTATIONS OR REQUIREMENTS; OR (d) ANY ERRORS IN THE SITE WILL BE CORRECTED. </p>

<p class="caps">YOU ASSUME ALL RISK FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM USE OF, OR OBTAINING ANY CONTENT FROM, THE SITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES RESULTING FROM VIRUSES. </p>

<h3 class="caps">LIABILITY LIMITATION</h3>

<p class="caps">TO THE FULL EXTENT PERMITTED BY LAW, GAMELAYERS, INC. IS NOT LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE SITE, EVEN IF WE HAVE PREVIOUSLY BEEN ADVISED OF, OR REASONABLY COULD HAVE FORESEEN, THE POSSIBILITY OF SUCH DAMAGES. </p>

<p class="caps">TO THE EXTENT THAT ANY JURISDICTION DOES NOT ALLOW THE EXCLUSION OR LIMITATION OF DIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES, PORTIONS OF THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY. </p>

<h3 class="caps">GENERAL PROVISIONS</h3>

<p>This TOS constitutes the entire agreement between you and us relating to its subject matter, and supersedes any prior versions of this TOS. </p>

<p>California law and controlling U.S. federal law govern this TOS, any action related to this TOS and/or your use of the site.  No choice of law rules of any jurisdiction will apply to any dispute under this TOS. You and GameLayers, Inc. agree to submit to the personal and exclusive jurisdiction of the courts located within the county of San Francisco, California, U.S.A.</p>

<p>Any failure to exercise promptly any right under this TOS will not create a continuing waiver or any expectation of non-enforcement. If any provision of this TOS is held invalid by any law or regulation of any government, or by any court or arbitrator, you agree that such provision will be replaced with a new provision that accomplishes the original purpose, and the other provisions of this TOS will remain in full force and effect. </p>

<p>You agree that any dispute, claim or controversy between you and GameLayers, Inc. arising out of or in connection with this TOS or your use of the site must be brought no later than one (1) year from the date the alleged claim occurred or arose. </p>

						</div>
					
					</div>
				
				</div>
				
			<div class="column width960">
			
				<%= render :partial => "shared/guide/rules" %>
				
				<%= render :partial => "shared/guide/guide_module" %>
				
			</div>

		</div>
