<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/rules" %>
		<div class="cell child"><span class="l"></span><span class="c">Trustees</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					<img src="/images/icons/roles/trustee-48.png" alt="Trustee" title="Trustee" border="0" width="48" height="48" align="right" />
					
<h1>Trustees</h1>
<h5>Layers of Game</h5>
<br />
<h2>Honorary Trustees</h2>

<p>The following players were the first to <a href="/forums/the-nethernet-news/topics/your-chance-to-become-an-honorary-trustee-or-founding-benefactor">subscribe to support The Nethernet</a> operations in 2010, and have earned themselves the title of Honorary Trustee.  Please send them your thanks and show them your respect for the support of our community!</p>
<p><ul></strong><li><a href="/users/bunni3burn">bunni3burn</a></li>
<li><a href="/users/KairuByte">KairuByte</a></li>
<li><a href="/users/animel8">animel8</a></li>
<li><a href="/users/d4q1">d4q1</a></li>
<li><a href="/users/xenindustries">xenindustries</a></li>
<li><a href="/users/rainboy">rainboy</a></li>
<li><a href="/users/burdennight">"anonymous"</a></li></strong></ul></p>

<p>Trustees are players who work in some capacity for <a href="http://gamelayers.com">GameLayers, Inc.</a>, the company behind The Nethernet.</p>

<p>Trustees are admins. Complaints, general help requests, feedback for the developers, reports of abuse, and so forth should still be directed to the normal <a href="/about/contact">avenues of communication</a>, though you can message any Trustee internally if you have a question. </p>

<p>You will be able to identify someone as a Trustee by the designation that will appear on their profile or beneath their name on messages they post on the forums.</p>

						</div>
					
					</div>

				
				</div>
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/rules" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>
