<div id="copy">
  <div class="column width960">
    <div class="column width700">
      <div class="module width700">
        <h1>Forgot Your Password?</h1>
        <h5>That's ok, we'll help you find it</h5><br /><br /><br />

        <div class="imageTop">
          <div class="imageTopImage" style="background-image:url(/images/shared/dressing/shoatpants-200.png);width:200px;height:357px;" title="Where's my "></div>
        </div>

        <span id="reset_password_content"></span>



        <% form_for :user, :url => { :controller => "sessions", :action => :retrieve_user } do %>
        <p align="center" class="forgotten_password_text">Player login:
          <%= text_field_tag 'login', {}, :class => 'input_forgotten_password', :style => 'width:200px' %>
          <input value="Look me up!" name="" type="submit" id="input" class="input_forgotten_password">
        </p>

        <script type="text/javascript">
        $( 'login' ).focus();
        </script>
        <% end %>
      </div>
    </div>
    <div class="column width240">
      <%= render :partial => "/shared/support_module" %>
    </div>
  </div>
</div>

<!-- /MAIN CONTENT -->
