<div id="copy">
	<div class="copy">
		<div class="column width960">
			<div class="column width700">
				<div class="module width700">


					<div class="imageTop">
						<div class="imageTopImage" style="background-image:url(/images/shared/dressing/sleepingshoat.png);width:215px;height:186px;" title="Done and done"></div>
					</div>
<h2>Success!</h2>


<p><h3>
	A new password has been generated, and sent to the email address you supplied.
</h3></p>

<p>
	Where next? <a href='/'>Go home</a>
</p>

				  </div>
			</div>
				
				

    				<div class="column width240">
					<%= render :partial => "/shared/support_module" %>
				</div>
				
		</div>
	</div>
