<h2>Pending Unsubscribe Request!</h2>
<p><strong><%= @user.login %></strong>, we've sent an email to <strong><%= @user.email %></strong> to confirm your
request to unsubscribe from email notifications. Inside, you'll find a link to complete the unsubscribe process</p>