<h1>So Long!</h1>

<p>
	Thank you for playing The Nethernet with us!
	
</p>

<p>
	Please see our <a href="http://www.surveymonkey.com/s.aspx?sm=ldVXpscvRfufvsXAooCJjA_3d_3d">Goodbye Survey</a> if you'd like to give us some feedback.
</p>

<p>	
	If you'd like to rejoin, please visit <a href="/">thenethernet.com</a>.
</p>