				<div class="column width700">

<h2>Characters ::

<span>Notorious inhabitants of The Nethernet</span>
</h2>				
			
					<div class="module width700">
					
						<div class="width325">
<h3>Chaos Characters</h3>
<a href="/guide/characters/victoria_ash"><img src="/images/guide/characters/victoriaash-50.png" width="50" height="50" border="0" alt="Victoria Ash" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/victoria_ash">Victoria Ash</a></h4>
<p>Victoria is the masked Vigilante of the Nethernet.  Known for her elusiveness, many players are intriged as to what drives the motivations this young girl.<a href="/guide/characters/victoria_ash"> Learn More</a></p>

<a href="/guide/characters/bloody_tuesday"><img src="/images/guide/characters/bloodytuesday-50.png" width="50" height="50" border="0" alt="Bloody Tuesday" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/bloody_tuesday">Bloody Tuesday</a></h4>
<p>Bloody Tuesday the Destroyer, may very well be the most notorious of this group of characters.  Players know Tuesdays bring an onslaught of chaos from the hand of Bloody Tuesday.<a href="/guide/characters/bloody_tuesday"> Learn More</a></p>

<a href="/guide/characters/sasha_watkins"><img src="/images/guide/characters/sashawatkins-50.png" width="50" height="50" border="0" alt="Sasha Watkins" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/sasha_watkins">Sasha Watkins</a></h4>
<p>Sasha is a Seer.  However, due to overexposure to Portals and a propensity to want to connect even the most distant regions of the Nethernet with one another, some find her mad.<a href="/guide/characters/sasha_watkins"> Learn More</a></p>

						</div>
						<div class="width20"></div>

						<div class="width325">
<h3>Order Characters</h3>

<a href="/guide/characters/thomas_hoggins_esq"><img src="/images/guide/characters/thomashoggins-50.png" width="50" height="50" border="0" alt="Thomas P. Hoggins, Esq." class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/thomas_hoggins_esq">Thomas P. Hoggins, Esq.</a></h4>
<p>Sir Thomas is the Benefactor of Benefactors.  The richest man ever to travel through the Nethernet he is known for his generosity and desire for order.<a href="/guide/characters/thomas_hoggins_esq"> Learn More</a></p>

<a href="/guide/characters/ninefinder"><img src="/images/guide/characters/ninefinder-50.png" width="50" height="50" border="0" alt="PSMK9, aka Ninefinder" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/ninefinder">PSMK9, aka Ninefinder</a></h4>
<p>Ninefinder is a Pathmaking robot.  His mission populate the Nethernet with random bits of knowledge from his endless travels through the Internets.<a href="/guide/characters/ninefinder"> Learn More</a></p>

<a href="/guide/characters/jerdu_gains"><img src="/images/guide/characters/jerdu-50.png" width="50" height="50" border="0" alt="Jerdu Gains" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/jerdu_gains">Jerdu Gains</a></h4>
<p>Jerdu is a man of action. Jerdu's usual answers to players with questions is to engage in action.  Best way to understand how armor works is to test it, best way to understand a portal is to jump through, etc.<a href="/guide/characters/jerdu_gains"> Learn More</a></p>


<a href="/guide/characters/thaddeus_esper"><img src="/images/guide/characters/thaddeusesper-50.png" width="50" height="50" border="0" alt="Professor Thaddeus Esper" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/characters/thaddeus_esper">Professor Thaddeus Esper</a></h4>
<p>Little is known about Prof. Esper's associations.  If you happen to cross his path though, you can thank him for inventing a number of the tools you use daily.<a href="/guide/characters/thaddeus_esper"> Learn More</a></p>

						</div>
					
					</div>
				
				</div>
