			<div class="column width960">
			
				<div class="column width470">

<h2>Guide ::
<span>A game manual for The Nethernet</span>
</h2>				

					<div class="module width470">
					
						<div class="width200">
<a href="/guide/classes"><img class="thumb" src="/images/shared/associations/small/seers.jpg" width="50" height="50" alt="image title" title="Associations"/></a>
<h4><a href="/guide/classes">Classes</a></h4>
<p>Each of these Classes runs The Nethernet as they see fit.  The pace of game events is determined by which group is on the rise.  Which do you support? <a href="/guide/classes">Learn More</a></p>

<a href="/guide/arsenal"><img class="thumb" src="/images/shared/tools/small/puzzlecrate.png" width="50" height="50" alt="image title" title="Arsenal"/></a>
<h4><a href="/guide/arsenal">Arsenal</a></h4>
<p>Tools, Upgrades, and Abilities: Your moves on The Nethernet. <a href="/guide/tools">Learn More</a></p>

<a href="/guide/badges"><img class="thumb" src="/images/shared/badges/small/invisible-man.png" width="50" height="50" alt="image title" title="Badges"/></a>
<h4><a href="/guide/badges">Badges</a></h4>
<p>Badges measure of each player's time across The Nethernet.  Awarded for surfing the web and tool use both, they provide a great sense of self-worth. <a href="/guide/badges">Learn More</a></p>
						
						</div>
						<div class="width20"></div>
						<div class="width200">
<a href="/guide/rules"><img class="thumb" src="/images/shared/tools/small/dodge.jpg" width="50" height="50" alt="image title" title="Rules"/></a>
<h4><a href="/guide/rules">Rules</a></h4>
<p>The rules governing battles on The Nethernet are a noble and trifling lot, both.  Levels, classpoints, datapoints, pings - have at them here! <a href="/guide/rules">Learn More</a></p>
						
<a href="/guide/lore"><img class="thumb" src="/images/guide/lore/introduction-50.png" width="50" height="50" alt="image title" title="Lore"/></a>
<h4><a href="/guide/lore">Lore</a></h4>
<p>The collected histories of The Nethernet are just that, histories collected by the undiscriminating baleen of time -- caught, for a moment, within the pages of the Codex. <a href="/guide/lore">Learn More</a></p>

<a href="/guide/characters"><img class="thumb" src="/images/guide/characters/victoriaash-50.png" width="50" height="50" alt="Characters" title="Characters"/></a>
<h4><a href="/guide/characters">Characters</a></h4>
<p>These inhabitants of The Nethernet have plotted historic battles between Order and Chaos, and work to lure Shoats to their respective causes. <a href="/guide/characters">Learn More</a></p>

						</div>
					
					</div>
				
				</div>
				
				<div class="column width20"></div>


				<div class="column width225">
<h2>How to Play</h2>				
					<div class="module width225">


<p>The Nethernet lets you play, create and explore vast new layers of the Internet: lay traps, create connections between sites, and gift friends with just a click of a button! Turn your web browsing into an adventure!</p>

<p>If you're just getting started, take <a href="/missions/welcome_to_the_nethernet">this Mission</a>. Simply click "Take this Mission" to begin.</p>

<p>If you are lost, here's a <a href="/missions/how_to_get_help_on_pmog_fast">a brief help mission</a>. Visit <a href="/posts/latest">the forums</a> for good game conversation and guidance.</p>	

<p><a href="/guide/support">Learn More or Ask a Question</a></p>

<p>
<b>General Support</b><br />
<a href="/forums/search">Search the Forums</a><br />
<a href="/guide/rules/stewards">Meet the Stewards</a><br />
<a href="/guide/support/keycommands">Keyboard Shortcuts</a><br />
<a href="/guide/support/faq">FAQ</a>
</p>	
						<div class="foot gears rounded"></div>
					</div>
				
				</div>
				
				<div class="column width20"></div>
			
			<%= render :partial => "shared/support_module" %>
			
			</div>
