				<div class="column width225">
<h2>Guide</h2>				
					<div class="module width225 footer">
<p>
<a href="/guide/arsenal">Arsenal</a><br />
<a href="/guide/classes">Classes</a><br />
<a href="/guide/characters">Characters</a><br />
<a href="/guide/lore">Lore</a><br />
<a href="/guide/rules">Rules</a><br />
<a href="/guide/badges">Badges</a>
</p>

					</div>
				
				</div>
