				<div class="column width700">

<h2>History ::

<span>Order vs. Chaos - The stories of creation and destruction</span>
</h2>				
			
					<div class="module width700">
					
						<div class="width325">
<h3>Chapters of General Interest</h3>

<a href="/guide/lore/atheoryofconception"><img src="/images/guide/lore/atheoryofconception-50.png" width="50" height="50" border="0" alt="Professor Thaddeus Esper" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/atheoryofconception">"A Theory of
Conception"</a></h4>
<p>by Jerdu Gains</p>

<a href="/guide/lore/12yearcivilwar"><img src="/images/guide/lore/12yearcivilwar-50.png" width="50" height="50" border="0" alt="Professor Thaddeus Esper" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/12yearcivilwar">"The 12 Year Civil
War"</a></h4>
<p>by Tomas P. Hoggins, Esq.</p>

<a href="/guide/lore/theunendingtagwar"><img src="/images/guide/lore/unendingtagwar-50.png" width="50" height="50" border="0" alt="Professor Thaddeus Esper" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/theunendingtagwar">"The Unending Tag
War"</a></h4>
<p>by Marsha Park</p>

<a href="/guide/lore/oneofmanyvictoriousandshortwars"><img src="/images/guide/lore/victoriousandshort-50.png" width="50" height="50" border="0" alt="Professor Thaddeus Esper" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/oneofmanyvictoriousandshortwars">"One of
Many Victorious and Short Wars: The Cleansing of the Tags"</a></h4>
<p>by Alan Whitman</p>

<a href="/guide/lore/dayofchaos"><img src="/images/shared/dressing/dayofchaos-50.png" width="50" height="50" border="0" alt="Day of Chaos" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/dayofchaos">"The Day of Chaos"</a></h4>
<p>by Patrick Hanners</p>

<a href="/guide/lore/ashestoashes"><img src="/images/guide/lore/ashestoashes-50.png" width="50" height="50" border="0" alt="Ashes to Ashes" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/ashestoashes">"Ashes to Ashes"</a></h4>
<p>by Seraphina Brennan</p>

<a href="/guide/lore/thefrontlines"><img src="/images/guide/lore/frontlines-50.png" width="50" height="50" border="0" alt="The Front Lines" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/thefrontlines">"The Front Lines"</a></h4>
<p>by Seraphina Brennan</p>



						</div>
						<div class="width20"></div>

						<div class="width325">
<h3>Chapters Concerning the Histories of Tools</h3>

<a href="/guide/lore/minehistory"><img src="/images/shared/tools/small/mines.jpg" width="50" height="50" border="0" alt="Mine" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/minehistory">"The Mine: A Story of
Betrayal and Loss"</a></h4>
<p>by Destroyers for a Chaotic Tomorrow</p>

<a href="/guide/lore/tothelightpost"><img src="/images/shared/tools/small/lightposts.jpg" width="50" height="50" border="0" alt="Lightpost" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/tothelightpost">"To The Lightpost"</a></h4>
<p>by
the Pathmakers Alliance of Remembrance</p>

<a href="/guide/lore/amemoryofportals"><img src="/images/shared/tools/small/portals.jpg" width="50" height="50" border="0" alt="Portal" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/amemoryofportals">"A Memory of
Portals"</a></h4>
<p>by Seers of Erractic Compulsion</p>

<a href="/guide/lore/havearmorwilltravel"><img src="/images/shared/tools/small/armor.jpg" width="50" height="50" border="0" alt="Armor" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/havearmorwilltravel">"Have Armor, Will
Travel"</a></h4>
<p>by Bedouins United for the Preservation of Order</p>

<a href="/guide/lore/anabundantlife"><img src="/images/shared/tools/small/crates.jpg" width="50" height="50" border="0" alt="Crate" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/anabundantlife">"An Abundant Life: The
Crate"</a></h4>
<p>by Benefactors for Beneficial Behavior</p>

<a href="/guide/lore/asynchronousrevenge"><img src="/images/shared/tools/small/st_nicks.jpg" width="50" height="50" border="0" alt="St. Nick" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/asynchronousrevenge">"Asychronous Revenge
with St. Nicks"</a></h4>
<p>by Nameless Hoardes of the Dissatified</p>


<a href="/guide/lore/anewsource"><img src="/images/shared/tools/small/vengeance.png" width="50" height="50" border="0" alt="Vengeance" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/lore/anewsource">"A New Source of Energy"</a></h4>
<p>In which a new form of energy is found, and old rivals meet again</p>

						</div>
					
					</div>
				
				</div>
