<p>These Classes typically represent those on the internet who manage mailing lists, who tag their photos, and edit Wikipedia.  However, the followers of Order might also choose this Faction should they merely have a kind spirit of inclination towards "good."  Consider choosing this Faction if you enjoy helping others or sharing information.</p>
