				<div class="column width700">

<h2>Rules ::

<span>Rules of the game and how stuff works</span>
</h2>				
			
					<div class="module width700">
					
						<div class="width325">

<a href="/guide/rules/levels"><img src="/images/guide/levels/levels-50.png" width="50" height="50" border="0" alt="Levels" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a
href="/guide/rules/levels">Levels</a></h4>
<p>See  what it takes to level up in your Class in The Nethernet.</p>

<a href="/guide/rules/classpoints"><img src="/images/shared/icons/classpoint-48.png" width="50" height="50" border="0" alt="Classpoints" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/classpoints">Classpoints</a></h4>
<p>Using tools has its rewards - experience points, success!</p>

<a href="/guide/rules/datapoints"><img src="/images/shared/icons/datapoint-48.png" width="50" height="50" border="0" alt="Datapoints" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/datapoints">Datapoints</a></h4>
<p>Currency you earn on The Nethernet. </p>

<a href="/guide/rules/pings"><img src="/images/shared/icons/ping-48.png" width="50" height="50" border="0" alt="Pings" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/pings">Pings</a></h4>
<p>A social currency that you earn by interacting with other players</p>

<a href="/guide/rules/missions"><img src="/images/shared/icons/lightpost-48.png" width="50" height="50" border="0" alt="Missions" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/missions">Missions</a></h4>
<p>An illuminated street way through The Nethernet created by the other lively player minds on the web.</p>

<a href="/guide/rules/recruit"><img src="/images/shared/icons/invite-48.png" width="50" height="50" border="0" alt="Invite" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/recruit">Recruit</a></h4>
<p>How to recruit people to join The Nethernet for fun and profit.</p>

<a href="/guide/rules/allies"><img src="/images/shared/icons/ally-48.png" width="50" height="50" border="0" alt="Allies" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/allies">Allies</a></h4>
<p>Allies are the players that you like and trust. They'll help you out when you need it, and you return the favor.</p>

<a href="/guide/rules/rivals"><img src="/images/shared/icons/rival-48.png" width="50" height="50" border="0" alt="Rivals" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/rivals">Rivals</a></h4>
<p>Rivals are players who are out to get you, or who you're out to get. Your friend who always mines your favorite sites? Rival them!</p>

<a href="/guide/rules/followers"><img src="/images/shared/icons/contacts-48.png" width="50" height="50" border="0" alt="Followers" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/followers">Followers</a></h4>
<p>Followers are players who have added you as a Contact, Ally, or Rival.</p>

						</div>
						
						<div class="width20"></div>

						<div class="width325">

<a href="/guide/rules/order"><img src="/images/shared/dressing/order-50.png" width="50" height="50" border="0" alt="Order" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/order">Order</a></h4>
<p>The Faction of Order includes the Classes of Pathmaker, Bedouin, and Benefactor as members.</p>

<a href="/guide/rules/chaos"><img src="/images/shared/dressing/chaos-50.png" width="50" height="50" border="0" alt="Chaos" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/chaos">Chaos</a></h4>
<p>The Faction of Chaos includes the Classes of Destroyer, Seer, and Vigilante as members.</p>

<a href="/guide/rules/starting_pathmaker"><img src="/images/shared/associations/icon/pathmaker-48.png" width="50" height="50" border="0" alt="Pathmaker" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/starting_pathmaker">Getting Started as a Pathmaker</a></h4>
<p>Community-generated rules to create by.</p>

<a href="/guide/rules/starting_seer"><img src="/images/shared/associations/icon/seer-48.png" width="50" height="50" border="0" alt="Seer" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/starting_seer">Getting Started as a Seer</a></h4>
<p>Tips and tricks from the best and brightest Seers on The Nethernet.</p>

<a href="/guide/rules/stewards"><img src="/images/icons/roles/steward-48.png" width="50" height="50" border="0" alt="PSMK9, aka Ninefinder" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/stewards">Stewards</a></h4>
<p>Watchers and helpers on The Nethernet.</p>

<a href="/guide/rules/trustees"><img src="/images/icons/roles/trustee-48.png" width="50" height="50" border="0" alt="PSMK9, aka Ninefinder" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/trustees">Trustees</a></h4>
<p>Maintenance crews for The Nethernet.</p>

<a href="/guide/rules/community"><img src="/images/shared/dressing/charactergroup-50.png" width="50" height="50" border="0" alt="Pings" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/community">Community Standards and Expectations </a></h4>
<p>The players are the most important part of The Nethernet. These Standards and Expectations apply to every single one of them.</p>

<a href="/guide/rules/terms"><img src="/images/shared/dressing/shoatreading-50.png" width="50" height="50" border="0" alt="Pings" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/terms">Terms of Service</a></h4>
<p>Our Terms of Service are the ties that bind you to The Nethernet. Big shocker here: no cheating!</p>

<a href="/guide/rules/irc"><img src="/images/shared/dressing/greenchat-50.png" width="50" height="50" border="0" alt="Pings" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/irc">IRC Conduct and Consequences</a></h4>
<p>You can chat on any website using our IRC client. We know. It's awesome. Here are some guidelines for behavior while you're there.</p>

<a href="/guide/rules/nsfw"><img src="/images/shared/dressing/nsfw-50.png" width="50" height="50" border="0" alt="NSFW" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/guide/rules/nsfw">NSFW</a></h4>
<p>Not Safe for Work: content marked with an explicit warning.</p>

						</div>
					
					</div>
				
				</div>
