<% content_for :title do %>Chat on the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/support" %>
		<div class="cell child"><span class="l"></span><span class="c">Chat</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			
				<div class="column width700">

					<div class="module width700">
					
<h1>The Nethernet Chat FAQ</h1><br />

<p>Connecting to The Nethernet Chat is as simple as clicking the "Chat" button on your toolbar.</p>

<p>If you're an advanced user, who is familiar with IRC, which the protocol behind The Nethernet Chat, you can connect by using the following server:</p>

<p>Server: irc.thenethernet.com port: 6667</p>
<p>Room: #thenethernet.com</p>

<p>If you need some help getting started with The Nethernet Chat, please read <a href="/forums/shoat-sanctuary/topics/pmog-chat-an-introduction">this easy introduction</a> to the client.</p>

<p>If you want to create your own chat channels on The Nethernet Chat, please <a href="/forums/social-tools/topics/pmog-chat-creating-your-own-chat-channels">refer to this guide</a> (advanced users only!)</p>

<p>Lastly, be sure to be familiar with the <a href="/about/irc">Chat Conduct and Consequences</a>, the rules of The Nethernet Chat.</p>

				</div>

				</div>

			</div>

			<%= render :partial => "shared/guide/support_block" %>

		</div>
