<% content_for :title do %>Frequently Asked Questions in <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/support" %>
		<div class="cell child"><span class="l"></span><span class="c">Frequently Asked Questions</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			
				<div class="column width960">

					<div class="module width960">

<h1>Frequently Asked Questions</h1>
<h5>wherein we anticipate your questions with answers</h5>
<br/>
<h3>Using The Nethernet</h3>
<ul>
<li>
<a href="#UsingTheNethernet01">How do I Play The Nethernet?</a>
</li>
</ul>

<h3>Privacy</h3>
<ul>
<li>
<a href="#Privacy01">"Privacy Extensions" and The Nethernet</a>
</li>
<li>
<a href="#Privacy02">Is the Nethernet out to steal and sell my browsing history?</a>
</li>
</ul>

<h3>Gameplay</h3>
<ul>
<li><a href="#GamePlay01">How Do I Make Progress in The Nethernet</a></li>
<li><a href="#GamePlay02">I can only lay mines -- no other tools function, and no other overlays show anywhere on the site.</a></li>
<li><a href="#GamePlay03">How do I turn the game off?</a></li>
<li><a href="#GamePlay04">When do I get access to [insert tool name here]?</a></li>
</ul>

<h3>The Toolbar</h3>
<ul>
<li><a href="#TheToolbar01">When I try to download the toolbar, I get "Download Error -228." What gives?</a></li>
<li><a href="#TheToolbar02">I just installed The Nethernet toolbar and I can't get the login box to appear. What can I do?</a></li>
<li><a href="#TheToolbar03">I am constantly seeing a "500 Error" or the toolbar is telling me the tubes are clogged.</a></li>
</ul>

<h3>Accounts</h3>
<ul>
<li><a href="#Accounts01">I can't remember my username/password &amp; the password recovery feature is not working for me.</a></li>
<li><a href="#Accounts02">How do I edit my preferences, such as whether sounds play or what Missions or Portals show up?</a></li>
</ul>

<h3>Not Seeing Anything Helpful?</h3>
<ul>
<li><a href="#NothingHelpful01">I still can't figure something out, I'd like to report a bug I've found, I have a few suggestions to make, or I want to speak to someone at PMOG personally about something.</a></li>
</ul>

<div class="height20"></div>
<!-- FAQ Content Begins Here -->
<!-- Using the nethernet FAQs -->

<dl>
<h3>Using The Nethernet</h3>
<dt><a name="UsingTheNethernet01"></a>How do I play The Nethernet?</dt>

<dd>The Nethernet is a game you're already playing when you surf the web.  Install the toolbar, and resume your ordinary web surfing, web research, shopping, socializing, gaming - whatever!  You'll find traps and treasure, missions and traces of the game across the Internet we're already surfing.</dd>

<dd><a href="/missions/welcome_to_the_nethernet">Take this Mission</a> if you want to get started with the game!  Or try pressing buttons in your toolbar to play with the web.</dd>
</dl>

<!-- Privacy FAQs -->

<dl>
<h3>Privacy</h3>
<dt><a name="Privacy01"></a>"Privacy Extensions" and The Nethernet</dt>

<dd>A number of The Nethernet players have made the neccesary exemptions for "Privacy Extensions," such as NoScript, to work along side The Nethernet toolbar.  We greatly value your privacy; our game is based on a constant back and forth communication between your toolbar and our server.  Just like any other MMO, we need a clear line of communication between your computer and ours.  If you want to continue using your privacy extentions we encourage you contact their developer on how to make the neccesary modifications to be compatible with The Nethernet.</dd>


<dd>Please make sure you have third party cookies enabled.  We require this because the extension is a third party from our website, which requires a cookie to log you in.  You can enable third party cookies from the Firefox Preferences/Options window.  Preferences > Privacy > Third Party Cookies.</dd>

<dd>Rarely, another extension or add-on you have installed in your browser might conflict with the toolbar. Try disabling any extensions you suspect might conflict with the Nethernet toolbar and see if your problem still persists.</dd>

<dt><a name="Privacy02"></a>Is the Nethernet out to steal &amp; sell my browsing history?</dt>

<dd>No, not at all.  <a href="/about/privacy">Our privacy policy</a> clearly outlines how and why we use your information.  The Nethernet needs to know what websites you're going to, because the game itself is based on surfing the Internet.  None of your private information is used for anything above or beyond creating a fun meta-experience for you to enjoy across the Internet, and we never sell your information to third parties.</dd>
</dl>

<!-- Gameplay FAQs -->

<dl>
<h3>Game Play</h3>
<dt><a name="GamePlay01"></a>How do I make progress in The Nethernet?</dt>

<dd>There are many ways you can advance yourself in The Nethernet, both through gameplay and by being social with other players.  However, the most basic approach is to use lots of tools to level up!  Head over to the Guide section of the website to learn what each tool does, and refer to the Rules to learn the specifics on leveling.  Learn the <a href="keycommands"> keyboard shortcuts</a> for real speed.</dd>


<dt><a name="GamePlay02"></a>I can only lay mines -- no other tools function, and no other overlays show anywhere on the site.</dt>

<dd>Again, you'll need to take a look at your extension list and figure out which extension is blocking The Nethernet toolbar from working correctly.  These normally include "privacy" extensions which prohibit PMOG from knowing which website your on, and therefore keep PMOG from sending you the right information.</dd>

<dt><a name="GamePlay03"></a>How do I turn the game off?</dt>

<dd>You can hide The Nethernet toolbar, and still keep earning points for future fun.  Hit the PMOG button in your browser navigation bar to show and hide the toolbar.</dd>

<dd>Also, there's a pause button in your toolbar, in case you need a break or some deeper privacy.</dd>

<dt><a name="GamePlay04"></a>When do I get access to [insert tool name here]?</dt>

<dd>You start off in The Nethernet with access to many tools.  However, you will also gain access to more tools as you level up.  For example, in order to gain access to Crates, you will need to use a handful of DP Cards first.  You can read more about the leveling process and which tools you get at what levels on <a href="/guide/rules/levels">The Levels Guide</a>.
</dl>

<!-- Toolbar FAQs -->

<dl>
<h3>Toolbar</h3>
<dt><a name="Toolbar01"></a>When I try to download the toolbar, I get "Download Error -228."  What gives?</dt>

<dd>This error occurs rarely when your computer is unable to connect to ours to download the extension.  If you receive this error, wait a few minutes and try again.  It normally goes away very quickly.</dd>

<dd><i>Note: If you have disabled your computer from storing a cache for Firefox, you must re-enable it to download the The Nethernet toolbar.  Simply open up Firefox's preferences then Tools > Options > Advanced > Network.  And re-enable it.</i></dd>

<dt><a name="Toolbar02"></a>I just installed The Nethernet toolbar and I can't get the login box to appear. What can I do?</dt>

<dt><a name="Toolbar03"></a>I am constantly seeing a "500" error or the toolbar is telling me the tubes are clogged.</dt>

<dd>When things are being tweaked and adjusted behind the scenes, you may temporarily receive "500" errors, or a notification that the tubes are clogged.  Normally, within a few minutes, everything is back to normal.  However, you may also want to refer to the Maintenance section of the Community Blog to make sure you aren't trying to access The Nethernet during a scheduled downtime.</dd>
</dl>

<!-- Accounts FAQs -->

<dl>
<h3>Accounts</h3>
<dt><a name="Accounts01"></a>I can't remember my username/password. &amp; the password recovery feature is not working for me.</dt>

<dd>If you can't remember your username, forgot your password, or the password recovery feature isn't working for you, simply e-mail accounts at pmog dot com from the e-mail address you originally signed up to play The Nethernet from or use <a href="/about/contact">the contact form</a> and we'll help you get back up and running again.</dd>


<dt><a name="Accounts02"></a>How do I edit my preferences, such as whether sounds play or what Missions or Portals show up?</dt>

<dd>From the toolbar, click onto the "Gear" and then choose Preferences > In Game Preferences.</dd>
</dl>

<!-- Everything Else -->

<dl>
<h3>Not Seeing Anything Helpful?- We are here for you.</h3>
<dt><a name="NothingHelpful01"></a>I still can't figure something out, I'd like to report a bug I've found, I have a few suggestions to make, or I want to speak to someone at PMOG personally about something.</dt>

<dd>We have created a number of other outlets, aside from the forums, for you to use if you need to contact us. <a href="/about/contact"> http://pmog.com/about/contact</a> has a comprehensive list of e-mail addresses that will directly connect you to our staff.</dd>

<dd>Your feedback is especially valuable to us, as well as your bug reports and ability to access our game.</dd>

<dd>If you ever need assistance, please use the corresponding e-mail address from our contact page to get in touch with us.</dd>

<!--<dd>Your Community Support Liaison, <a href="/users/burdenday">burdenday</a>, is also always ready for a PMail regarding complaints, quick questions or distress calls.</dd>-->

</dl>

<div class="height20"></div>
<h2>Thanks again for playing The Nethernet; a game is nothing without its players.</h2>


				</div>

				</div>

			

			<%= render :partial => "shared/guide/support_block" %>

		</div>
