<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Support</span><span class="r"></span></div>
	</div>
<% end %>

<div id="copy">
		
	<div class="column width960">

		<div class="module width960">

			<div class="imageTop">						
				<img src="/images/shared/dressing/birdbots-315.png" alt="Get Supported" align="middle" width="315" height="250" />
			</div>
	 
			<div class="copyTop"> 
	
<h3>Getting Support for The Nethernet</h3>
							
<p>You're not alone out there!</p>

<p><a href="http://thenethernet.com/users/burdenday">burdenday,</a> your Community Support Liaison, is ready, willing and able to assist you, should you ever need assistance with the Nethernet. Below you will find some pages that will answer some basic questions about the game itself, as well as explain some of the functions of the toolbar.</dd>

<p>General questions, or introductions to the community, may be posted in our "newbie forum," <a href="/forums/shoat-sanctuary">the Shoat Santuary</a>.</dd>

<p>For your individual concerns or issues, personal support is available by contacting us <a href="http;//thenethernet.com/about/contact">using our contact form</a>, or posting your question on our <a href="/forums/help-support-bug-reports/">Help, Support & Bug Reports Forum</a>.

<p>The Nethernet can be a tricky place sometimes, so please don't hesitate to get the support you need!</dd>

				</div>

				</div>

			</div>

			<%= render :partial => "shared/guide/support_block" %>

		</div>
