<% content_for :title do %>Installation, part of <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/support" %>
		<div class="cell child"><span class="l"></span><span class="c">Installing The Nethernet</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">

<h1>Installing The Nethernet Toolbar</h1><br />

    <p>The Nethernet is a game you play in your Mozilla, Firefox or Flock web browser.</p>
    
  <p>You can get it from the <a href="/about/versions">The Nethernet Versions page</a>.</p>
   
  <p>After clicking the link labled "Install the Latest Toolbar for Firefox" on the page, you'll then see one dialog box:</p>
  
  <p align="center"><img src="/images/help/pmogunsigned.png" alt="PMOG unsigned" border="0" width="417" height="422" /></p>
  
  <p>Then you'll be asked to restart Firefox.  Now, you'll see something like this:</p>
  
  <p align="center"><img src="/images/help/nethernetlogin.png" alt="Nethernet Login" border="0" width="612" height="24" /></p>
  
  <p>Sign in with the username/password you've used when you signed up for a Nethernet account (not your e-mail address!) by clicking on the Login button and selecting "New Login."  And then you're playing The Nethernet :-D</p>
  
  <h2>Other Browsers</h2>
  
  <p>The Nethernet toolbar is currently running on Firefox and <a href="http://flock.com">Flock</a>, and maybe other Mozilla-code based browsers:</p>

  <center>
    <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded."><img src="/images/help/getfirefox.png" width="288" height="100" border="0" alt="Get Firefox" class="img_no_border"></a> 
  </center>
  
  <br /><br />
  
  <p>Once you've got that working, you can find more help <a href="/guide/support/toolbar">help on the toolbar</a>.</p>
  
				</div>

				</div>

			</div>

			<%= render :partial => "shared/guide/support_block" %>

		</div>
