<% content_for :title do %>Keyboard Shortcuts, part of <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/support" %>
		<div class="cell child"><span class="l"></span><span class="c">Keyboard Shortcuts</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			
				<div class="column width700">

					<div class="module width700">
					
<h1>Nethernet Key Commands</h1>
<h5>Expediting Play</h5>

<p>The Nethernet supports keyboard shortcuts for common actions.</p>

<p>Whether the toolbar is hidden or showing, you should be able to hold down these keys and press these buttons to use tools or respond to overlays.</p>

<p>Our modifier keys today are control and alt on a PC or Linux keyboard, and control and option on a Mac keyboard.</p>


<table class="stripeMe list">
<tbody>

<tr class="whiteOdd">
<td><h2>Modifier</h2></td>
<td></td>
<td><h2>Key Effect</h2></td>
</tr>

<tr class="whiteEven">
<td>Escape</td>
<td></td>
<td>Close the oldest overlay on your screen.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>H</td>
<td>Show or Hide the Nethernet toolbar.</td>
</tr>

<tr class="whiteEven"><td>control+alt</td>
<td>C</td>
<td>Stash a Crate.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>L</td>
<td>Place a Lightpost.</td>
</tr>

<tr class="whiteEven">
<td>control+alt</td>
<td>A</td>
<td>Wear or remove your Armor.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>M</td>
<td>Lay a Mine.</td>
</tr>

<tr class="whiteEven">
<td>control+alt</td>
<td>D</td>
<td>Play a DP Card.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>N</td>
<td>Prepare a St. Nick.</td>
</tr>

<tr class="whiteEven">
<td>control+alt</td>
<td>P</td>
<td>Create a Portal.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>G</td>
<td>Throw a Grenade.</td>
</tr>

<tr class="whiteEven">
<td>control+alt</td>
<td>W</td>
<td>Unleash a Watchdog.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>V</td>
<td>Venture Forth on a Queued Mission.</td>
</tr>

<tr class="whiteEven">
<td>control+alt</td>
<td>J</td>
<td>Jaunt!</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>I</td>
<td>Open/close your mini-profile from the toolbar.</td>
</tr>

<tr class="whiteEven">
<td>control+alt</td>
<td>S</td>
<td>Open up a PMail window.</td>
</tr>

<tr class="whiteOdd">
<td>control+alt</td>
<td>T</td>
<td>Toggle text, icon, icon+text display for the toolbar.</td>
</tr>
</tbody>
</table>


				</div>

				</div>

			</div>

			<%= render :partial => "shared/guide/support_block" %>

		</div>
