<% content_for :breadcrumbs do %>
  <div id="breadcrumbs">
    <%= render :partial => "shared/breadcrumbs/support" %>
    <div class="cell child"><span class="l"></span><span class="c">Login</span><span class="r"></span></div>
  </div>
<% end %>

    <div id="copy">

      <div class="column width960">

        <div class="column width700">

          <div class="module width700">

<h1>Logging In To The Nethernet Toolbar</h1>
<h5>Sometimes the First and Hardest Task</h5>

  <dl>
    <dt>The Nethernet Extension Login</dt>

    <dd>
      <p>If you are having problems logging in, here are some steps you can take to remedy the problem:</p>
      <p>1. Your stored passwords may be corrupt or incorrect. Try overwriting them by hand using the 'New Login' option in the Login menu:</p>
        <center>
        <img src="/images/help/loggingin.png" alt="enter the credentials for a new login" width="560" height="190" border='1'>
      </center>
      <br/>
       <p>2. Alternatively, you may need to reset your Nethernet Profile.  If you're recently experienced problems staying logged in to The Nethernet (restarting your browser means you're logged out, for example), then you may need to reset your Nethernet Profile from within Firefox.  If you click on the 'Gear' icon, choose Preferences and then Reset Profile, the problem should be solved on the next restart. Be aware that you will need to enter your password again.</p>
    <p>Here's what the Reset Profile button looks like:</p>
      <center>
        <img src="/images/help/nethernetresetprofile.png" alt="clear your stored Nethernet passwords" width="481" height="297" border='1'>
      </center>
      <br/>

      <p>For all other login problems, try <a href='/sessions/find/'>resetting your password</a> and if that fails to work, <a href='/about/contact/'>get in touch</a>.</p>
    </dd>
  </dl>

  <p align="center"><a href="/help/toolbar">More Toolbar Help</a></p>

        </div>

        </div>

      </div>

      <%= render :partial => "shared/guide/support_block" %>

    </div>
