<% content_for :title do %>The Toolbar, part of <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/support" %>
		<div class="cell child"><span class="l"></span><span class="c">Toolbar</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			
				<div class="column width960">

					<div class="module width960">
					
						<h1>The Nethernet Toolbar</h1>
						<h5>Commencing and Extending Your Play</h5> 

						<dl>
						<dt>Installation</dt>
							<dd>Lacking The Nethernet extension?  Check out our <a href="/guide/support/install">Installation Help Page</a> to download and install a fresh copy of The Nethernet.</dd>

						<dt>Updates</dt>
							<dd>
						The latest version of The Nethernet will always have the latest, greatest and most up-to-date fixes for your toolbar.  Be sure you're up-to-date!  Check the <a href="http://news.thenethernet.com">The Nethernet Version History Page</a> information about when the most recent version of the toolbar was released.</dd>

						<dt>Using the Toolbar</dt>

						<dd>So now you've freshly installed The Nethernet, a game you play in your web browser!  At the top of your browser, you'll notice the toolbar:</dd>

						<div class="height20"></div>
						<div class="center"><a href="/guide/support/install"><img src="/images/help/nethernettoolbar.png" alt="Toolbar" border="0" width="783" height="76"></a></div>

						<dd>The following explains what each section of the toolbar can do:

						<ol>
						<li>One-Click Action:  Feeling Orderly?  Use the "Awsm!" button to leave behind a gift for another player to pick up later.</li>
						<li>Feeling Chaotic?  Use the "Attack!" button to lay a mine, which will explode on the next player to visit the site you are on!</li>
						<li>Explore/Create: The Explore menu lets you delve into the world of Missions and other Nethernet events, and the Create menu lets you interact with the webpage you're currently on.</li>
						<li>Get Social! Quick links to Chat, PMail (player-to-player mail), and the Forums!</li>
						<li>One Click Tools!: Click any of the icons to deploy that particular tool onto the website you're viewing.  If you see an arrow next to the tool, click it to view more options.</li>
						<li>You and Your Friends: Check out what your contacts have been up to by clicking on the Contacts icon, or click your own avatar to view your mini profile.</li>
						<li>Other areas of interest:  From Left to Right: the Shoppe, the Events Stream, the Community Blog, the Support Center, and the "Gear" menu with many login options.</li>
						<li>DP and Pings:  Your current spendable Datapoints, and your current available Pings!</li>
						</ol>
						</dd>

						<dd>Each item on the toolbar has a helpful tooltip that provides you with additional information as to exactly what its function is.  Specific tools also provide you with your current inventory count of that particular tool.</dd>

						<div class="height20"></div>
						<div class="center"><img src="/images/help/nethernettooltips.png" alt="nethernet tooltips"></div>

						<a name="keyboardshortcuts"></a><dt>Keyboard Shortcuts</dt>

							<dd>Lay Mines, close Portals, send messages in a jiff!  The Nethernet toolbar supports the pressing of keys on your keyboard for common Nethernet commands.  For example, control+alt+H will hide or show your toolbar. See our <a href="/guide/support/keycommands">Key Commands Page</a> for more details.</dd>

						<a name="hidingpmog"></a><dt>Hiding and Pausing The Nethernet</dt>

							<dd>You can hide the toolbar, while logged in, and still earn datapoints and see game events, by clicking on the "N" in your Firefox's status bar at the bottom of your browser.</dd>

						<div class="height20"></div>
							<div class="center"><img src="/images/help/hidingthenethernet.png" alt="hiding the The Nethernet toolbar">
							<p>Clicking that button shown above will toggle your The Nethernet toolbar hidden or visible.</p></div>

							<dd>That button appears in the Firefox "status bar" which can be turned on and off.  If you've hidden The Nethernet and you can't get it back, try the hide/show keyboard shortcut: control+alt+H</dd>

						<dd>If you ever need a break from the Nethernet, you can pause the game by clicking on the "Gear" and choosing Pause.  During this time you will not earn datapoints, and you will not see game events.</dd>

						<div class="height20"></div>
						<div class="center"><img src="/images/help/pausingthenethernet.png" alt="nethernet pausing"></div>


						<a name="contentqualitythreshold"></a><dt>Cutting down on The Nethernet Events</dt>

							<dd>Are you seeing too many Portals and Missions everywhere?  You can turn the number of Missions and Portals you see through your The Nethernet preferences.</dd>

							<dd>Open your preferences from the Gear menu on the right side of your The Nethernet toolbar.  There you can control a number of things about The Nethernet, including the "Content Quality Threshold" along with others:</dd>

						<div class="height20"></div>
							<div class="center"><img src="/images/help/nethernetpreferences.png" alt="Content Quality Preferences settings" border="0" /><p>The higher that number is, between 1 and 5, the fewer Portals and Missions you will see.</p></div>

							<dd>We recommend 4 as a good way to see the best of the best.  5 is just about nothing!  And 1 is everything, low and high rated.</dd>

						<dt>Login Issues</dt>

							<dd>Are you unable to login to the extension?  Check our <a href="/guide/support/login">Login Help Page</a>.</dd>

						<dt>Incompatibilities</dt>
							<dd>Some "Privacy" extensions cause conflicts with The Nethernet toolbar.  You will either have to disable them, or modify their settings to work with The Nethernet.</dd>

						<dt>Playing Across the Web</dt>

							<dd>So, now, how do you play Nethernet?  Ignore everything here, continue on your web browsing.  Once in a while, glance at your score.  Maybe click on a tool.  Or wait for a tool to click on you!</dd>

							<dd>If you see something like this pop up in your browser:</dd>

						<div class="height20"></div>
							<div class="center"><img src="/images/help/nethernetgameevent.png" alt="event: crates have landed!" border="0" />
							<p>That's a <b>Nethernet overlay</b>, someone in this case has taken my portal.</p>
							</div>

						<div class="height20"></div>

							
						<dt>More Help</dt>

						<dd>Take your time and experiment with the Nethernet toolbar... learn its secrets!  You can't break the internet by poking at buttons on the toolbar.  See <a href="/guide/support">our Support page</a> if you're stuck!</dd>
						</dl>


				</div>

				</div>

			</div>

			<%= render :partial => "shared/guide/support_block" %>

		</div>

