		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell parent"><a href="/guide/characters"><span class="l"></span><span class="c">Characters</span><span class="r"></span></a></div>
