<h1>Recommendations</h1>
<h5>Looking into the crystal ball</h5>

<br/>
<br/>

<a href='/recommendations/users/'>Recommended users</a>
<br/>
<a href='/recommendations/locations'>Recommended websites</a>
