/* STYLE CHANGES FROM LANCE BASE.CSS -kristin */

div.module h4 {
  font-size: 14px !important;
  margin-bottom: 5px !important;
  line-height: 14px !important;
}
/* Already Added to base.css
div.module a {
  color: #1B5790 !important;
}
img.thumb {
  border: 1px solid #ff931e;
  float: left;
  margin: 0 10px 2px 0 !important;
}
.ui-tabs-nav a {
    padding-left: 0;
    color: #2d2d2d !important;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: 0; /* prevent dotted border in Firefox */
/* }
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    z-index: 2;
    margin-top: 0;
    color: #2d2d2d !important;
}
Above has been added to base already */

table.leaderboardTable th {
  font-weight: bold;
  padding-right: 20px;
  border-bottom:1px dashed #000;
}

table.leaderboardTable td {
  max-width: 160px;
  overflow: hidden;
/* above added to keep the table from breaking */
  padding-right: 20px;
}
table.leaderboardTable {
  width: 100%;
}

/* ADDITIONS TO THE BASE */

div#navAUser {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 2px 0px 0px;
  margin: 0 0 0 0;
  -moz-border-radius: 5px;
}

div#navAUser ul {
  list-style-type: none;
  margin: 0;
}
div#navAUser li {
  display: block;
  float: left;
  font-family: 'Diavlo Medium', sans-serif;
  font-size: 12px;
}
div#navAUser li {
  padding: 0 5px;
}
div#navAUser li a {
  color: #666;
}
div#navAUser li a.blue {
  color: #069;
}

div#profileAdmin div.name {
  border-top: 1px dashed #666;
  padding: 15px 15px 20px 15px;
}
div#profileAdmin div.motto {
  padding: 0 15px;
}
div#profileAdmin h4 {
  margin-bottom: 0;
}
div#profileAdmin p {
  margin-bottom: 0;
}

div#profileSteward div.name {
  border-top: 1px dashed #666;
  padding: 15px 15px 20px 15px;
}
div#profileSteward div.motto {
  padding: 0 15px;
}
div#profileSteward h4 {
  margin-bottom: 0;
}
div#profileSteward p {
  margin-bottom: 0;
}

#footlinks {
  padding-top: 12px;
}

#levelNotice {
  text-align: right;
  display: block;
  color: #ff0000;
}

img.icon32 {
background: !important; <!-- we need to tune the bgcolor on icon32 in base.css -->
}
/* Two new widths for div.columns */
div.column .width275 { /* SEPARATES Guide/Class, etc Header Areas INTO 2 COLUMNS  (requires spacer') */
  width: 275px;
  float: left;
}
div.column .width340 { /* SEPARATES Levels/etc WIDTH MODULE INTO 2 COLUMNS  (requires spacer') */
  width: 346px;
  height: 315px;
  border-bottom: 2px dashed #C1C1C1;
  float: left;
  padding: 20px 15px;
  /*-moz-border-radius: 16px;
  -webkit-border-radius: 16px; */
}

/* AWSM ATTACKS PAGE */

ol.awsm_page {
  margin: 0 0 0 10px;
}
ol.awsm_page li {
  position: relative;
  width: 420px;
  height: 35px;
  padding: 5px 10px;
  overflow: hidden;
  font-family: 'Diavlo Medium', Georgia, sans-serif;
  font-size: 12px;
}

ol.awsm_page li div {
  position: absolute;
  top: 4px;
  left: 30px;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
}
ol.awsm_page li div span {
  font-size: 11px;
  font-style: italic;
}

div#attacks_page p.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  line-height: normal;
}

table.list td {
  vertical-align: top;
}

/* Shoppe */

div#shoppe table {
  vertical-align: top;
  width: 100%;
}

div#shoppe table td {
  font-family: 'Diavlo Medium', Georgia, serif;
  font-size: 14px;
  color: #454545;
  left-padding: 0px;
  vertical-align: top;
  align: left;
  text-align: left;
  border-bottom: 1px solid #4d4d4d;
}

div#shoppe table td p {
  font-size: 14px;
  color: #454545;
  padding: 0px;
  vertical-align: top;
}

div#shoppe table.stripeMe td.checkout {
  text-align: left;
  }

div#shoppeInventory {
}
div#shoppeInventory div#inventory {
  float: left;
  width: 240px;
  padding: 10px; 5px; 10px 15px;
}
div#shoppeInventory div#purse {
  float: left;
  width: 95px;
  padding: 10px 15px 10px 0;
}
div#shoppeInventory div#inventory h3 {
  margin-bottom: 20px;
}
div#shoppeInventory div#purse h3 {
  margin-bottom: 10px;
}
div#shoppeInventory div#inventory div.tool {
  float: left;
  width: 90px;
  margin: 0 10px 15px 0;
  font-family: 'Diavlo Medium', Georgia, serif;
  font-size: 14px;
  color: #454545;
}
div#shoppeInventory div#purse div#inside {
  background-image: url('/images/shared//back_module-white.png');
  border: 1px solid #999;
  width: 93px;
  padding: 10px;
}


/* ??? */

a.mission_lock_nsfw, a.mission_lock_signup,
a.mission_take_button, a.mission_take_nsfw,
a.mission_favorite, a.mission_unfavorite,
a.mission_queue, a.mission_unqueue,
a.button_take_locked, a.button_queue_locked,
a.button_sign_in,
div.shareThis {
  display: block;
  float: left;
  font-family: 'Diavlo Medium', Georgia, serif;
  font-size: 16px;
  width: 127px;
  height: 20px;
  margin: 0 10px 10px 0;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border: 2px solid #dbdbdb;
  -moz-border-radius: 6px;
}

a.mission_lock_nsfw:hover, a.mission_lock_signup:hover,
a.mission_take_button:hover, a.mission_take_nsfw:hover,
a.mission_favorite:hover, a.mission_unfavorite:hover,
a.mission_queue:hover, a.mission_unqueue:hover,
a.button_sign_in:hover, 
div.shareThis:hover {
  background-color: #9fc5d9;
  border-color: #fff;
}
a.mission_lock_nsfw span.red, a.mission_take_nsfw span.red {
  color: #ac1111;
}
a.button_take_locked, a.button_queue_locked {
  color: #999!important;
  cursor: default;
}

a.mission_lock_nsfw, a.mission_lock_signup {
  background-image: url('/images/shared/ButtonIcons/lock.png');
}
a.mission_take_button,
a.mission_take_nsfw {
  background-image: url('/images/shared/ButtonIcons/Take.png');
}

a.mission_favorite {
  background-image: url('/images/shared/ButtonIcons/Favorite.png');
}

a.mission_unfavorite {
  background-image: url('/images/shared/ButtonIcons/unFavorite.png');
}

a.mission_queue,
a.mission_unqueue {
  background-image: url('/images/shared/ButtonIcons/Queue.png');
}

a.button_sign_in {
  background-image: url('/images/shared/icons/login-16.png');
}

input[type="button"].wee {
 height: auto;
 background-color: #fff;
 border: 2px solid #bbb;
 font-family: 'Diavlo Medium', Georgia, serif;
 font-size: 12px;
 color: #069;
 padding: 2px 5px;
 -moz-border-radius: 8px;
 cursor: pointer;
}
input[type="button"].wee:hover {
 background-color: #9fc5d9;
 border: 2px solid #fff;
}


a.button_take_locked, a.button_queue_locked,
a.missions_index_take, a.missions_index_taken,
a.missions_index_queue, a.missions_index_unqueue,
a.missions_index_favorite, a.missions_index_unfavorite,
a.missions_learn_more, a.button_sign_in {
  display: block;
  float: left;
  font-size: 16px;
  width: 127px;
  height: 20px;
  margin: 5px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border: 2px solid #dbdbdb;
  -moz-border-radius: 6px;
}
a.missions_index_queue:hover, a.missions_index_unqueue:hover,
a.missions_index_favorite:hover, a.missions_index_unfavorite:hover,
a.missions_index_take:hover, a.missions_index_taken:hover,
a.missions_learn_more:hover, a.button_sign_in {
  background-color: #9fc5d9;
  border-color: #fff;
}
a.button_take_locked, a.button_queue_locked {
  color: #999!important;
  cursor: default;
}
a.button_take_locked {
  background-image: url('/images/shared/ButtonIcons/Take_locked.png');
}
a.button_queue_locked {
  background-image: url('/images/shared/ButtonIcons/Queue_locked.png');
}
a.missions_index_take {
  background-image: url('/images/shared/ButtonIcons/Take.png');
}
a.missions_index_taken {
  background-image: url('/images/shared/ButtonIcons/Taken.png');
}
a.missions_index_queue, a.missions_index_unqueue {
  background-image: url('/images/shared/ButtonIcons/Queue.png');
}
a.missions_index_favorite {
  background-image: url('/images/shared/ButtonIcons/Favorite.png');
}
a.missions_index_unfavorite {
  background-image: url('/images/shared/ButtonIcons/unFavorite.png');
}

/* styles for the star rater */

.star-rating {
  list-style: none;
  padding: 0px;
  margin: 0;
  width: 125px;
  height: 25px;
  position: relative;
  background: url(/images/missions/show_layout/star_rating_vert.png) top left repeat-x;
}

.star-rating li {
  padding: 0px;
  margin: 0px;
  float: left;
}

.star-rating li a {
  display: block;
  width: 25px;
  height: 25px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
}

.star-rating li a:hover {
  background: url(/images/missions/show_layout/star_rating_vert.png) left bottom;
  z-index: 2;
  left: 0px;
  border: none;
}

.star-rating a.one-stars {
  left: 0px;
}

.star-rating a.one-stars:hover {
  width: 25px;
}

.star-rating a.two-stars {
  left: 25px;
}

.star-rating a.two-stars:hover {
  width: 50px;
}

.star-rating a.three-stars {
  left: 50px;
}

.star-rating a.three-stars:hover {
  width: 75px;
}

.star-rating a.four-stars {
  left: 75px;
}

.star-rating a.four-stars:hover {
  width: 100px;
}

.star-rating a.five-stars {
  left: 100px;
}

.star-rating a.five-stars:hover {
  width: 125px;
}

.star-rating li.current-rating {
  background: url(/images/missions/show_layout/star_rating_vert.png) top left;
  position: absolute;
  height: 25px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}


td.event_list {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 12px 20px 12px 20px;
}

img.forum_post_created {
  background-image: url("/images/shared/icons/forums-32.png");
}

img.forum_topic_created {
  background-image: url("/images/shared/icons/forums-32.png");
}

img.user_leveled {
  background-image: url("/images/shared/icons/classpoint-32.png");
}

img.crate_stashed {
  background-image: url("/images/shared/icons/crate-32.png");
}

img.stealth_crate_stashed {
  background-image: url("/images/shared/icons/stealth_crate-32.png");
}

img.stealth_crate_looted {
  background-image: url("/images/shared/icons/stealth_crate-32.png");
}

img.crate_looted {
  background-image: url("/images/shared/icons/crate-32.png");
}

img.ever_crate_expired {
  background-image: url("/images/shared/icons/ever_crate-32.png");
}

img.giftcard_stashed {
  background-image: url("/images/shared/icons/dp_card-32.png");
}

img.giftcard_looted {
  background-image: url("/images/shared/icons/dp_card-32.png");
}

img.exploding_crate_detonated {
  background-image: url("/images/shared/icons/exploded_crate-32.png");
}

img.exploding_crate_deflected {
  background-image: url("/images/shared/icons/armor-32.png");
}

img.puzzle_crate_looted {
  background-image: url("/images/shared/icons/puzzle_crate-32.png");
}

img.skeleton_key_created {
  background-image: url("/images/shared/icons/skeleton_key-32.png");
}

img.skeleton_key_used {
  background-image: url("/images/shared/icons/skeleton_key-32.png");
}

img.mine_deployed {
  background-image: url("/images/shared/icons/mine-32.png");
}

img.abundant_mine_tripped {
  background-image: url("/images/shared/tools/icon/abundant_mine-32.png");
}

img.stealth_mine_tripped {
  background-image: url("/images/shared/tools/icon/stealth_mine-32.png");
}

img.mine_tripped {
  background-image: url("/images/shared/icons/mine_explosion-32.png");
}

img.mine_deflected {
  background-image: url("/images/shared/icons/armor-32.png");
}

img.mine_armor_destroyed {
  background-image: url("/images/shared/tools/icon/mine-destroyed.png");
}

img.grenade_armor_destroyed{
  background-image: url("/images/shared/tools/icon/grenade-destroyed.png");
}

img.ballistic_nick_armor{
  background-image: url("/images/shared/tools/icon/ballistic-destroyed.png");
}

img.mine_dodged {
  background-image: url("/images/shared/icons/dodge-32.png");
}

img.mine_disarmed {
  background-image: url("/images/shared/icons/disarm-32.png");
}

img.mine_vengeance {
  background-image: url("/images/shared/tools/icon/vengeance-32.png");
}

img.abundant_portal_deployed {
  background-image: url("/images/shared/icons/abundant_portal-32.png");
}

img.portal_deployed {
  background-image: url("/images/shared/icons/portal-32.png");
}

img.portal_expired {
  background-image: url("/images/shared/icons/portal-32.png");
}

img.portal_used {
  background-image: url("/images/shared/icons/portal-32.png");
}

img.portal_used {
  background-image: url("/images/shared/icons/portal-32.png");
}

img.abundant_portal_used {
  background-image: url("/images/shared/icons/abundant_portal-32.png");
}

img.grenade_deployed {
  background-image: url("/images/shared/icons/grenade-32.png");
}

img.grenade_tripped {
  background-image: url("/images/shared/icons/grenade-32.png");
}

img.grenade_deflected {
  background-image: url("/images/shared/icons/armor-32.png");
}

img.grenade_dodged {
  background-image: url("/images/shared/icons/dodge-32.png");
}

img.grenade_disarmed {
  background-image: url("/images/shared/icons/disarm-32.png");
}

img.grenade_vengeance {
  background-image: url("/images/shared/tools/icon/vengeance-32.png");
}

img.watchdog_activated {
  background-image: url("/images/shared/icons/watchdog-32.png");
}

img.watchdog_deployed {
  background-image: url("/images/shared/icons/watchdog-32.png");
}

img.st_nick_activated {
  background-image: url("/images/shared/icons/st_nick-32.png");
}

img.st_nick_dodged {
  background-image: url("/images/shared/icons/dodge-32.png");
}

img.st_nick_disarmed {
  background-image: url("/images/shared/icons/disarm-32.png");
}

img.ballistic_st_nick_attached {
  background-image: url("/images/shared/tools/icon/ballistic_nick-32.png");
}

img.ballistic_nick_damage {
  background-image: url("/images/shared/tools/icon/ballistic_nick-32.png");
}

img.ballistic_nick_disarmed {
  background-image: url("/images/shared/icons/disarm-32.png");
}

img.ballistic_nick_dodged {
  background-image: url("/images/shared/icons/dodge-32.png");
}

img.mission_published {
  background-image: url("/images/shared/icons/missions-32.png");
}

img.mission_completed {
  background-image: url("/images/shared/icons/missions-32.png");
}

img.lightpost_deployed {
  background-image: url("/images/shared/icons/lightpost-32.png");
}

img.badge_unlocked {
  background-image: url("/images/shared/icons/badge-32.png");
}

img.destroyer_leaderboard {
  background-image: url("/images/shared/associations/icon/destroyer-32.png");
}

img.seer_leaderboard {
  background-image: url("/images/shared/associations/icon/seer-32.png");
}

img.vigilante_leaderboard {
  background-image: url("/images/shared/associations/icon/vigilante-32.png");
}

img.pathmaker_leaderboard {
  background-image: url("/images/shared/associations/icon/pathmaker-32.png");
}

img.bedouin_leaderboard {
  background-image: url("/images/shared/associations/icon/bedouin-32.png");
}

img.benefactor_leaderboard {
  background-image: url("/images/shared/associations/icon/benefactor-32.png");
}

img.signup {
  background-image: url("/images/shared/associations/icon/shoat-32.png");
}

img.invitation {
  background-image: url("/images/shared/icons/invite-32.png");
}

img.profile_updated {
  background-image: url("/images/shared/icons/gear-32.png");
}

img.comment_created {
  background-image: url("/images/shared/icons/pen-32.png");
}

img.connection_approved {
  background-image: url("/images/shared/icons/contacts-32.png");
}

img.connection_removed {
  background-image: url("/images/shared/icons/contacts-32.png");
}

img.acquaintance_added {
  background-image: url("/images/shared/icons/contacts-32.png");
}

img.ally_added {
  background-image: url("/images/shared/icons/ally-32.png");
}

img.rival_added {
  background-image: url("/images/shared/icons/rival-32.png");
}

img.user_created {
  background-image: url("/images/shared/associations/icon/shoat-32.png");
}

img.user_pardoned {
  background-image: url("/images/shared/icons/gear-32.png");
}

img.user_suspended {
  background-image: url("/images/shared/icons/gear-32.png");
}

img.impede_cast {
  background-image: url("/images/shared/icons/impede-32.png");
}

img.overclock_cast {
  background-image: url("/images/shared/icons/overclock-32.png");
}

/* this event doesn't sync with the database or events list - it's for stats */
img.pmail_sent {
  background-image: url("/images/shared/icons/pmail-32.png");
}


.flash_notice {
  background: #fff6bf url(/images/shared/icons/bullet_error.png) center no-repeat;
  background-position: 15px 50%; /* x-pos y-pos */
  text-align: left;
  padding: 5px 20px 5px 45px;
  border-top: 2px solid #ffd324;
  border-bottom: 2px solid #ffd324;
}

.flash_error {
  background: #FB7070 url(/images/shared/icons/exclamation.png) center no-repeat;
  background-position: 15px 50%; /* x-pos y-pos */
  text-align: left;
  padding: 5px 20px 5px 45px;
  border-top: 2px solid #D43C3C;
  border-bottom: 2px solid #D43C3C;
  color: #FFF;
}

.forms select#user_date_of_birth_3i {
  width: 60px;
}

.forms select#user_date_of_birth_2i {
  width: 80px;
}

.forms select#user_date_of_birth_1i {
  width: 100px;
}

.forms select#user_gender {
  width: 100px;
}

.forms select#The_Nethernet_Mission_Content_Quality_Threshold {
  width: 60px;
}

.forms select#The_Nethernet_Portal_Content_Quality_Threshold {
  width: 60px;
}

/* Attempt to add icons in level status bar - unsuccessful */

div#profileClasses div.levelouter {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
height:16px !important;
width:130px !important;
}
}
div#profileClasses div.levelinner {
  height: 16px;
  min-width: 1px;
  position: relative!important;
}
div#profileClasses div.levelinner.top {
  background-color: #ffd20c;
}
div#profileClasses div.levelinner.btm {
  background-color: #f92301;
}
div#profileClasses div.levelinner .level_progressIconDP,
div#profileClasses div.levelinner .level_progressIconCP {
  position: absolute:
  top: 0;
  left: 0;
  height: 16px:
  width: 16px;
}
div#profileClasses div.levelinner .level_progressIconDP {
  background-image: url("/images/shared/icons/datapoint-16.png");
  background-color: red;
}
div#profileClasses div.levelinner .level_progressIconCP {
  background-image: url("/images/shared/icons/classpoint-16.png");
}

/* DD, DL, DT, OL stylings*/
dl h3 {margin: 20px 0 15px;}
dt {
  color: #2d2d2d;
  font-family: 'Diavlo Medium', Georgia, sans-serif;
  font-size: 14px !important;
  margin: 20px 10px 10px 5px;
}
dd {
  width: 700px;
  margin-left: 1.5em !important;
  margin-top: 10px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #333;
}
/*ol {
  margin: 15px 0 5px 2em !important;
  }
*/
/* Hover State Buttons */
input[type="submit"]:hover {
  /*height: auto;*/
  background-color: #9FC5D9;
  /*border: 5px solid #DBDBDB;
  font-family: 'Diavlo Medium', Georgia, serif;
  font-size: 24px;
  color: #069;
  padding: 5px 0;
  -moz-border-radius: 8px;
  cursor: pointer;*/
}

div#profileFeeds div.name {
  border-top: 1px dashed #666;
  padding: 15px 15px 20px 15px;
}

/*Form Errors*/
div#errorExplanation{
 background-color: #C00;
 -moz-border-radius: 8px;
}
div.errorExplanation h2, div.errorExplanation p{
 color: #fff !important;
 font-family: Helvetica, sans-serif !important;
 font-weight: bold;
 padding: 5px;
}
div.errorExplanation li{
 color: #fff !important;
 font-family: Helvetica, sans-serif !important;
 font-weight: bold;
 padding: -5px -1em 5px !important;
}
div.errorExplanation h2{
 font-size: 15px !important;
}
.fieldWithErrors {
 background-color: #C00;
 margin-bottom: 5px;
}
.form_error_message,
.error {
 color: #C00;
 font-family: Helvetica, sans-serif;
 font-size: 14px;
}

.messagebox {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.messageboxok {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: green;
}

div#profileUser h4.userStanding {
  margin-top: 0px;
  text-align: center;
}

div#profileUser h3.userStanding {
  margin-top: 0px;
  text-align: center;
}

/* @group Tag Cloud */

.tag1 {
  font-size: 100%;
}

.tag2 {
  font-size: 120%;
}

.tag3 {
  font-size: 140%;
}

.tag4 {
  font-size: 160%;
}

.tag5 {
  font-size: 170%;
}

.tag6 {
  font-size: 180%;
}
/* mission comments help */

div.wrapper {
 background-color: transparent;
 background-image: url(/images/shared/back_module-white.png);
 -moz-border-radius: 8px;
 /*-moz-border-radius-bottomleft: 8px;
 -moz-border-radius-bottomright: 8px;
 -moz-border-radius-topright: 8px;*/
 padding: 5px 5px 5px 13px;
 max-width: 460px;
 overflow: hidden;
 margin:5px 5px 5px 13px;
}
div.smallReply {
/*  margin-bottom: 2px; */
  margin: 5px 15px 10px !important;
}
div.smallReply p {
  font-size: 11px !important;
  color:#333;
}
