				<h3 style="margin: 0 0 5px 5px;">Get a Glimpse of The Nethernet</h3>
				<div class="module width700 landingSpread">
					<div class="landingSpread1">
					  <h3>Your Arsenal for Play on the Web - a Free MMO in a Firefox Toolbar:</h3>
					  <img src="/images/new_player/ToolBar.png" alt="Toolbar" title="Real Ultimate Tools for the Web"> 
					</div>					  
					<div class="landingSpreadVideo">
					 <h3>Battle for The Nethernet</h3>
					  <object width="560" height="340" style="padding-top:10px; margin-left: 55px;"><param name="movie" value="http://www.youtube-nocookie.com/v/q9r1gZMbq3Y&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/q9r1gZMbq3Y&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
					  </div>
					  
					<div class="landingSpread2">
						<h3>Player Profile Page</h3>
						<img style="margin-left: -5px; float: left;" src="/images/new_player/PlayerProfile.png" alt="Example of a player profile page" title="Example of a player profile page">
					</div>
					<div class="landingSpread3">
						<h3>Puzzle Crate Riddles</h3>
						<img style="margin-left: -5px;" src="/images/new_player/PuzzleCrate.png" alt="Close Up of a Puzzle Crate" title="Close Up of a Puzzle Crate in the wild">
						<p class="caption">The Nethernet is full of surprises; from mines that go boom, to crates full of goodies. There is a whole other world on the pages you go to everyday.</p>
					</div>
					<div class="landingSpread4">
						<h3>Nominated for MMO of the Year</h3>
						<quote>We were nominated for "Massively Multiplayer Game of the Year" in the 12th Annual Interactive Achievement Awards from the <a href="http://www.interactive.org/awards/annual_awards.asp?idAward=2009" target="blank">Academy of Interactive Arts and Sciences</a> (AIAS). Other nominees were World of Warcraft, Eve: Online, and some other worthy opponents.
						</quote>
					</div>
					<div class="landingSpread5">
						<img style="margin-left: -5px; float: left;" src="/images/new_player/seerdrawing.png" alt="Seer" title="Seer drawing a portal"> 
					</div>
				</div>