				<h3 style="padding-bottom: 5px;">System Requirements</h3>
				<div class="module width240 systemReqs">

					<h3>Browser</h3>
					<ul><li>Latest <a href="http://getfirefox.com">Firefox</a></li></ul>

					<h3>Operating Systems:</h3>
					<ul>
						<li>Windows 2000/XP/Vista/7</li>
						<li>Mac OS X 10.5 or Higher</li>
						<li>Some Linux Distros</li>
					</ul>

					<h3>Video/Network:</h3>
					<ul>
						<li style="margin-bottom: 7px;">Works well with or without broadband and/or a 3D graphics card</li>
						<li>1024 x 600 or greater screen resolution</li>
					</ul> 
				</div>
