<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/admin" %>
		<div class="cell child"><span class="l"></span><span class="c">Edit Pings</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">

<h2>Ping Values</h2>
<h5>Are you changing these again?</h5>

<% form_tag('/admin/pings') do %>

<table>
    <% @ping_values.each do |ping| %>
        <tr>
            <td>
        <%= ping.name + ':' %>
        </td>
        <td>
        <%= text_field_tag "value[#{ping.name}]", ping.points %>
        </td>
    </tr>
    <% end %>
    </table>
		<br/>
		<%= submit_tag %>

<% end %>

						</div>
											
					</div>
				
				</div>
			
			</div>