<div class="pmog_single_crate">

  <%= render :partial => "shared/ext/button_close", :locals => { :window_id => @window_id } %>
  <br style="clear:both;"/>
  
  <div class="pmog_single_crate_text">
    <h5>This Crate is empty!</h5>
    <p>Someone beat you to it.</p>  
  </div>
  
  <br style="clear:both" />  
  
</div>