<h3><a href="javascript:;">Password<span>Change your password here.  Never share your password with anyone!</span></a></h3>
<div class="back" id="prefPassword">
  <%= error_messages_for :user %> 
  <% error_handling_form_for(@user) do |f| %>
    <div class="formElement">
      <label for="user_password">Password</label>
      <%= f.password_field :password %><br />                                                                                                                                 
    </div>
    <div class="formElement">
      <label for="user_password_confirmation">Password confirmation</label>
      <%= f.password_field :password_confirmation %><br />
    </div>
    <div class="formElement">
      <div class="button">
        <%= f.submit 'Update' %>
      </div>
    </div>
  <% end %>
</div>