<h3><a href="javascript:;">Secret Question<span>A security question you'll have to answer if you reset your password</span></a></h3>
<div class="back" id="prefPassword">
  <%= error_messages_for :user_secret %>
  <% error_handling_form_for(@user_secret) do |f| %>
    <div class="formElement">
      <label for="user_password">Question</label>
     <%= select "user_secret", "secret_question_id", SecretQuestion.find(:all).collect{ |q| [ q.question, q.id ] }, :class => "input" %></p><br />
    </div>
    <div class="formElement">
      <label for="user_password_confirmation">Answer</label>
      <%= f.text_field :answer %><br />
    </div>
    <div class="formElement">
      <div class="button">
        <%= f.submit 'Update' %>
      </div>
    </div>
  <% end %>
</div>