<a name="Avatar"></a>
<h3><a href="#Avatar">Change Your Avatar<span>How you look on The Nethernet is determined herein.</span></a></h3>
<div class="back" id="prefAvatar">
<p style="width:auto;">Please note: It may take up to 24 hours for your profile to reflect your newly selected avatar!</p>
<%= link_to 'Change your Avatar', new_user_asset_path() %>
</div>