<h3><a href="javascript:;">Content Controls<span>What kind of material do you want to see?</span></a></h3>
<div class="back" id="prefContent">
<p>Below you may edit your preferences for the quality and type of content you see while playing the Nethernet.</p>
<%= render :file => 'privacy/boolean_prefs' %>

<p>Your settings will be saved automagically.</p>

</div>