<div class="privacy">

  <img src="/images/profile/private.png" width="300" height="353">
	<h1><%= @user.login %> is a private person.</h1>
	<p>We kindly thank you to enquire elsewhere.</p>

  <p><a href="#" onclick="jQuery('#outgoing').show();return false;">Send this user a message.</a></p>

</div><!--privacy-->