<div class="privacy">

<img src="/images/profile/private.png" width="300" height="353">
<h1><%= @user.login %> doesn't take candy from strangers!</h1>

<%= link_to "Add #{@user.login} as an acquaintance?", { :controller => 'acquaintances', :action =>'add', :id => @user.login, :type => 'friend' }, { :title => 'add friend' } %>

</p>

<p>
  	
	<% if @user.prev %>
  
  	<a href="/users/<%= @user.prev.login -%>"><img src="/images/profile/previous_user_arrow.png" class="img_no_border" /></a> 
  
	<% end %>
  
	<strong>&nbsp; Browse Users &nbsp;</strong>

	<% if @user.next %>
    
		<a href="/users/<%= @user.next.login %>"><img src="/images/profile/next_user_arrow.png" class="img_no_border" /></a>
  
	<% end %>
	
</p>

</div>