<% content_for :head do %>

<script type="text/javascript">
// initialise plugins
jQuery(function(){
	jQuery('ul.sf-menu').superfish();
});

// DO form mouseovers, etc.
$(document).ready(function(){

	// DO form extensions
	$('.extendThis').hide();
	$('.signupElement').hover(
		function(){$(this).find('.extendThis').fadeIn(200);},
		function(){$(this).find('.extendThis').hide();}
	);
	$('.signupInput').focus(
		function(){$(this).parent().find('.extendThis').fadeIn(200);$(this).parent().addClass('backYellow');}
	);
	$('.signupInput').blur(
		function(){$(this).parent().find('.extendThis').hide();$(this).parent().removeClass('backYellow');}
	);
});

</script>
<% end %>

<% content_for :body do %>
class="user"
<% end %>

<div id="copy">

	<div class="column width960">

		<%#= render :partial => '/events_spy/show_event_spy', :locals => { :model => @model } %>

		<div class="column width700">
			<!-- COMIC -->
			<div class="column width700">
				<div id="comicstripRSS">
					<div class="comicRSS" id="RSS1"><img src="/images/shared/RSScomic_01.png" alt="" longdesc="" width="20" height="434"/></div>
					<div class="comicRSS" id="RSS2"><img src="/images/shared/RSScomic_02.gif" alt="" longdesc="" width="125" height="242"/></div>
					<div class="comicRSS" id="RSS3"><img src="/images/shared/RSScomic_03.gif" alt="" longdesc="" width="216" height="242"/></div>
					<div class="comicRSS" id="RSS4"><img src="/images/shared/RSScomic_04.gif" alt="RSSComic_04" longdesc="And if you don't have time to play, you're still earning points!"width="195" height="242"/></div>
					<div class="comicRSS" id="RSS5"><img src="/images/shared/RSScomic_05.gif" alt="RRScomic_05" longdesc="" width="138" height="242"/></div>
					<div class="comicRSS" id="RSS6"><img src="/images/shared/RSScomic_06.gif" alt="RRScomic_06" longdesc="" width="125" height="192"/></div>
					<div class="comicRSS" id="RSS7"><img src="/images/shared/RSScomic_07.gif" alt="RRScomic_07" longdesc="" width="268" height="192"/></div>
					<div class="comicRSS" id="RSS8"><img src="/images/shared/RSScomic_08.gif" alt="RRScomic_08" longdesc="" width="145" height="192"/></div>
					<div class="comicRSS" id="RSS9"><img src="/images/shared/RSScomic_09.gif" alt="RRScomic_09" longdesc="" width="138" height="192"/></div>
				</div>
				<div class="height20"></div>
				<%= render :partial => '/shared/landing/spread' %>
			</div>

		</div>
		<!-- Sign Up -->
		<div class="column width240">
			<div class="module width240 signUp">
				<h2>Play The Nethernet</h2>
				<p class="subhead">Create your Character<br/>Join the Game.</p>
				<%= render :partial => '/shared/landing/signup' %>
			</div>

			<div class="height20"></div>
			<!-- SYSTEM REQUIREMENTS -->
			<%= render :partial => '/shared/landing/sysreq' %>
			<!-- /System Requirements -->
		</div>
	</div>


</div>

<!-- /MAIN CONTENT -->
