<% content_for :title do %>bloody_tuesday, one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">bloody_tuesday</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			
			<div class="module width960">
					
				 <div class="imageTop">
					
					<div class="ImageTop" style="background-image:url(/images/guide/characters/bloodytuesday-420.png); width:232px;height:420px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>

<h5>"Any 'tosser can make Monday painful. Only a professional like 'me
self can make Tuesday into a nightmare." </h5> <br />


<p>Some mercenaries do their job because of the pay. Some do their job because they enjoy the respect, power, and flexibility it gives them. bloody_tuesday is a <a href="/guide/classes/destroyers">destroyer</a> mercenary because he just plain loves his job. An avid pyromaniac as well as an egomaniac, tuesday is one of the most recognized destroyers on the Internet. No one's quite sure how many system crashes he's single-handedly caused, but he likes to keep people guessing just so they attribute more destruction to his handiwork. </p>

<p>Lately rumor has had it that tuesday has been working exclusively with a young, disturbing girl that calls herself <a
href="/guide/characters/victoria_ash">victoria_ash</a>. While no one knows for sure, if he's truly working with her, then she must have a plan that truly pleases his destructive personality. Nothing short of a promise of immense damage and intense fireworks would draw him in, away from his life of freedom and explosions. </p>

<h2>Meet <a href="/users/bloody_tuesday">bloody_tuesday</a></h2>

						</div>
											
					</div>
				

    			
			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>



		</div>
