<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Characters</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/ashes-315.png);width:315px;height:200px;" title="Ashes Detail"></div>
					</div> 
					
					<div class="copyTop">
<h2>"The Characters" of the Nethernet</h2>
<p>Throughout your journeys of the Nethernet, you will likely come across at least one of these characters.  The group comes from a wide variety of backgrounds and each has their own motivations for their actions.</p>
 
<p>Be wary of whom you make alliances with from this motley crew, even if they are of your own Class and creed.  For while some are known for their good nature, others are known for their deviations and dissent against commonly accepted etiquette.</p>

<p></p>
					</div>

			</div>
			</div>
			
			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

