<% content_for :title do %>jerdu_gains, one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">jerdu_gains</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
				<div class="module width960">
					
				<div class="imageTop">
					<div class="ImageTop" style="background-image:url(/images/guide/characters/jerdu-420.png); width:305px;height:420px;" title="Jerdu Gains"></div>
				</div>
					
<h5>"Observe, orient, decide, act."</h5> <br />

<p>jerdu_gains is a war hero -- honorable and reliable, but tired and looking for retirement.  Battle is something Jerdu knows very well, and it's also something he doesn't wish to engage in anymore.</p>

<p>During the <a href="/guide/lore/12yearcivilwar">12 Year War</a>, Jerdu saw many good men die to the viciousness of <a href="/guide/classes/destroyers">Destroyers</a> and their <a href="/guide/tools/mines">Mines</a>.  He's re-lived skittershock, dreams of the mines, weeks at a time since the end of the war.  But it's not only the shock of losing friends and the dreams that are keeping him away from duty -- it's something much deeper.</p>

<p>gains's wife, andrea_g, was a victim of the destroyers in the 12 Year War.  While jerdu's unit was shipped out and defending the inner city, a splinter cell of destroyers terrorized the outer limits of the city.  A mine that some say was intended for a data bank on the corner ended up missing its target, hitting jerdu's home by mistake.</p>

<p>The cell of destroyers was never caught, but the death of his beloved has kept jerdu out of the line of duty.  He keeps thinking, that if he was home that night, he could have saved her.  If he had been home, he would have been there to protect her.</p>

<p>Jerdu is a man of action. Where <a href="thomas_hoggins_esq">hoggins</a>, <a href="thaddeus_esper">esper</a>, and <a href="ninefinder">ninefinder</a> are prone to overthinking and strategy, Jerdu prefers entering the situation head on and formulating a plan on the field.  He's not crazy or bull-headed, he simply thinks and understands best when he's in the middle of the situation. With that said, jerdu's usual answers to players with questions is to engage in action.  Best way to understand how armor works is to test it, best way to understand a portal is to jump through, and so forth.</p>

<h2>Meet <a href="/users/jerdu_gains">jerdu_gains</a></h2>

						</div>
											
					</div>
				
			
						
			

			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
			<%= render :partial => "shared/guide/guide_module" %>

			</div>



		