<% content_for :title do %>PSMK9: Ninefinder, one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">PSMK9: Ninefinder</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			<div class="module width960">
					
										
					
				 <div class="imageTop">
					
					<div class="ImageTop" style="background-image:url(/images/guide/characters/ninefinder-420.png); width:305px;height:420px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>
					

<h5>"Greeting, Welcoming: All of us are members of this united front,
regardless of association." </h5> <br />


<p>PSMK9 was developed for one purpose: creating orderly links across the internet without any preconceived judgments. <a href="/guide/characters/thaddeus_esper">Professor Thaddeus Esper</a> envisioned a robot that could supplement the current <a href="/guide/classes/pathmakers">Pathmaker's Guild</a> by linking websites together using keywords. </p>

<p>What Professor Esper didn't take into consideration was <a
href="/guide/characters/bloody_tuesday">Bloody Tuesday</a> attempting an attack on his workshop while he was booting the Pathmaker Series robots. Only two robots made it out of the debacle, PSMK9 and PSMK10. Esper was able to find PSMK9 while PSMK10 has gone missing and the model's current whereabouts are unknown.</p>

<p>As PSMK9 has been in operation, his original lack of conceptions has disappeared as he's begun to take on his own personality and name. Now answering to Ninefinder, PSMK9 is Professor Esper's right hand robot. Nine is more than happy to not only aid his creator's crusade to fully explore the Internet, he is also more than happy to lend a hand in teaching newcomers to the intricate City of the Internet and introducing them to the many inventions and people residing within. </p>

<h2>Meet <a href="/users/ninefinder">Ninefinder</a></h2>

						</div>
											
					</div>
				
			
						
			

			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
			<%= render :partial => "shared/guide/guide_module" %>

			</div>



		