<% content_for :title do %>Sasha Watkins, one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">Sasha Watkins</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
		

					<div class="module width960">
					
				 <div class="imageTop">
					
					<div class="ImageTop" style="background-image:url(/images/guide/characters/sashawatkins-420.png); width:261px;height:420px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>

<h5>"The Internet holds many secrets. With the right prodding, some of
them may fall loose." </h5> <br />


<p>Sasha Watkins is a innovative scientist with a powerful drive to test the boundaries of reality and perception through constant experimentation with Portals -- an obsession which some say has affected her mind.</p>

<p>A former pupil of the great <a href="/guide/characters/thaddeus_esper">Professor Thaddeus Esper</a>, Sasha learned much about the ways of the <a href="/guide/classes/seers">Seers</a> under his tutelage, though the paths of the master and student diverged as each pursued their own objectives, parting finally just before Esper's excommunication from the Society of Seers.</p>

<p>Sasha's research consumed most of her waking hours, but produced well-respected results, so no one was overly suspicious when she disappeared one quiet evening in the Fall, returning several months later.</p>

<p>But following her return, Sasha was a changed woman.</p>

<p>She would not speak of her time away, except to say that she had made an amazing breakthrough in her research -- Sasha had observed that certain Internet sites are loaded with an untapped power, lying dormant beneath their operating code.</p>

<p>This discovery shook the Seer community, with equal numbers of supporters and detractors. Her laboratory researchers abandoned their work, her friends looked upon her with confusion. In the months that followed, Sasha nearly bankrupted herself, pursuing her research with a distressing single-mindedness, often taking days-long jaunts between Portals without stopping for rest or nourishment.</p>

<p>She was about to lose everything when she was made a very lucrative offer by a young girl wearing a dress as black as night itself, and a face as white as ash...</p>

<h2>Meet <a href="/users/sasha_watkins">Sasha</a></h2>

						</div>
											
					</div>
				
				

    
			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>



		</div>
