<% content_for :title do %>Professor Thaddeus Esper, one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">Professor Thaddeus Esper</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			

					<div class="module width960">
					
				 <div class="imageTop">
					
					<div class="ImageTop" style="background-image:url(/images/guide/characters/thaddeusesper-420.png); width:345px;height:420px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>
<h5>"My apprentices, welcome to the world unseen."</h5> <br />


<p>The Professor is a man of many talents. Originally following the profession of a <a href="/guide/classes/seer">Seer</a> and a visionary thinker in the production of portal technology, Esper turned from his original calling upon creating a portal between two websites that actually were relevant to one another. This gave Esper the idea of actually creating pathways that would start at one website and end at another, with all the websites in-between being related to one another.</p>

<p>Esper quickly found himself shunned from the Seer community -- old colleagues turning on him at the simple drop of a bowler hat. If it wasn't for the help of the wealthy <a href="/guide/characters/thomas_hoggins_esq">Thomas Hoggins</a>, Esper may have never aided the creation of the <a href="/guide/classes/pathmakers">Pathmaker</a> guild or have built <a href="/guide/characters/ninefinder">Ninefinder</a>. However, Esper was not a young man when he came upon this revelation, and the resulting years have not aided his quest. Esper mostly remains home, letting those who seek his advice, Order or Chaos, come visit him instead of going out to explore the world as he did in his younger years. Ninefinder has now become the traveler of the City in Esper's stay, finding newcomers and taking them to speak with Esper to better understand that the fate of the Internet is, indeed, in their hands.</p>

<h2>Meet <a href="/users/professor_esper">the Professor</a></h2>

						</div>
											
					</div>
				
				

	
			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>
