<% content_for :title do %>Thomas P. Hoggins, Esq., one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">Thomas P. Hoggins, Esq.</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			
				

					<div class="module width960">
					
				 <div class="imageTop">
					
					<div class="ImageTop" style="background-image:url(/images/guide/characters/thomashoggins-420.png); width:298px;height:420px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>

<h5>"A DP invested is worth two in a crate!" </h5> <br />


<p>There is no one else in the City of Internet that can claim that they have a bank roll of DP larger than Thomas P. Hoggins, Esquire. Not only do most people not have as much datapoints as he, but most people don't have as much of a caring personality as he. Thomas is dedicated to searching the city for the brightest ideas and investing large amounts of money into them, as well as both playing a "secret millionaire" to find the <a href="/guide/classes/shoats">shoats</a> who are pure of heart and intentions and bankrolling others of the <a href="/guide/classes/benefactor">benefactor</a> persuasion to make sure they're spreading the joy as well.</p>

<p>Thomas loves to travel, and can be frequently seen walking about the city and forgoing taking the many trains that run beneath the buildings. "A site at a time, one link to another," is one of his many mottos. He likes to take his time as he's interested in almost everything that he witnesses and learning more about the way things work.</p>

<p>If there was anyone Thomas could declare to be an enemy, it would be <a
href="/guide/characters/victoria_ash">Victoria Ash</a>. Her intentions are completely opposite his own, as he promotes Order across the City while she promotes only Chaos and destruction. While he does not wish for her to be destroyed, he does wish with all his heart that someone will step up to stop her.</p>

<h2>Meet <a href="/users/thomas_hoggins">Thomas</a></h2>

						</div>
											
					</div>
				
			
		

			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>
