<% content_for :title do %>Victoria Ash, one of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
			<%= render :partial => "shared/breadcrumbs/characters" %>
		<div class="cell child"><span class="l"></span><span class="c">Victoria Ash</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
			

					<div class="module width960">
					
				 <div class="imageTop">
					
					<div class="ImageTop" style="background-image:url(/images/guide/characters/victoriaash-420.png); width:242px;height:420px;" title="A Shoat Sleeping on A Pile of Half-Nommed Books"></div></div>

<h1></h1>

<h5>"Chaos is the nature of the universe. It's useless to fight against
it."</h5> <br />


<p>Victoria's past is shrouded in mystery and intrigue. While she seems to be a human being made of flesh and blood, just like all other users of the Great City, some more heinous accusations have been made. Rumor has it that she's not human at all, but a cleverly programmed virus controlled like a puppet by another user, like a twisted marionette, or an advanced artificial intelligence that's gone rogue. But whatever you want to say about Victoria or call her, all people seem to say the same word -- cruel. </p>

<p> Victoria's planning is second to none, and she seems to easily achieve whatever goal is set before her. She acts without emotion; a logic that gives even the best scientist a chill down their spine. Her monotone voice and perfectly cast porcelain mask give this young girl a demeanor that not even Bloody Tuesday can confront easily. Some say that there's no face behind the mask, just a never ending void of hatred... but that's only more rumors that have never been confirmed.</p>

<h2>Meet <a href="/users/victoria_ash">Victoria</a></h2>

						</div>
											
					</div>
				
		

    				<div class="column width240">
				</div>

			
	
			<div class="column width960">
			
			<%= render :partial => "shared/guide/characters" %>
				
			<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>
