				<div class="column width700">

<h2>About ::

<span>Background and Backstory</span>
</h2>				
			
					<div class="module width700">
					
						<div class="width325">

<a href="/about/dmca"><img src="/images/shared/dressing/dmca-50.png" width="50" height="50" border="0" alt="Monies We Loves Them" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/about/dmca">DMCA</a></h4>
<p>DMCA Compliance Information</p>

<a href="/about/systemrequirements"><img src="/images/shared/icons/news-48.png" width="50" height="50" border="0" alt="Requirements" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/about/systemrequirements">System Requirements</a></h4>
<p>What you need to play on The Nethernet.</p>


						</div>
						<div class="width20"></div>

						<div class="width325">

<a href="/about/versions"><img src="/images/shared/icons/news-48.png" width="50" height="50" border="0" alt="Versions" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/about/versions">Versions</a></h4>
<p>Which toolbar is the latest?  Where can you find it?  Check here.</p>

<a href="/about/credits"><img src="/images/shared/dressing/credits-50.png" width="50" height="50" border="0" alt="St. Nick Wrecking a Mine" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/about/source">Source Code</a></h4>
<p>Find out how you can get access to the source code for The Nethernet, to expand the game, or build your own.</p>

<a href="/about/credits"><img src="/images/shared/dressing/credits-50.png" width="50" height="50" border="0" alt="St. Nick Wrecking a Mine" class="thumb" hspace="10" vspace="10" align="center" /></a>
<h4><a href="/about/credits">Credits</a></h4>
<p>Learn about those who have created the Nethernet.</p>

						</div>
					
					</div>
				
				</div>
