<div class="column width960">
  <div class="module width960">
    <h1 style="color: #014560; margin-top: 5px;">Hey! Welcome to The Nethernet!</h1>
    <div class="column width360"><p style="font-size: 15px; line-height: 21px; width: 650px;">The Nethernet is a free multiplayer game! Claim 200 <%= dp_icon %> and amazing web powers when you install The Nethernet toolbar in Firefox.</p></div>
    <div style="position: absolute; margin: -25px 15px 20px 670px;"><a href="http://thenethernet.com/xpi/pmog.xpi" id="amoLink"><img src="/images/shared/LoggedOut_One.png"/></a></div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $("#amoLink").track({
    category : "Everywhere",
    action   : "Download",
    label    : "AMO"
  });
</script>