        <div class="column width225">
<h2>Support</h2>
          <div class="module width225 footer">
<p>
<b>Account Help</b><br />
<a href="/sessions/find">Reset Password</a><br />
<a href="/about/contact">Recover Account</a><br />
<a href="/about/privacy">Privacy Policy</a>
</p>

<p>
<b>Contact</b><br />
<a href="/about/contact">File a Support Request</a><br />
<a href="/about/contact">Report a Bug</a><br />
<a href="/about/contact">Report Abuse</a><br />
<a href="/about/contact">Give Feedback</a>
</p>

<p>
<b>Useful Links</b><br />
<a href="http://news.thenethernet.com/category/maintenance">Server Status and Maintenance</a><br />
</p>
            <div class="foot gears rounded"></div>
          </div>

        </div>
