<div id="dialog1" class="seejqmWindow center module">
  <div class="jqmTitle">
    <h2>Yay! You are now a player on The Nethernet.</h2>
  </div>
  <div class="jqmContent">
    <p style="margin-bottom: 10px;">We need to send you to the Firefox Add On page to download the toolbar.</p>
    <div class="jqmButtons">
      <div class="formElement">
        <div class="button">
          <form method="link" action="http://thenethernet.com/xpi/pmog.xpi">
            <input type="submit" value="Install Toolbar Now">
          </form>
        </div>
      </div>
      <p style="padding-top: 10px; font-size: small;">
        <a href="/toolbarlanding">Install Later.</a>
      </p>
    </div>
  </div>
</div>
