<a href="http://news.thenethernet.com/"><img src="/images/shared/icons/news-32.png" align="right" class="icon32" alt="News" title="Community News!" /></a>
<h3>
  <a href="http://news.thenethernet.com/feed"></a>The Nethernet Community News
</h3>

<p>
  From announcements, to special events, to game-changing web-shaking updates - the Nethernet Community News Weblog is a fantastic place to visit and keep up on the game.
</p>

<div class="bottomNav">
  <a href="http://news.thenethernet.com/">Check out the Community News</a>
</div>
