<a href="/shoppe"><img src="/images/shared/icons/shoppe-32.png" align="right" class="icon32" alt="Shoppe" title="Let's Go Shoppeing!" /></a>
<h2>Shoppe</h2>
<p>
  Go ahead and buy something; you can use it to spread Order or Chaos across the web!  Be sure to stay stocked up on tools, as the web is a wild place.
</p>
<div class="bottomNav">
  <a href="/shoppe">Visit the Shoppe</a>
</div>
