<% content_for :head do %>

<script type="text/javascript">
  // initialise plugins
  jQuery(function(){
    jQuery('ul.sf-menu').superfish();
    initForm();
  });
</script>
<% end %>

<% content_for :body do %>
id="signup" class="user toolbar global"
<% end %>

<% content_for :alertbox do %>
<div id="modalDialog">
  <%#= render :partial => 'after_signup_dialog' %>
</div>
<% end %>

<div id="copy" style="margin-bottom: 150px;">

  <!-- BACKGROUND SPLASH IMAGE(S) -->
  <div class="splash" id="splash1"><img src="/images/shared/toolbar_splash1.png" alt="A jumping guy's hat" width="93" height="87"/></div>
  <div class="splash" id="splash2"><img src="/images/shared/toolbar_splash2.png" alt="A jumping guy" width="259" height="246"/></div>
  <div class="splash" id="splash3"><img src="/images/shared/toolbar_splash3.png" alt="A bunch of mines" width="960" height="279"/></div>

  <div class="column width960">

    <%= render :partial => '/events_spy/landing_event_spy', :locals => { :model => @model } %>
    <div class="column width700">
      <div class="module width700">
        <h1>Congratulations! You have the toolbar.</h1>
        <h2 style="margin-bottom: 5px;">Create a character for yourself &amp; join us on The Nethernet!</h2>
          <div id="arrow"></div>
        </div>
        <div id="comicstripRSS_landing">

          <div class="comicRSS" id="RSS1"><img src="/images/shared/RSScomic_01.png" alt="" longdesc="" width="20" height="434"/></div>
          <div class="comicRSS" id="RSS2"><img src="/images/shared/RSScomic_02.gif" alt="" longdesc="" width="125" height="242"/></div>
          <div class="comicRSS" id="RSS3"><img src="/images/shared/RSScomic_03.gif" alt="" longdesc="" width="216" height="242"/></div>
          <div class="comicRSS" id="RSS4"><img src="/images/shared/RSScomic_04.gif" alt="RSSComic_04" longdesc="And if you don't have time to play, you're still earning points!"width="195" height="242"/></div>
          <div class="comicRSS" id="RSS5"><img src="/images/shared/RSScomic_05.gif" alt="RRScomic_05" longdesc="" width="138" height="242"/></div>
          <div class="comicRSS" id="RSS6"><img src="/images/shared/RSScomic_06.gif" alt="RRScomic_06" longdesc="" width="125" height="192"/></div>
          <div class="comicRSS" id="RSS7"><img src="/images/shared/RSScomic_07.gif" alt="RRScomic_07" longdesc="" width="268" height="192"/></div>
          <div class="comicRSS" id="RSS8"><img src="/images/shared/RSScomic_08.gif" alt="RRScomic_08" longdesc="" width="145" height="192"/></div>
          <div class="comicRSS" id="RSS9"><img src="/images/shared/RSScomic_09.gif" alt="RRScomic_09" longdesc="" width="138" height="192"/></div>
        </div>

        <!-- Glimpse of the Nethernet-->
        <div class="height20"></div>
          <%= render :partial => '/shared/landing/spread' %>
                <!-- /Glimpse of the Nethernet -->
      </div>


      <!-- SIGNUP -->

      <div class="column width240">

        <div class="module width240 signUp">

          <h1>Create your Character<br/>&amp; Join the Game.</h1>

          <span id="signupFormPartial">
            <%= render :partial => '/shared/landing/signup' %>
          </span>
        </div>
        <div class="height20"></div>
        <!-- SYSTEM REQUIREMENTS -->
          <%= render :partial => '/shared/landing/sysreq' %>
        <!-- /System Requirements -->

      </div>

    </div>


  </div>

  <!-- /MAIN CONTENT -->

