<% content_for :title do %>The 12 Year Civil War, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">The 12 Year Civil War</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">
				<div class="column width700">

					<div class="module width700">
					
<h1>The 12 Year Civil War</h1>
<h5>by <a href="/guide/characters/thomas_hoggins_esq">Thomas P. Hoggins, Esquire</a></h5>
<br />

<p>The 12 Year Civil War began as a demonstration of the juvenile, largely masculine, practice of young people griefing other young people on YouTube comment threads. Though historians are generally divided on this issue, most intelligent, literate, educated historians agree with my assertion that the canary in the hen house, as it were, was this post:</p>

<blockquote>"Fck , sshl. Clvrfld ws wsm!" -3van</blockquote>

<p>Eventually the comment battle escalated into violence, and the violence moved past video and into the Blagosphere. Mines were planted on most digg pages, and on at least every other page of Something Awful. As we've learned from <a href="/guide/lore/theunendingtagwar">The Unending Tag War</a>, action begets action. 3van, for one, began griefing his own MySpace blog after running out of witty (and feces-laden) comebacks to hurl at his fellow commentors on PerezHilton. In a self-hating blogpost about a "dumb math test (3vanAsty)," 3van realized that he, ultimately, could mock himself better than other commentors.</p>

<img class="imageLg" src="/images/guide/lore/12yearcivilwar-674.jpg" alt="miner" />

<p>3van's practice was picked up by other commentors within a few hours. Soon comment threads were packed with references to childhood bed wetting and protrusion of nasal and other body hairs. Pmogeon homes were ripped asunder by self-inflicted mine explosions. Thousands of these noble warriors went absolutely broke and were associated almost totally with <a href="/guide/class/destroyers/">Destroyers</a> due to their single-minded use of <a href="/guide/tools/mines/">Mines</a>.</p>

<p>The war continued, without abatement, for about four months.</p> 

<p>Ultimately, Destroyers began calling this minor foray into self-immolation the 12 Year Civil War for no other reason than that the number 12 is a fine-looking specimen of the numeral species, and nothing is more sympathetic or prone to re-enactment than a civil war. </p>

<p>And reenact, they do, generally every few months. </p>

						</div>
											
					</div>
				
				</div>

    
    
  
    
			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



	</div>
