<% content_for :title do %>A Memory of Portals, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">A Memory of Portals</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">

<h1>A Memory of Portals</h1>
<h5>by Seers of Erractic Compulsion</h5>
<br />


<p>In the days before <a href="http://en.wikipedia.org/wiki/Sequence">time</a> and <a href="http://earth.google.com/download-earth.html">place</a>, no one knew when or where they <a href="http://www.authorama.com/remembrance-of-things-past-1.html">were</a>. Without knowing when or where <a href="http://www.theyrule.net">they</a> were, they could not <a href="http://xkcd.com/165">know when or where</a> they were going. </p>

<p>Then came those who <a href="http://en.wikipedia.org/wiki/Conspiracy_theory">shall not be named</a>, who brought with them <a href="http://www.w3.org">knowledge</a> of <a href="http://www.w3.org/Style">when</a> and <a href="http://www.w3.org/Protocols">where</a>. </p>

<p>With that knowledge, the <a href="/guide/tools/portals">most powerful tool in the history of the universe</a> was created by the ones among us with the <a href="http://plato.stanford.edu/entries/ontological-arguments">resolve</a> to step through the <a href="http://www.erowid.org/chemicals/lsd/lsd.shtml">swirling vortex</a>.</p>

<p>But wherewhenorwho are we, you might ask. And how did we come to know what we've told you? We'll save answers for <a href="http://en.wikipedia.org/wiki/Dialectic">Wikipedia</a> and merely offer <a href="http://icanhascheezburger.files.wordpress.com/2008/01/funny-pictures-cute-kittens-cage.jpg">this</a> to you.</p>

						</div>
											
					</div>
				
				    			
			
			</div>

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>
