<% content_for :title do %>An Abundant Life: The Crate, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">An Abundant Life: The Crate</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>An Abundant Life: The Crate</h1>
<h5>by Benefactors for Beneficial Behavior</h5>
<br />


<p> We have a deal for you, you think? Some piece of knowledge you seek that only we can give you? What a strange thing, to be on either side of this text, each reading the other in their way, searching for chink in the other's resolve. A break in their armor, as our friends the Bedouin would say. </p>

<p>Our other tribe of sisters and brothers, the Pathmakers, liken us to givers, in their generous spirit. Our role in society is not so much that we are givers, but that we exchange commercially with other Passive-ists, and so we both give and receive.</p>

<p>And that, after all, is what you really wanted discover, isn't it? How we can to possess these crates. Perhaps, if you have studied your game enough, you've come to find how we reprocess and deploy them, or how is it they dissolve so that they cannot be reused. But, dear friend, that simple box is our sure thing; it is our product, the culmination of years of study both of Pmogeon nature and the tides of the market.</p>

<p>Watch and learn our ways, if you can. But do not presume to receive what you do not have vessel to hold.</p>

						</div>
											
					</div>

			
			</div>

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>
