
<% content_for :title do %>A New Source of Energy, part of <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">A New Source of Energy</span><span class="r"></span></div>
	</div>
<% end %>

<div id="copy">
		
			<div class="column width960">

							<div class="module width960">
										<div class="imageTop">
												<div class="imageTopImage" style="background-image:url(/images/shared/tools/large/vengeance.png);width:287px;height:385px;" title="The Faction of Chaos">
												</div>
										</div>
					
<h1>A New Source of Energy</h1>
<h5>In which a new form of energy is found, and old rivals meet again</h5>
<br />


<p>Seers once possessed knowledge of an ancient device. It was a key: flat and dense and made from the same metal that ground Portals. Years ago a prototype of the device was uncovered by a young explorer at the edge of digital space, underneath a holding page. The site itself later became xkcd, funnily enough. But the young explorer who made this great discovery was said to eventually become Satisfied. He left the jaunting life for middle management and a good health plan. So, the Seers forgot him. It's what they do.<p>

<p>Partly due to this forgetfulness the design of the device was lost for many years. Only recently the documentation, such as it was, was rediscovered by Professor Esper. He saw that whoever wrote it was toying then with the essence of links - the connective tissue that binds the sites on The Nethernet together. He made a couple of prototypes and realized he could unlock the Benefactor's Puzzle Crates. He knew he had to keep it safe from the forces of Chaos. The professor turned to the Bedouin to protect it. The Bedouin had been crafting a new form of energy under his guidance and he more faith than ever in them.</p>

<p>Unfortunately for Professor Esper, his assistant Whil had the unhappy chance to run into Victoria Ash on the edge of a flame war... while he was meant to be transporting a prototype of the device between labs. Victoria recognized Whil as Esper's man. She drugged him with a small prick of poison and he crumpled to the ground. As she searched his person she heard him mumble something about puzzles and keys. In a compartment in his boots, Victoria found a flat, dense, key with the top half of a skull on one end. A key to a puzzle, perhaps?</p>

<p>Just then she got a PMail from one of her spies: 'Busy Bedouin bees, no? I hear their factories have started up again'. The well-guarded Bedouin were no less guarded with their plans and she had heard nothing about Bedouin progress. The last she saw they were training with heavy armor to be able to dodge and disarm their enemies. And now these sounds... maybe fancy footwork was not all they had in mind.</p>

<p>Later that night Victoria took a portal into the stock yard of a Bedouin factory. Until recently these factories had been abandoned and some Seers had come through looking for lulz. By the time Victoria got there, the busy Bedouins had already packed puzzle crates full of their something and stacked it them in rows. Quantities of this amount were clearly for trading, or sale.</p>

<p>Victoria carefully approached the stacks of puzzle crates. No doubt some of them were trapped. She glanced at the question inscribed the metal locks. Something inscrutable to her, as usual. How annoying. She went through her multitudinous hidden pockets and pulled out a key she'd taken from Whil. As the key turned in the lock, Victoria remembered a story Esper had told her about an ancient device of the Seers, the Skeleton Key. Likely they would pay a high price for this.</p>

<p>But something new had her eye now. The crates had thousands of coils of blue energy within them. She picked one up and tapped it. The coil glowed a little more intensely. One of her pet St. Nicks crawled out of her red curls and buzzed around the light she held. Victoria turned the coil upside down - two prongs were sunken into the base. Her St. Nick alighted on one and its metallic wings moved faster and more viciously. The St. Nick flew off, wobbly at first and then with purpose, toward a broken piece of armor left on the ground from ages ago. The Nick landed on the shard of armor. The armor shattered.</p>

<p>Victoria smiled. She summoned some of her allies and they quickly hauled the crates back through the portals.</p>

<p>It was time for her to negotiate with the Seers. They'll want their Skeleton Key back.</p>

<p><i>Epilouge, Ninefinder</i></p>

<p>Ninefinder was rarely allowed alone in Professor Esper's office but his analytical processes told him that was exactly what was needed now. He had been there quite a lot lately while the Professor worked on his new Skeleton keys and Ninefinder believed that they might hold the answer to a problem that had recently developed. Of late the sites illuminated by lightposts on missions had been under heavy attack by Destroyers. The Destroyers were using the lightposts as guides to the most traveled routes and, something need to be done to slow them down. Ninefinder had taken one of the keys apart while Professor Esper had been distracted but the professor had noticed and take the key away before the analysis was completed.</p>

<p>That afternoon when Professor Esper stepped out for his afternoon tea Ninefinder  went in the office and extracted a key from the console the professor had placed it in. Ninefinder throughly examined the key and the socket in the console, his processor almost on the verge of over heating. Analysis completed he returned the key and left, already reverse engineering the key and locking mechanism. Once Ninefinder finished the design and distributed it (Open source, of course!)  lightposts would be able to be protected by puzzles the same way Benefactors protected their crates from prying Organic fingers.</p>

<p><i>Epilouge, Jerdu Gains</i></p>

<p>The girl took at least 20 crates of the Vengeance coils, he realized as he looked over his lieutenant's report. If Victoria's engineers figure out how to harness the energy to make deadlier St. Nicks, or gods know what else, the results could advantage Chaos for months... perhaps longer.</p>

<p>Jerdu sighed and began a PMail. "Tuesday - my old foe. I have a proposal."</p>

						</div>
											
					</div>
				


			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>
