<% content_for :title do %>Ashes to Ashes, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">Ashes to Ashes</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>Ashes to Ashes</h1>
<h5>by <a href="/users/Octal_Black">Seraphina Brennan</a></h5>
<br />

<p>The fires in the streets and the blood on the cobblestones tinted the world a crimson black.  Most of the citizens of the village of StumbleUpon had already left everything behind when they heard the destroyers were coming.  The ones who had stayed, the ones who had remained behind to defend the data they had spend their lives creating and building up were lying limply in their houses or in the street itself, their avatars slowly corrupting from malicious attacks as they gave up their lives for that same data.</p>

<p>The soft scrape of leather boots stood out from the crackling and burning of the fires in the village as a tall, lanky man paraded down the streets.  His feet barely had time to touch the stone as he flipped and danced, trailing the blood data across the avenues of the main square, his light voice cackling menacingly as he picked up the many golden coins lying on the street.</p>

<img class="imageLg" src="/images/guide/lore/ashestoashes-674.jpg" alt="ashes" />

<p>"Tuesday, be careful what you touch.  We don't want to leave any trace data on the scene," a polite, but hollow young voice chimed.  The man turned quickly to look down one of the darkened alleyways, a smile being drawn across his lips.  As the form of a young girl moved into the flickering red light of the main square, he quickly turned and bowed gracefully, taking his black, crooked stovepipe hat off and sweeping in front of his body, low to the ground.</p>

<p>The girl's red curls bobbed around her head loosely as she walked with a demanding, yet subtle manner that was announced by her knee high platform heeled boots as her black velvet dress with its dull red lace trim fluttered in the light breeze.  The skirt itself was bolstered with both a multitude of underdresses and a black crinoline support, making it picture perfect even as chaos rained down around the group.  Tuesday's eyes looked up from his bowing position, tracing the glinting onyx gem buttons up her dress, past the softly glowing red brooch locking shut her high black collar that was flickering with an uncountable number of small red ones and zeros that sweeped across the picture of a dying black rose.</p> 

<p>Finally, Tuesday's colorless irises landed on the pure white porcelain face mask of Victoria Ash, his own lips twisting into a smile to greet her pursed red ones.  She nodded for him to rise, and he slowly followed her orders as he continued to look over her small, pointed white nose and the small hairline fractures in the porcelain around her mouth and eyes.  Her eyes, though, continued to hold his attention even past the point where she began to speak to him.</p>

<p>It wasn't the first time Black Tuesday had gotten to meet Victoria, his wonderfully ludicrous employer.  Yet, for all the times he had seen her, he could never stop staring into her eyes.  Those deep, endless, dark voids of nothingness that hid behind her mask.  He always wondered what would happen if he put something in there... Would her eyes suck it up like the vacuum of space?  Would she feel the object, let's say a pencil, slide into one of those gaping holes?  What if her entire face was like that, how would she kiss someone, he pondered to himself as her soft voice continued to emanate from behind her motionless red lips.
</p>

<p>"...and I'm glad that for once you listened to me and took out the security systems first before going on to destroy the rest of the town.  That was much appreciated on my part and the part of the team of Seers that I've sent in.  You've actually done well for me this time, because you listened to my directions," she said, moving closer to him, her five foot eight inch stature wrapping her arms around his six foot three inch one in a light, almost sisterly hug.  "It wasn't so hard to do such a little thing like listening, was it Tuesday?"
</p>

<p>Tuesday tipped his hat over his eye and smirked, shaking his left cuff and letting a long black cane pop out of it, taking her arm in his as he strutted down the main street, the houses slowly collapsing from the fire damage, the dying attempting to crawl away from their inevitable doom.  "Nothing is ever hard for me, my dear.  This security system was simply a breeze.  I must confess though, it did catch my attention.  Quite highscale for a mudhovel such as this one.  I can't say I was expecting the light encryption."</p>

<p>"Is that your own way of finally saying you're interested in what I do, Tuesday?" Victoria commented, a hint of playful sarcasm in her awkardly monotone voice.  "I've always wanted to formally bring you aboard, you know.  I think you would enjoy the exercise."</p>

<p>"Viiiiiccctttooooorrrriiiaaaaa...."  The voice echoed about the both of them, and Tuesday quickly stopped in the street, pulling Victoria close and lifing his cane from the street as it quickly unleashed a blade from the tip.  The ground in front of them literally ripped open with a blue light so intense that it forced Tuesday to look away while Victoria blankly stared in front of herself like nothing was actually occurring.  From the crack arose a well-clothed figure in a blue frock coat adorned with a golden chain leading to a pocketwatch, the figures arm's adorned by many ticking and ornate golden and brass devices.  The light slowly faded as the figure rose up into the air, hovering for a moment before the crack in the ground closed and it landed light on its feet, finally dropping the blue bowler it was using to cover its face and putting it back atop her head after shaking out her short blonde hair.</p>

<p>Victoria patted Tuesday's arm and he began to relax, dropping his cane and letting the blade slide back into the tip before he rested on it with one white gloved hand and crossed his legs.  The woman stepped forward and bowed stiffly before Victoria, her young face scrunched up in an angry, yet scared expression, the monocle falling out of her eye briefly before she replaced it.</p>

<p>"I thought I had asked you to secure Esper's project, Sasha," Victoria blandly stated.</p>

<p>"We did ma'am.  That is why I'm here.  Esper had set all but one to self-destruct.  The one he saved is the one that he got away with... PSMK9.  I'm so sorry..."</p>

<p>Victoria kept blankly staring ahead, as if she was staring right through Sasha.  As she spoke, however, her left hand rose up as if possessed and a small brass clockwork wasp skittered out from her lace adorned sleeve, flittering its wings before making a home on her white gloved left hand.  The St. Nick tweeted a small bit, its lit-up, colored eyes looking from Sasha to Victoria, like it was somehow making an assessment of Sasha for its master.</p>

<p>As Sasha watched this, she began to shiver a bit and she looked down to the ground.  "However ma'am, we were able to secure one of the models before the circuitry was blown.  PSMK10."</p>

<p>Victoria's head turned to the side and looked at Sasha with renewed interest, the St. Nick now marching up her arm and perching on her shoulder.  "Really now?  Well then, perhaps this did not turn out so badly after all.  Call a portal Sasha, we shall be leaving now.  Leave the rest to the destroyers battalion.  I'd like to see this lovely war rage on from afar."</p>

<p>"You spent all of this effort on one of Professor 'Pester's' products?  Really now, why would such a cunning girl such as yourself want a disgusting item of order," Tuesday commented as Sasha placed a small brass projector on the ground, the lens focusing and sending out a shockwave of blue light on the ground, the stones themselves shimmering and turning into a portal as energy cracked out from the rims of the newly formed transportation device.</p>

<p>The three of them slowly stepped on the blue swirling lake of energy, their bodies slowly moving down as if they were being taken by quicksand.  "Because Tuesday, while it may take years of work to create something of order, it only takes a few blows and tweaks to pull it back to chaos.  It is the way of the universe," she softly stated as they slowly disappeared and the portal closed behind them, leaving the village to burn alone quietly in the night.</p>

						</div>
											
					</div>
				
				</div>

    				

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>

\