<% content_for :title do %>Asynchronous Revenge with St. Nicks, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">Asynchronous Revenge with St. Nicks</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>Asynchronous Revenge with St. Nicks</h1>
<h5>by Nameless Hoardes of the Dissatified</h5>
<br />


<p>A helpless lot were we, before Valentina Marquez gave us hope. Valentina labored offline, the sound of distant, exploding mines fueling her fury. The constant attacks were her food and water; her small time offline: her only salve.</p>

<p>With the St. Nick, Valentina gave us a change, a chance to set our sights upon our enemies, and fire! </p>

						</div>
											
					</div>
				
				</div>

    

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>
