<% content_for :title do %>A Theory of Conception, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">A Theory of Conception</span><span class="r"></span></div>
	</div>
<% end %>
		
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>A Theory of Conception</h1>
<h5>by Jerdu Gains</h5>
<br />

<p>For millions of years, humans struggled to see their whole world. They walked out of Africa into Asia and Europe. They sailed to the New World and shot themselves into outer space. But they were discontent. </p>

<p>One continent looked nearly the same as the other. Water and space were both cold. The stars remained too distant and the sun in its constancy mocked their attempts to escape its warm grasp. </p>

<p>'What we need,' the humans said, 'is another world.' They wanted a world separate from the elements of the earth, a world full of nothing but their own information. A world they could create and master. </p>

<img class="imageLg" src="/images/guide/lore/atheoryofconception-674.jpg" alt="miner" />

<p>And so the humans architected a landscape. This world existed apart from the demands of the human's physical reality – no land to fight over, no heat, and no cold. Mankind poured the whole of its knowledge and emotion into this design. Each human became an avatar in this world, a contributor to the vast hive of its species' mass consciousness. </p>

<p>In turn, the landscape grew spontaneously, unchecked by organizational principles or a dominant language. What was once a barren wasteland became a vast urban sprawl. Forgotten web sites and the databases of busted companies lay underneath the newest growth. Paths through the rubble emerged and faded in the space of a day. Protocols and law were adopted and discarded. </p>

<p>The network absorbed that which is volatile and erroneous within human reasoning: it began to morph. Before its widespread use, when only universities and government bodies had access to the network, the network intelligence was simple and cold. But years of exposure to human error and media tainted it with both will and whimsy. The system became more than an analytical processor – it became a personality. </p>

<p>Now, like every human-made god before it, the system promotes chaos for its own amusement. Some players fight against the absurdist tyranny of the system: They build and defend roads, organize whole neighborhoods, tag objects, and increase productivity. Other players support the whimsy of the discombobulated architecture and seek their jollies in promoting its un-usability. </p>

						</div>
											
					</div>
				
				</div>

    				

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>
</div>
