<% content_for :title do %>The Day of Chaos <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">The Day of Chaos</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>The Day of Chaos</h1>
<h5>This is an account of the Day of Chaos from six points of view. Collected and written by <a href="/users/patch615">Patch615</a></h5>
<br />


<img class="imageLg" src="/images/shared/dressing/dayofchaos-674.png" alt="dayofchaos" />

<h4>Benefactors</h4>

<p>The crates had been laid out, and filled with gifts of this and that sort. Our noble endeavour was well maintained and we took pride in our work. The benefactors guild was getting into its stride. The respect garnered filled the message boards. Before retiring for the eve' I took a short stroll, monitoring the perimeters around our safe sites, and havens. I wandered down a path, lit well by lightposts, but gradually the lightposts grew darker. It was no normal malfunction. The paths were beginning to become skewed, and on every side were swirls of portals to unknown lands.</p>

<p>I immediately went to check on the crates, fearing the worst. Of course such is what happened.</p>

<p>The mine ripped into me, shaking my vision. The armour I had was enough protection for the first few mines, but after the tenth and eleventh, I was losing datapoints fast. </p>

<p>More important than my health or safety was the proper management of the crates. This had not been kept to, and as I was avoiding mines carefully, hoping they wouldn't do me in, I could see in the distance a number of destroyers, and seers, looting the treasure that our guild had so carefully organised and stored. I stood still, my feet buckled to the ground, no will in them to move. My jaw dropped open, and my eyes began to tear up. I cannot say I have cried so in the years hence.</p>

<h4>Seers</h4>

<p>The net flowed with energy. No longer did the old rules apply, and so my portals filled the world. I spread all I could manage. My last DP spent on portals, my last armour crates and mines traded in for the same. Around me flowed circular swirls of black and blue and purple. The winds from out the deep rifts that I had created rustled my coat tails and threatened to tear away my hat. I sought out more and more places to send my portals, more and more places to link inextricably. I revelled in the joy I felt, making new connections where connections should not be, making holes in the walls of the fortress, leading outside. I chuckled under my breath and smiled at the flows of unorganised data flowing through, over and below me. I drank my fill of data for the day, hoping it would never end. The pathmakers had to tear me from the spot to make their paths, and to restore order. I didn't move, and I resisted the return to our mundane web.</p>

<h4>Destroyers</h4>

<p>A beautiful red light filled the air. The sound of explosions made a chorus of angels and demons flow in and out of my conciousness. No St. Nicks could possibly stop the deluge that flew from out our stores. The music of destruction and disorder filled my senses and brought to my face a warm smile, and to my eyes a hot fire.</p>
<p>There were few tacks in the road, mines set by those who haven't studied their full use, St. Nicks deployed by vigilantes, or forces of order trying to deflect the disorganisation coming before them.</p>
<p>It was a day of glory. I think I've heard this phrase before, but I'll leave it to Wikipedia to tell you it's speaker.</p>
<p>That was a day which will live in infamy.</p>

<h4>Pathmakers</h4>

<p>Everywhere lights were being snuffed out. Not enough pathmakers were on hand to relight all the torches which lit the way. It was a job in which we took two steps forward and slid one step back.</p>
<p>The tedious planting of lightposts left an ache in my head. Everywhere there were portals and mines. The danger did not escape me, but as I knew I must, I took the lighting of the path to be the most important goal. It is said in our oath:</p>

<p>"We swear to forever light the way for travellers of this magnificent land. We shall maintain the lightposts and paths that run through our realms, to the betterment of all Pmogeon kind. In server crash, or software difficulty, in firewall dysfunction or virus attack, we swear to keep lit the paths we have access to. We swear to lead the way for all who care to follow."</p>

<h4>Bedouin</h4>

<p>Our fortifications rumbled with the force of mines exploding on all sides. I buckled on my armour with great care, covering all of myself to the greatest degree possible. The fight outside would be treacherous. I stepped out of the tent, leaving behind some things of little importance. On my person was my armour, some mines and some st. nicks. I knew I would need more to hold off the hordes of destroyers waiting outside our citadel, but I'd little else, and defence of my home was paramount.</p>
<p>Smoke rose above the parapets, and the smell of sulphur filled my nose.</p>
<p>I stepped out the main gate quickly, waiting for my comrades to close it behind me. The horde began to gather, and above below and on every side of me mines began to explode. I sat in my shell, the fire scorching my armour. I felt safe, hidden in the loving embrace of my cold steel guardian. The fire subsided, and as I came walking out of the smoke, the destroyers backed away, awe on their faces, and fear in their eyes.</p>

<h4>Vigilantes</h4>

<p>Many mines were set that day. The destroyers set the majority of them, but we were the force behind preventing serious retaliation. Every benefactor, Bedouin and pathmaker was covered in St. Nicks. We had stalked and monitored them for months, and now our work had paid off. Their mines were foiled time and time again. Our st. Nicks were unstoppable. The flow of mines kept coming, but kept being thwarted. The defence we provided helped to spread chaos, giving seers safety to build portals and destroyers safety from retaliation. We were the backbone of chaos on that day. We were the centre, and now we always will be.</p>

						</div>
											
					</div>
				
				</div>


			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>

