<% content_for :title do %>Have Armor, Will Travel, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">Have Armor, Will Travel</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>Have Armor, Will Travel</h1>
<h5>by Bedouins United for the Preservation of Order</h5>
<br />


<p> Alphonse Merriweather Victoria III, great protector of innocents and artist of steel, crafted the first suit of armor whilst throngs of maddened Destroyers called for blood at the doors to his laboratory. Alf13, as Bedouins affectionately call him, had seen the <a href="http://www.pmog.com/codex/tools/mines">Error of His Ways</a> and sought forgiveness from the gods of order with his creation.</p>

						</div>
											
					</div>
							
			</div>

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>



		</div>
