<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Lore</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

<!--					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/white.png);width:315px;height:250px;" title="A Picture You Can't See!"></div>
					</div>
-->

<h3>Introduction to the Lore of The Nethernet</h3>

<p>The lore of The Nethernet contains stories about the <a href="/guide/characters">Characters</a> and their adventures, as well as more recent histories.</p>

<p>These are the stories of <a href="/guide/rules/chaos">Chaos</a> and <a href="/guide/rules/order">Order</a>.</p>

<img src="/images/guide/lore/introduction-930.jpg" alt="Introduction" width="930" height="271" />

				</div>

			</div>
			
			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

