<% content_for :title do %>The Mine: A Story of Betrayal and Loss, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">The Mine: A Story of Betrayal and Loss</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>The Mine: A Story of Betrayal and Loss</h1>
<h5>The Mine's history is one of duplicity and isolation. But to speak<br />of the Mine with any understanding, is to speak of its maker...</h5>
<br />


<p>The late great Alphonse Merriweather Victoria III, inventor of the Mine, and much to the detriment of his popularity, inventor of Armor, is remembered by modern Destroyers with a blend of fondness and revulsion. Alf13, as he was known on the network, began life in The Boondocks. His parents were both Destroyers, and Alf13 felt that they strongly influenced his work. In his collected audio memoirs, he said:</p>

<blockquote><div>My parents were gaining malicious joy from hackery in the age when Destroyers had to switch out wires and bend paperclips into connectors in order to rank any Chaos. They came home with bleeding hands, achy backs, and RSI. By age 7 I'd realized my life's mission: To reign destruction upon the streets of the internet.</div></blockquote>

<p>While he was still a schoolboy, Alf13 began experimenting with Chaos simply by running full tilt at his classmates, yelling and screaming. According to school communications, acquaintances at the time spoke of the delight evident on the young boy's face as truly frightening. His behaviour became steadily worse, until no self-respecting organization would count him its member.</p>

<p>On Alf13's 31st birthday, he gathered his things and suddenly logged off the system. Occasionally small notices of him were relayed back to the boards by observers, but he himself made not such announcement. In fact, he appears to have left life entirely without documentation. The caches of his life grayed into oblivion.</p>

<p>Finally, the day before his 61st birthday, he commented on a thread.</p>

<p>Alf13 returned to the system with an almost infinite supply of ready-made Mines, and shortly afterwards he walked through through the internet sticking mines onto Windows and Doors. The inhabitants stalked out of their homes and businesses; Alf13 was waiting on the street to sell them their revenge.</p>

<p>Soon Alf13's Mobile Mine Stands were everywhere. Despite the incessant targeting of Mine Stands by the most active Destroyers (who, as we know from the 12 Year Civil War, have never been a people to treat each other with much respect) the Mine Stands prospered. Soon there was a Stand on every corner. Eventually Alf13 seemed to tire of the endless distraction of corner-hawking in the Boondocks and focused on overseeing the building of Mine factories in the Outskirts. At the height of its Chaos, Alf13's Mobile Mine Stands was acquired by Shoppe and for a while the father of modern mining was content to appear ceremonially at 12 Year Civil War Reenactments.</p>

<p>At the 132nd 12 Year War Reenactment, Alf13's changed personality was first evident. In the spirit of self-hatred exhibited at the Reenactment, Alf13 was to begin the ceremony by planting and then triggering his own mine.</p>

<p>The blogger NvrgvpnvrSrrndr!, a niche writer who was live-blogging the event, wrote: "He's just standing there staring at the mine on the stage, paralyzed. Everyone has started booing. He's freaking out! He's running away!"</p>

<p>From this and other corroborating accounts, it would seem that Alf13's change occurred at least sometime before 132nd 12 Year Civil War Reenactment. He'd been notably less vicious for a time now; he excused his own lethargy as tiredness and old age.</p>

<p>But once Alf13 unveiled Armor for the first time, the claims of exhaustion become transparent. He had changed.</p>

<p>Though some die-hard fan boys deny this, it is widely held that Alf13's change from Destroyer to Pathmaker was the result of a damaging tagging addiction. Alf13 later claimed that his change was the result of a spiritual experience, but little evidence has been found to support this. What historians have found, are records of tagging literally throughout the system. His tags began showing a proclivity for describing, without exaggeration or inaccuracy, the content of a page months prior to the 12 Year Civil War Reenactment episode.</p>

<p>But to speak further of this changed man is to speak of Armor, and we will not have its foul memory marring this page. </p>

						</div>
											
					</div>
				
				</div>

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>

