<% content_for :title do %>One of Many Victorious and Short Wars: The Cleansing of the Tags, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">One of Many Victorious and Short Wars: The Cleansing of the Tags</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>One of Many Victorious and Short Wars: The Cleansing of the Tags</h1>
<h5>by Alan Whitman</h5>
<br />


<p>There was a brief moment when chaotic masses of degenerate <i>teenagers</i> thought to undo years of ordered work by the bravest Pmogeon souls, those bringers of order that divided reason from insanity with each keystroke. They systematically cleansed the system of all brick-headed tagging and made way for a cloud of easily parsed references to fall over the city like the warm breath of a thousand angels.</p>

<p>Any notion otherwise is a lie planted by cake promisers and fools.</p>

<img class="imageLg" src="/images/guide/lore/victoriousandshort-674.jpg" alt="ashes" />

						</div>
											
					</div>
				
				</div>

    				

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>
