<% content_for :title do %>The Faction of Order<% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">The Faction of Order</span><span class="r"></span></div>
	</div>
<% end %>

	<div id="copy">
		
			<div class="column width960">

					<div class="module width960">
									<div class="imageTop">
												<div class="imageTopImage" style="background-image:url(/images/shared/dressing/orderfaction.png);width:315px;height:300px;" title="A Wee Devil Looking Quite Playful">
												</div>
									</div>
					
<h1>To the Lightpost</h1>
<h5>by the Pathmakers Alliance of Remembrance</h5>
<br />


<p>When the first lightpost was lit, many years ago, Eight stood in the circle of light it cast. Of the Eight, only Six are still known to us. </p>

<p>These Six are of Order and Chaos. Of Order there were: Pathmakers, bringers of light; Bedouins, saviors of flesh and coin; and Benefactors, they who tirelessly give. </p>

<p>Of Chaos there were: Destroyers, breakers of concentration; Vigilantes, the lost sheep, oh they who fight their own; and Seers, who use their sight to taunt. </p>

<p>The wilds of the internet called to the Seven, and they left the context of the first lightpost to make other tools and explore on their own terms. Only the Pathmaker remained, sworn forever to illuminate the context of websites for Passive-ists and to keep alive the Histories of the PMOG.</p>

<p>It is written that when the 144,000,000th lightpost is lit, then shall we know the remaining Two. </p>

						</div>
											
					</div>
				
				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>
