<% content_for :title do %>The Front Lines, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">The Front Lines</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>The Front Lines</h1>
<h5>by <a href="/users/Octal_Black">Seraphina Brennan</a></h5>
<br />


<p>"Come on you maggots! Do you want to live forever?" the bedouin commander shouted over the endless, piercing blasts of mines against brick and cobblestone.</p>

<p>The United Bedouins for the Preservation of Order were pushed back to the edge of the city center.  The tall, twisting brass of Grand Central looming over them and the other buildings as it blocked the light of the night sky.  Every once in a while, the buildings down the street were alit with a bright red glow and slapped with a resounding explosion, followed by maniacal laughter and glee.  The bedouin soldiers were hiding in the alleyways, knowing full well that a destroyer bunker was just down the street.  Any fast movements into the street would give them ripe targets to launch mines at, and the last thing anyone wanted to do was to go into there alone.</p>

<p>Jerdu Gains pressed his back up against the wall, checking the readout from his armor's visor briefly before glancing out of the alley and checking the bunker.  There were only three destroyers positioned there - well, at least he could only see three -  and he popped his head back in to take in a deep breath.  That's when the screaming started.</p>

<p>Jerdu jumped out from the alleyway and ran as fast as he could, screaming with the rest of the bedouin forces as they charged towards the city center - a literal wall of brass and leather straps rushing the makeshift bunker of rubble and destroyed street.  The destroyers twisted their brass keys as fast as they could, launching the walking crab-like mines at the oncoming charge in an attempt to take out as many of the bedouins as possible.</p> 

<p>The mines rushed against the oncoming tide of men and began to detonate, blowing holes in the lines and sending both armor and men into the air like paper.  Jerdu gritted his teeth and kept moving forward, literally jumping over one of the oncoming mines as he proceeded with the third rank of men.  There were only two blocks between them and the bunker when they started their run, but already it seemed like they had run seven blocks.  The flow of time itself began to swirl and decay; flashes of events only glancing off of Jerdu's eyes, never truly impacting with his mind.</p>

<p>The first rank was lost, the mines finding their targets easily.  Their armor was peeled off by the heat and flames and they were left for dead, falling under the feet of the wave of men.</p>

<p>The commander was taken down, a ripe target in his blue and gold trimmed armor, easily distinguishable from the rest of the bedouin forces.  The cackling from the destroyers was high-pitched and unforgiving, seemingly worse than the sounds of explosions in Jerdu's ears.</p>

<p>Half a block to go.  The dirty, sooty faces of the destroyers floated above the wreckage, their white eyes widening and hands hurrying as the forces continued.  The middle destroyer threw off his bowler hat and wiped his hands on his pants quickly to prevent his sweaty hands from dropping the brass key that armed the mines.  He picked up his next mine and shoved the ornate metal piece into the back and gave it a few twists, the legs of the mine kicking wildly in the air as he threw it straight into the street - straight at the man at the front of the pack.</p>

<p>Jerdu quickly looked about himself and found he was alone.  Only the seventh and eighth ranks were left as he continued dodging the incoming mines like some twisted game.  The destroyers were desperate, as they were literally taking mines and now throwing them at the bedouins instead of letting them just skitter across the ground.  Now Jerdu was the only one left leading the charge, and he watched as the destroyer wound up the mine and hurled it at him.</p>


<img class="imageLg" src="/images/guide/lore/frontlines-674.png" alt="frontlines" />

<p>The waving legs caused sparks as it collided with the street and began to quickly skitter towards him.  Jerdu gave a glance to the mine and tensed his legs to prepare for the device, but a glint of light from the back of it caught his eye.</p>

<p>The arming key was stuck in the back, turning as the mine skittered forward, the destroyer forgetting to remove it in his haste to throw the mine at Jerdu.  His eyes focused onto this particular mine, and he dived for it, his gloves gripping the front legs as he picked it up off the street and grabbed the key as he held it with his right hand.</p>

<p>The gears slowed to a halt inside of it, the detonating mechanism never going off as the key was stopped from turning.  He kept running forward with the mine in his hands, and he lept up onto the barricade, holding the mine in plain view.</p>

<p>"You three twist up one more of your little toys, and I let go of this key," he sneered.</p>

<p>"You wouldn't mate, you'd take us all out!  Ya'd send ya'self to the high beyond!" the middle destroyer called back.</p>

<p>"And you forget I'm wearing metal!  Metal forged to make sure it can withstand multiple bomb blasts!  But, I'll be honest with you.  I took a couple hits as I ran forward, but I can't remember how many.  It might have been two, it might have been three.  This bomb may rip my armor and body to shreds, or it may not as my armor absorbs the blow.  But, at a time like this... I don't care if I live or die."</p>

<p>The destroyer to the right reached for his arming key, and Jerdu saw his movements.  His leather glove let go of the key, and the gears went back into motion, the waving legs slowing down... just as the mine let out a small ping as the detonating pin was released.</p>

<p>The device ripped apart in Jerdu's hands, fire and shrapnel blowing out in all directions, the surprised face of the destroyer standing in front of him engulfed in the red glow of the flames.  Jerdu was forced backwards, slamming hard against the street as time went back into its full, fast glory.  The face of one of his bedouin friends looked into his eyes, his hazy lips mouthing something that was unheard by Jerdu's ears.</p>

<p>Jerdu felt himself falling; he felt the cold, wet street become like quicksand and anchor his body down.  His eyelids fell downwards like the buildings around him, and darkness finally overtook him.</p>

						</div>
											
					</div>
				
				</div>

    				

			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>
