<% content_for :title do %>The Unending Tag War, part of the <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/lore" %>
		<div class="cell child"><span class="l"></span><span class="c">The Unending Tag War</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">
					
<h1>The Unending Tag War</h1>
<h5>by Marsha Park</h5>
<br />


<p>For generations, the forces of Order have colluded to dominate the sphere of information with references, tags, breadcrumbs, notations, annotations, and hegemonic lies. </p>

<p>The wide walls of the City of the Internets are a no man's land, not a collection plate for offerings to the gods of order. Organizers of information, a fie on your quest for the souls of Passive-ists! </p>

<p>NO MORE! said we of Chaotic bent. No more shall we be suffered to replace our tags after the eugenic erasures of Pathmakers and Bedouins. </p>

<p>This is no history, no! This is warning to those who would cross their i's and dot their t's and sort the vast wilds of the network into prisons.</p>

<img class="imageLg" src="/images/guide/lore/unendingtagwar-674.jpg" alt="ashes" />

						</div>
											
					</div>
				
				</div>

    				
			<div class="column width960">
			
			<%= render :partial => "shared/guide/lore" %>
				
<%= render :partial => "shared/guide/guide_module" %>

			
			</div>

		</div>
