<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Badges</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">
			
			<%= render :partial => "shared/guide/badges" %>
				
			<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>