<div class="pmog_action">
	<div class="pmog_action_link"><a href="<%= host %>">PMOG</a></div>
	<%= render :partial => "shared/ext/button_close", :locals => { :window_id => @window_id } %>
	<img src="<%= host %>/images/ext/portal.png" width="16" height="16" alt="Portal" class="pmog_action_margin">
	<div class="pmog_action_text">
		Portal dismissed
	</div>
</div>

<br style="clear:both;">