<div class="pmog_single_portal">
	<div class="pmog_link_home"><a href="<%= host %>" target="new">PMOG</a></div>
	<div class="pmog_single_tool_icon"><img src="<%= host %>/images/ext/portal.png" width="16" height="16" alt="Portal" /></div>
	<%= render :partial => "shared/ext/button_close", :locals => { :window_id => @portal.id } %>
	<br style="clear:both;"/>
	<div class="pmog_single_user_text">
		Rating received, thanks!
	</div>
	<br style="clear:both;" />
</div>