<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/admin" %>
		<div class="cell child"><span class="l"></span><span class="c">Portals</span><span class="r"></span></div>
	</div>
<% end %>

<div style="position: absolute; left: 10px"">

<%= javascript_include_tag 'tool_javascripts'%>

<% form_tag '/portals/search', :method => :get do %>
  Or search by User/Location/Destination: <%= text_field_tag 'q' %> 
  <select name="criteria">
    <option value="">Select Criteria</option>
    <option value="user">User</option>
    <option value="location">Location</option>
	<option value="destination">Destination</option>
  </select>
<% end %>

<% form_tag '/portals/destroy', :method => :post, :id => 'tool_form' do %>
	<%= render :partial => 'usertable' %>
<% end %>

</div>

<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
<p><br clear="all" /></p>
