<div id="navAUser" class="">
  <ul class="font12px">
  	<li><a href="/forums/stewards"><img src="/images/icons/roles/steward-16.png" alt="Stewards Control Panel" title="Stewards Control Panel" width="16" height="16" border="0" /></a></li>
  	<li><a href="/forums/shoat-patrol"><img src="/images/shared/associations/icon/shoat-16.png" alt="Shoat Patrol" title="Shoat Patrol" width="16" height="16" border="0" /></a></li>
  	<li><a href="/portals"><img src="/images/shared/icons/portal-16.png" alt="Portals" title="Portals" width="16" height="16" border="0" /></a></li>
	  <li><a href="#" onclick="jQuery('#navAUser').toggle('slow');return false;"><img src="/images/shared/icons/close_window-16.png" alt="Close" title="Close Steward Buttons" width="16" height="16" border="0" /></a></li>
  </ul>
</div>