<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Congratulations!</h1>
		  
		  You have successfully laid a crate!  You can
      loot your own crates, by the way, if you
      reload a page with one of your crates on it
      (go ahead, try it!).<br /><br />

      Looting your crate will get you your items back.  Now, you can
      lay a crate on any site on the Internet, and
      hopefully surprise another player with your gifting!<br /><br />

      Now, click below to learn a chaotic online tool.

		  <a href="/learn/portals" class="learntoplay_portals_next">&nbsp;</a>
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/crates/benefactor.png" width="174" height="426" alt="Learn Crates!" class="learntoplay_association" />
	
</div>