<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Deploying a Crate</h1>
		  
		  A Crate is a gift!  If you stash a Crate on a URL or web site, the next person who comes along can receive your gift.<br /><br />
      
      <img src="/images/learn/crates/crate_example.png" alt="PMOG Crate" class="learntoplay_img_captions" width="302" height="97" /><br /><br />
      
			Crates can hold up to 10 items or 1000 Datapoints (or a combination of a both).  Deploy one 
			by clicking on the &nbsp;<img src="/images/learn/crates/crate.png" width="21" height="17" alt="Test your armor now!" class="user_button_set_img" /> icon in your toolbar.<br /><br />

      Unlike other tools, you'll be taken to a separate page on PMOG to fill your Crate with presents!<br /><br />
    
      <h4>Now, onward to Missions!</h4>
		  
		  <a href="/learn/missions" class="learntoplay_missions_next" style="margin-top:5px;">&nbsp;</a>
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/crates/benefactor.png" width="174" height="426" alt="Learn Crates!" class="learntoplay_association" />
	
</div>