<h1>Learn to Play</h1>

<br />

<div class="learntoplay_toolbar">

  <img src="/images/learn/toolbar.png" width="634" height="36" alt="PMOG Toolbar" />
  <h5>The PMOG Toolbar should appear at the bottom of your browser. If not, visit our Toolbar Help</h5>
  
</div>

<div class="learntoplay_menu">

  <a href="/learn/mines" class="learntoplay_mines">&nbsp;</a>
  
  <a href="/learn/armor" class="learntoplay_armor">&nbsp;</a>
  
  <a href="/learn/portals" class="learntoplay_portals">&nbsp;</a>
  
  <a href="/learn/lightposts" class="learntoplay_lightposts">&nbsp;</a>
  
  <a href="/learn/st_nicks" class="learntoplay_st_nicks">&nbsp;</a>
  
  <a href="/learn/crates" class="learntoplay_crates">&nbsp;</a>
  
  <br style="clear:both;" />
  
  <a href="/learn/missions" class="learntoplay_missions">&nbsp;</a>
  
</div>