<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Deploying Lightposts</h1>
		  
		  Lightposts are like bookmarks for <a href="/missions">PMOG Missions</a>.  Lay four 
		  lightposts around the web by clicking <img src="/images/learn/lightposts/lightpost.png" width="19" height="21" alt="Lightpost" /> in your toolbar, 
		  then go to our <a href="/missions/new">Mission Generator</a> 
		  and string them together to create a mission!  You can also create new lightposts 
		  from within the Generator itself, provided you have some in your inventory.<br /><br />
      
      <h4>Next, learn about attaching St. Nicks!</h4>
      
      <a href="/learn/st_nicks" class="learntoplay_st_nicks_next" style="margin-top:5px;">&nbsp;</a>
      
      <!--Deploying a portal is simple: just press the <img src="/images/learn/lightposts/lightpost.png" width="19" height="21" alt="Lightpost" />          
      button on your PMOG toolbar.  Go ahead and
      give it a try on this page here!  Fight the good fight in the meme war!-->
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/lightposts/pathmaker.png" width="174" height="426" alt="Learn to Portal!" class="learntoplay_association" />
	
</div>