<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Congratulations!</h1>
		  
		  You have successfully laid a portal!  You can
      take your own protals, by the way, if you
      reload a page with one of your portals on it.<br /><br />

      Now, you can
      lay a portal on any site on the Internet, and
      hopefully catch another player in your
      playful trap!<br /><br />

      Now, click below to learn a nicer online tool.
		  
		  <a href="/learn/st_nicks" class="learntoplay_st_nicks_next">&nbsp;</a>
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/lightposts/pathmaker.png" width="174" height="426" alt="Learn Lightposts!" class="learntoplay_association" />
	
</div>