<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Laying a Mine</h1>
		  
		  <p align="left">Trick or Trap!  Lay a Mine on any URL or web site, and you'll give the next player after you a short sharp browser shock.</p>
		  
		  <p>Mines catch PMOG players in the act of browsing.</p>

      <h1 class="learntoplay_text_h">Practice Laying a Mine</h1>
      
		  <h3 class="learntoplay_text_h">Click this icon in your Toolbar:</h3>
		  
		  <img src="/images/learn/mines/mine.png" width="38" height="38" alt="Mine" /><br /><br />
		  		
		  <h4>And when you're done:</h4>
		  
		  <a href="/learn/armor" class="learntoplay_armor_next" style="margin-top:5px;">&nbsp;</a>
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/mines/destroyer.png" width="174" height="426" alt="Learn to Mine!" class="learntoplay_association" />
	
</div>