<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Congratulations!</h1>
		  
		  You have successfully laid a mine!  You can
      explode your own mines, by the way, if you
      reload a page with one of your mines on it
      (like you just did).<br /><br />

      We’ll heal you up this time.  Now, you can
      lay a mine on any site on the Internet, and
      hopefully catch another player in your
      playful trap!<br /><br />

      Now, click below to learn a nicer online tool.
		  
		  <a href="/learn/crates" class="learntoplay_crates_next">&nbsp;</a>
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/mines/destroyer.png" width="174" height="426" alt="Learn to Mine!" class="learntoplay_association" />
	
</div>