<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Taking Missions</h1>
		  
		  Missions on PMOG are trails left across the web by other players. 
		  You can take a mission from our <a href="/missions/">Missions</a> page 
		  or from missions you stumble upon while you surf:<br /><br />
      
      <img src="/images/learn/missions/mission_example.png" alt="PMOG Mission"class="learntoplay_img_captions" width="303" height="151" /><br /><br />
      
      You can also make your own missions by laying <a href="/learn/lightposts/">lightposts</a> around the web,
      and then going to our <a href="/missions/new/">Mission Generator</a> and following the instructions there! 
      Be sure to make a good mission, since you receive 10dp for each player who takes it!<br /><br />
      
      <h4 class="learntoplay_text_h">Now, here are <a href="/learn/remember/">a very few things you should remember about PMOG</a>.</h4>
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/missions/survivor.png" width="174" height="426" alt="Learn Missions!" class="learntoplay_association" />
	
</div>