<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Deploying a Portal</h1>
		  
		  A Portal is a blind link.  "Go here!" the link says, pointing somewhere online.  How does that link relate to the page you're on?  Who do you trust?<br /><br />
		  
		  <img src="/images/learn/portals/portal_example.png" alt="PMOG Portal" class="learntoplay_img_captions" width="302" height="130" /><br /><br />
		  
		  You can deploy portals on any URL, simply by clicking the <img src="/images/learn/portals/portal.png" width="20" height="20" alt="Portal" /> icon.  The next player
      to visit that site after you will be given the option 
      to step through your portal!  And then 
      they’ll know it was you who left an Internet tangent for them!<br /><br />
      
      <h4>Next, learn about Lightposts</h4>
      
      <a href="/learn/lightposts" class="learntoplay_lightposts_next" style="margin-top:5px;">&nbsp;</a>
      
      <!--<h3 class="learntoplay_text_h">Practice Deploying a Portal</h3>
      
      Deploying a portal is simple: just press the <img src="/images/learn/portals/portal.png" width="20" height="20" alt="Portal" />          
      button on your PMOG toolbar.  Go ahead and
      give it a try on this page here!  Fight the good fight in the meme war!-->
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/portals/seer.png" width="174" height="426" alt="Learn to Portal!" class="learntoplay_association" />
	
</div>