<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Play the Web</h1>
	
			<p align="left">PMOG can be played on most URLs across the web.  Click a button in your toolbar and see what happens!  Try a PMOG tool on your favorite, or least favorite web site!  If you see a PMOG event appear, click a button in there, and see what happens!</p>
	
	<h3 class="learntoplay_text_h">Hide PMOG</h3>
	
	<p align="left">Click on the small <img src="/images/ext/p-16.png" alt="P" border="0" width="16" height="16" /> icon in the lower right corner of your browser window, in the status bar.  That will fold your PMOG toolbar away; you're still playing, but you won't have to look at PMOG all the time.</p>
	
	<p><img src="/images/learn/remember/hide.png" width="225" height="150" alt="Hide PMOG" class="learntoplay_img_captions" /></p>
	
	<h3 class="learntoplay_text_h">Pause PMOG</h3>
	
	<p align="left">PMOG automatically doesn't track secure web sites (https://), but just in case you feel the need to pause the game, you can easily do so by clicking the <b>eye</b>con on the left side of the toolbar.  When paused, you will not receive PMOG Events or earn datapoints.  When you're ready to play again, just press the eye one more time to get back on track!</p>
	
	<p><img src="/images/learn/remember/pause.png" width="225" height="150" alt="Pause PMOG" class="learntoplay_img_captions" /></p>
	
	<h3 class="learntoplay_text_h">Preferences</h3>
	
	<p align="left">You can customize your PMOG experience through the handy user preferences.  Turn sound effects on or off, change the way PMOG looks, send messages to other PMOG players, and rewire the way other players experience the everyday internet.</p>
	
	<p><img src="/images/learn/remember/preferences.png" width="225" height="272" alt="PMOG Preferences" class="learntoplay_img_captions" /></p>
	
	<h3 class="learntoplay_text_h">Now you're playing PMOG!</h3>
	<p><b><a href='/users/<%= current_user.login %>?finished=minescratestutorial'>Head over to your profile page</a></b> to perhaps <b>Loot a Crate</b><br />
	and continue on this web adventure.</p>
  
  		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/crates/benefactor.png" width="174" height="426" alt="Learn Crates!" class="learntoplay_association" />
	
</div>