<div class="learntoplay_contain">

  <div class="learntoplay_text_contain">
	
		<img src="/images/learn/shared/section_top.png" width="464" height="7" alt="" />
		
		<div class="learntoplay_text_padding">
		
		  <h1 class="learntoplay_text_h">Attach a St. Nick</h1>
		  
		  When someone hits you with a mine, you can fight back.  Attach a St. Nick <img src="/images/learn/st_nicks/st_nick.png" width="21" height="21" alt="St. Nick" /> : the next time they try to mine, they'll get a small remote spanking, as well as lose one of their mines in the process!  So go on, defend thyself!<br /><br />
		  
		  <h4>Now, learn about leaving Crates!</h4>

      <a href="/learn/crates" class="learntoplay_crates_next" style="margin-top:5px;">&nbsp;</a>

      <!--<h3 class="learntoplay_text_h">Practice Attaching a St. Nick</h3>
      
      Deploying a portal is simple: just press the <img src="/images/learn/st_nicks/st_nick.png" width="21" height="21" alt="St. Nick" />          
      button on your PMOG toolbar.  Go ahead and
      give it a try on this page here!  Fight the good fight in the meme war!-->
		
		</div>
		
		<img src="/images/learn/shared/section_bottom.png" width="464" height="7" alt="" />
	
	</div>

	<img src="/images/learn/st_nicks/vigilante.png" width="174" height="426" alt="Learn to St. Nick!" class="learntoplay_association" />
	
</div>