<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Arsenal</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/watchdogbiting.png);width:315px;height:193px;" title="A Watchdog Biting a Destroyer"></div>
					</div>
					<div class="copyTop">
<h2>Arsenal: Tools, Upgrades, and Abilities</h2>
<p>Within the Arsenal you'll find descriptions about each Tool, Upgrade, and Ability. Tools are items you buy in the <a href="/shoppe">Shoppe</a>; Upgrades are modifications to existing Tools that enhance or change their use; Abilities are powers you have that cost Pings but do require an item from the Shoppe at all. </p>

					</div>

				</div>

			</div>
			
			<div class="column width960">
			
			<%= render :partial => "shared/guide/arsenal" %>
				
			<%= render :partial => "shared/guide/guide_module" %>	
			</div>


		</div>


