<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">Classes</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
	<div class="column width960">

				<div class="module width960">

					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/seer-animation.png);width:315px;height:160px;" title="Seer Drawing A Portal"></div>
					</div>
					<div class="copyTop">
<h2>Classes on The Nethernet: All the ways to play the web</h2>
<p>When you first joined The Nethernet, you chose the Class and the Faction that you wanted to team up with. Within this section you can learn more in-depth information about each of the classes, because on The Nethernet you can level up in ANY of the classes. Even if you're Benefactor now you can still level up as a Destroyer to unlock the Exploding Crate Upgrade.</p>
 
					</div>

				</div>

			</div>
			
			<div class="column width960">
			
			<%= render :partial => "shared/guide/associations" %>
				
<%= render :partial => "shared/guide/guide_module" %>
			
			</div>

		</div>

<!-- /MAIN CONTENT -->

