<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<div class="main">Guide to The Nethernet</div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/cvo.png);width:315px;height:500px;" title="The battle rages on!"></div>
					</div>
					<div class="copyTop">

<h2> &gt; Lead the fight in the internet war between Order and Chaos:<br /><br/>

&gt; <a href="/guide/abilities/giftcard">awsm!<img src="/images/shared/icons/dp_card-16.png" alt="shoppe icon" border="0" width="16" height="16" valign="center" /></a>, <a href="/guide/rules/starting_pathmaker">create <img src="/images/shared/icons/lightpost-16.png" alt="lightpost icon" border="0" width="16" height="16" valign="center" /></a> and <a href="/guide/tools/armor/">protect <img src="/images/shared/icons/armor-16.png" alt="armor icon" border="0" width="16" height="16" valign="center" /></a> if you love <a href="/guide/rules/order">Order</a><br /><br />

&gt; <a href="/guide/tools/mines">attack! <img src="/images/shared/tools/icon/mine-16.png" alt="mine icon" border="0" width="16" height="16" valign="center" /></a>, <a href="/guide/rules/starting_seer">distract <img src="/images/shared/tools/icon/portal-16.png" alt="portal icon" border="0" width="16" height="16" valign="center" /></a> and <a href="/guide/tools/st_nicks">seek vengeance <img src="/images/shared/tools/icon/st_nick-16.png" alt="st nick icon" border="0" width="16" height="16" valign="center" /></a> if you love <a href="/guide/rules/chaos">Chaos</a><br /><br />

</h2>

<p>The gleaming lights of the internet mesmerize millions of people. But between this reality and the cold gloom of discarded websites and abandoned links, a struggle for control of vital territory rages on. This is The Nethernet.</p>

<p>The forces of Order build structures of information, toiling endlessly to open <a href="/missions">thoroughfares</a> of thought and conversation. Well-aligned code and clean, bright streets of mindful traffic. <a href="/guide/classes/pathmakers">Pathmakers</a>, <a href="/guide/classes/benefactors">Benefactors</a>, <a href="/guide/classes/bedouin">Bedouin</a>.</p>

<p>Chaos watches from the darkness between forgotten forums. As Order busily builds, the wielders of <a href="/guide/tools/mines">destruction</a> and <a href="/guide/tools/portals">distraction</a> scar the eyes with their willful clicking. The "frist!" is theirs and they claim it. <a href="/guide/classes/destroyers">Destroyers</a>, <a href="/guide/classes/seers">Seers</a>, <a href="/guide/classes/vigilantes">Vigilante</a>.</p>

<p>But now - a stalemate between enemies. The forces on both sides come in waves against each other, coordinated cobrowsing attacks, equally matched oceans of will pounding on the limits of digital space. Something must give.</p>


<p><h3>Arm yourself as you surf, and choose a side: Chaos or Order could rise.<br/>
Both want control of The Nethernet.<br />
The choice is yours.</h3></p>

				</div>

				</div>

			</div>

			<%= render :partial => "shared/guide/guide_block" %>

		</div>
