<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/arsenal" %>
		<div class="cell child"><span class="l"></span><span class="c">Tools</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/tools-200.png);width:200px;height:200px;" title="A Watchdog Biting a Destroyer"></div>
					</div>
					<div class="copyTop">
<h2>Tools</h2>
<p>Tools are items that you have to buy in the Shoppe. You'll have to visit the <a href="/shoppe">Shoppe</a> in order to purchase more if you are out. (The Shoppe looks like this in your toolbar: <img src="/images/shared/icons/shoppe-16.png" alt="shoppe icon" border="0" width="16" height="16" valign="center" />) Tools cost <a href="/guide/rules/datapoints">Datapoints</a>. As you level up, you'll unlock <a href="/guide/upgrades">Upgrades</a> to your tools. To see which Tools you have access to, check out the <a href="/guide/rules/levels">Levels</a> chart.</p>

					</div>

				</div>

			</div>
			
			<div class="column width960">
			
			<%= render :partial => "shared/guide/tools" %> </div>
						
			<%= render :partial => "shared/guide/arsenal" %>
				
			<%= render :partial => "shared/guide/guide_module" %>	
			</div>


		</div>


