<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/about" %>
		<div class="cell child"><span class="l"></span><span class="c">Credits</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				
						<div class="module width960">

							<div class="imageTop">
									<div class="imageTopImage" style="background-image:url(/images/shared/dressing/stnickwreckmine-315.png);width:315px;height:315px;" title="St. Nick Destroying a Mine"></div>
							</div>

<h1>Nethernet Credits</h1>
<br />

<p>The Nethernet is a creation of <a href="http://www.gamelayers.com">GameLayers, Inc.</a>, and the players of the Nethernet; The Nethernet was once known as PMOG.</p>

<p>The Nethernet has featured artwork from <a href="http://colinadams.com/">Colin Adams</a>, <a href="http://www.myspace.com/blevinblectumandsagan">Bevin Kelley</a>, <a href="http://nicholaskole.com/">Nick Kole</a>, <a href="http://www.mightyicons.com/">David Phillips</a>, <a href="http://rsandberg.deviantart.com/">Rob Sandberg</a>, <a href="http://www.dougsirois.com/">Doug Sirois</a>, and <a href="http://www.turbomilk.com/">Turbomilk</a>.</p>

<p>The Fall 2008 background pattern used in our toolbar was created by <a href="http://www.bu-s.com">Ben Usher Smith</a>.</p>

<p>A few of icons are part of the <a href="http://www.famfamfam.com/archive/silk-icons-thats-your-lot">famfamfam</a> collection, built by Mark James. </p?

						</div>
					
					</div>
				
								
			<div class="column width960">
			
				<%= render :partial => "shared/about" %>
				
				<%= render :partial => "shared/guide/guide_module" %>
				
			</div>

		</div>
