<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/about" %>
		<div class="cell child"><span class="l"></span><span class="c">Copyright Infringement Notification</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

					<div class="module width960">

<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/dmca-315.png);width:315px;height:750px;" title="Corporations Love Monies"></div>
					</div>



<h1>Copyright Infringement Notification</h1>
<h3>or, how we comply with the DMCA</h3>

<p>We respect the intellectual property rights of others, and we ask our users to do the same.  If you believe that your copyrighted work has been copied and is accessible on thenethernet.com in a way that constitutes copyright infringement, please send a written notice to our Copyright Agent that includes:</p>

<ul>
<li>The electronic or physical signature of the owner of the copyright or the person authorized to act on the owner's behalf;</li>
<li>A description of the copyrighted work that you claim has been infringed;</li>
<li>A description of where the material that you claim is infringing is located, such as the URL where it is posted;</li>
<li>Your name, address, telephone number and email address;</li>
<li>A statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law; and</li>
<li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf.</li>
</ul>

<p>The Nethernet's Copyright Agent for notice of claims of copyright infringement can be reached at:</p>

<blockquote><div>
<p>Justin Hall<br />
DMCA Claim - GameLayers Inc<br />
1 Lombard Street, Suite 303<br />
San Francisco, CA 94111<p />

<!--Phone: <br /><-->
Fax: (415) 236-6272<br />
Email: dmca at thenethernet d0t com</p>
</div></blockquote>

<p>Please note: In order to be effective, your notice must be in writing (including email). This contact information is provided under notice requirements of the Digital Millennium Copyright Act and is solely for reporting copyright infringement.</p>

						</div>
					
					</div>
			
				
			<div class="column width960">
			
				<%= render :partial => "shared/about" %>
				
				<%= render :partial => "shared/guide/guide_module" %>
				
			</div>

		</div>
