<% content_for :title do %>Browse Icons on <% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/about" %>
		<div class="cell child"><span class="l"></span><span class="c">Icons</span><span class="r"></span></div>
	</div>
<% end %>
		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">

<h1>Icons: Measurements of Symbolic Weight</h1>
<h5>ahah!</h5>
<br /><br />

<img src="/images/shared/icons/arrow.png" /> Arrow<br />
<img src="/images/shared/icons/feeds.png" /> RSS/Feeds<br />
<img src="/images/shared/icons/globe.png" /> Globe/Missions<br />
<img src="/images/shared/icons/tags.png" /> Tags<br />
<img src="/images/shared/icons/comments.png" /> Comments<br />
<img src="/images/shared/icons/gear.png" /> Gear<br />
<img src="/images/shared/icons/skull.png" /> Skull<br />
<img src="/images/shared/elements/classpoints-icon.png" /> Class Points<br />
<img src="/images/ext/p-16.png" /> P of PMOG 16x16<br />
<img src="/images/ext/p-32.png" /> P of PMOG at 32x32<br />

<br /><br />
<h3>Tools</h3>

<img src="/images/shared/icons/datapoint-16.png" /> Datapoint<br />

<img src="/images/ext/armor.png" /> Armor<br />
<img src="/images/ext/crate.png" /> Crate<br />
<img src="/images/ext/mine.png" /> Mine<br />
<img src="/images/shared/tools/icon/lightpost-16.png" /> Lightpost<br />
<img src="/images/ext/st_nick.png" /> St. Nick<br />
<img src="/images/ext/portal.png" /> Portal<br />
<img src="/images/ext/rocket.png" /> Rocket<br />
<img src="/images/ext/wall.png" /> Wall<br />

<br /><br />
<h3>Associations</h3>

<img src="/images/shared/associations/icon/bedouins.png" /> <img src="/images/shared/associations/icon/bedouin-16.png" /> Bedouin<br />
<img src="/images/shared/associations/icon/destroyers.png" /> <img src="/images/shared/associations/icon/destroyer-16.png" /> Destroyer<br />
<img src="/images/shared/associations/icon/pathmakers.png" /> <img src="/images/shared/associations/icon/pathmaker-16.png" /> Pathmaker<br />
<img src="/images/shared/associations/icon/seers.png" /> <img src="/images/shared/associations/icon/seer-16.png" /> Seer<br />
<img src="/images/shared/associations/icon/vigilantes.png" /> <img src="/images/shared/associations/icon/vigilante-16.png" /> Vigiliante<br />
<img src="/images/shared/associations/icon/benefactors.png" /> <img src="/images/shared/associations/icon/benefactor-16.png" /> Benefactor<br />
<img src="/images/shared/associations/icon/grenadiers.png" /> Grenadier<br />
<img src="/images/shared/associations/icon/riveters.png" /> Riveter<br />
<img src="/images/shared/associations/icon/shoats.png" /> Shoat<br />

<br /><br />
<h3>Interface</h3>

<img src="/images/ext/pmog.png" /> the old P<br />
<img src="/images/ext/eye_closed.png" /> Pause<br />
<img src="/images/ext/eye_open.png" /> Unpause<br />
<img src="/images/shared/icons/arrow_up.png" /> Arrow Up<br />
<img src="/images/shared/icons/arrow_down.png" /> Arrow Down<br />
<img src="/images/ext/sound_off.png" /> Sound off<br />
<img src="/images/ext/sound_on.png" /> Sound off<br />
<img src="/images/ext/star_medium_off.png" /> Star on<br />
<img src="/images/ext/star_medium_on.png" /> Star off<br /><br />
<img src="/images/ext/magnify.png" /><br />
<img src="/images/ext/star_off.png" /><br />
<img src="/images/ext/star_on.png" /><br />
<img src="/images/ext/unpause.png" /><br />
<img src="/images/ext/buttonclose.jpg" /><br />
<img src="/images/ext/pause.png" /><br />

<br />

						</div>
											
					</div>
				
				</div>

			
			</div>



		</div>
