<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/about" %>
		<div class="cell child"><span class="l"></span><span class="c">Versions</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="column width700">

					<div class="module width700">

<h1>Versions of PMOG</h1>
<h5>recounting an evolution of infrastruction</h5>

<br />

<p>Below we list the versions of the PMOG web browser extension. If you want a <a href="/about/sightseeing/">a preview of PMOG</a> or <a href="/help/">help with the toolbar</a>, we have those other links for you.</p>

<dl>

<a name=".5"></a> 
<dt>version .5</dt> 
<dd>22 September 2008</dd>
<dd>This update requires Firefox 3.  Version .5 is a platform shift for the PMOG toolbar from HTML / DOM injections to XUL overlays.</dd>

<p><img src="/images/help/newoverlays.jpg" alt="New XUL Overlays" border="0" width="403" height="306" /></p>  

<dd>These XUL overlays result in better compatibility with websites using flash, and a more speedy and smart way to play the web.  Also, it's much easier to Stash a Crate now!</dd>

<a name=".420"></a> 
<dt>version .420</dt> 
<dd>4 August 2008</dd> 
<dd>This update will make PMOG more secure.  And, we fixed bugs with multiple overlapping overlays.  Probably the last PMOG extension version that will support Firefox 2.</dd>

<a name=".419"></a> 
<dt>version .419</dt> 
<dd>23 July 2008</dd> 
<dd>The new built in mission menu gives you both access to "Mission Central" the main PMOG mission page, and your own personal mission queue, giving quick and easy access to your queued missions.  Find yourself with a few extra minutes during the day?  Take break from passivity to take one of those missions you've been meaning to get around to.</dd>

<dd>"Manage Profiles" has been renamed to "Reset Profile" and can be found under the P > Preferences menu.  This function can now also be used whether or not you're logged in.  If you're having trouble logging in, use this function as your first line of offense.</dd>

<dd>The "auto-login" feature of the toolbar has been fixed.  Now, no matter how you type your username, you should automatically be logged into the toolbar every time you launch Firefox or Flock, or open a new window, so long as you have agreed to letting the PMOG toolbar remember your password.</dd>

<dd>"Special" characters in passwords (such as !@#$) are once again recognized.</dd>

<dd>Seers have finally been shown the respect they deserve, and have been added to the Associations menu under Help > Codex Pmogeus.</dd>

<dd>The mine animation has been shortened; it will be especially short on Firefox 2.</dd>

<a name=".418"></a> 
<dt>version .418</dt> 
<dd>9 July 2008</dd> 
<dd>PMOG now has a list of sites you can set PMOG to ignore.  If you do any sensitive surfing or want to keep the game out of a few key work/play web domains, you can find it through the P menu in the extension: Preferences: Ignored sites.  This list of web addresses is stored in your local copy of Firefox.</dd> 

<p><img src="/images/help/ignored-sites.jpg" alt="ignored sites list" border="0" width="423" height="255" /></p>

<dd>We've included fixes for the PMOG Firefox 2 - Firefox 3 upgrade path.  Also, more icons in the extension menu.  The classic toolbar skin now has a brown background to make the elements more visible to some users reporting troubles (particularly on Linux).</dd>

<a name=".417"></a> 
<dt>version .417</dt> 
<dd>11 June 2008</dd> 
<dd>The toolbar will now list a few of your most recently active acquaintances when you click on the IM button.  Your most recent user is highlighted in blue in the login menu.  If you're wearing armor, the browser window won't shake when you trip a mine.  The pmog extension now works reliably for users who refuse to accept third-party cookies via the Firefox preferences.  Also, this release should solve a bug where having no mines prevents crate laying.</dd> 

<a name=".416"></a>
<dt>version .416</dt>
<dd>28 May 2008</dd>
<dd>Players who have been away from PMOG for a long time and return to a new toolbar will find a bug fixed with this version.</dd>

<a name=".415"></a>
<dt>version .415</dt>
<dd>28 May 2008</dd>
<dd>Icons have snuck into the PMOG, enlivening a number of menu choices! A new login system in the toolbar should allow for easier player switching and profile management.  Right-clicking on a tool icon will bring up a menu that now includes a help link for each of the tools.  If you click the P on the left side of the toolbar, and navigate through the Help menu there, you'll find a "Clear all Saved PMOG Passwords" command that should help with any lingering toolbar login issues.  In addition, that Help menu now contains a list of Codex Pmogeus links, for direct access to game information.</dd>

<p><img src="/images/help/toolbar-help-with-codex-extended.jpg" alt="Toolbar help with Codex menu extended" border="0" width="486" height="152" /></p>

<dd>Finally, players experiencing PMOG troubles out across the web can now file a PMOG bug report through the toolbar.  Try the "Report a Toolbar Bug" link in the Help menu there, and PMOG will send us a technical breakdown of your current toolbar state to see if we can diagnose and fix the problem.</dd>

<a name=".414"></a>
<dt>version .414</dt>
<dd>21 May 2008</dd>
<dd>Players can now report PMOG bugs through their toolbar, using a new help menu.  A "refresh the toolbar" command is now included in that menu as well; that can immediately push a change to the PMOG toolbar skin, or otherwise sort out some PMOG toolbar issues.  In addition, version .414 includes a fix for the unstoppable expanding progress bar.  Finally, there's a new Portal effect, replacing the star wipe wth an orange and blue strobe.</dd>

<a name=".413"></a>
<dt>version .413</dt>
<dd>7 May 2008</dd>
<dd>Stability improvements, making the toolbar more compact and the overlays more compact as well.  A large hide button sits on the right side of the extension, and the pause button has been moved there as well.  Also, instant messages can be written from a box appearing in the browser toolbar.  Control-Alt I now opens and closes the IM window, and in Firefox 3, it puts the cursor in there, ready for messaging (expanding on our <a href="/help/keycommands/">Keyboard shortcuts</a>).</dd>

<a name=".412"></a>
<dt>version .412</dt>
<dd>27 March 2008</dd>
<dd>Fix to allow looting crates and dismissing portals/missions.</dd>

<a name=".411"></a>
<dt>version .411</dt>
<dd>27 March 2008</dd>
<dd>Richer overlays with better images and text when you see a mine, crate portal, or mission popping up on the web.</dd>
<dd>Stability and performance improvements, particularly for Firefox 3.</dd>

<a name=".410"></a>
<dt>version .410</dt>
<dd>19 March 2008</dd>
<dd>The toolbar now supports Content Quality Threshold preference.  In your preference pane, select whether you want to see only the very best PMOG content, or anything.  Or inbetween 0 and 5 stars!  This should throttle the Missions and Portals you see accordingly.  Note: you'll always see your own Portals and Missions.</dd>
<dd><a href="/help/keycommands/">Keyboard shortcuts</a> should now be working in the PMOG extension.</dd>
<dd>Numerous display and formatting fixes for Firefox and Javascript.</dd>

<a name=".409"></a>
<dt>version .409</dt>
<dd>5 March 2008</dd>
<dd>PMOG now has two skins - the wooden "classic" and the Firefox gray "plain".  Players can choose between these skins in the Preferences Pane.  The Preferences Pane is now available from the P menu on the left side of the toolbar.  Hopefully this will solve visual problems people might have with the wood background.</dd>
<dd><a href="http://skitch.com/justinreach/8jkb/a-version-history-of-pmog"><img src="http://img.skitch.com/20080306-fyim941t3rhwngs356mxy7rdet.preview.jpg" alt="A Version History of PMOG" /></a></dd>
<dd>Fixing tab context bugs for instant messages between players.  Also, a throbber now appears when the PMOG extension is thinking.</dd>

<a name=".408"></a>
<dt>version .408</dt>
<dd>29 February 2008</dd>
<dd>The PMOG extension now has a preferences pane, tied to your preferences set in your user profile on the site.  A new "IM" icon in the toolbar allows players to write instant messages to other players.  Also, bugfixes attempting to solve a problem with tab context.</dd>

<a name=".407"></a>
<dt>version .407</dt>
<dd>11 February 2008</dd>
<dd>Bug fixes and support for Firefox 3.  The extension is now 174k, down from 464k.</dd>

<a name=".406"></a>
<dt>Version .406</dt>
<dd>6 February 2008</dd>
<dd>Users can now reply to messages from other players within the browser.  In addition, the PMOG menu supports outgoing messages.  Also, we added a new message type for errors and update notifications.</dd>

<a name=".405"></a>
<dt>Version .405</dt>
<dd>1 February 2008</dd>
<dd>This version introduced in-browser messaging, so players can send receive messages as they are surfing.</dd>

<a name=".404"></a>
<dt>Version .404</dt>
<dd>30 January 2008</dd>
<dd>Added the capacity to hide the toolbar, using a clickable status bar icon.</dd>

<a name=".403"></a>
<dt>Version .403</dt>
<dd>28 January 2008</dd>
<dd>Work on a detached, draggable "Read More" page for Missions.  Improvements to the extension CSS for legibility in Windows.  Affixing background events to background tabs.  The browser window now shakes when you hit a mine!</dd>

<a name=".402"></a>
<dt>Version .402</dt>
<dd>22 January 2008</dd>
<dd>Using the black styled P for PMOG instead of the flat orange P from the 2007 beta.  PMOG will now evoke events on a blank page.  Much work on the messaging and events queues.  Partial fix for messages being hidden by scrollbars.</dd>

<a name=".401"></a>
<dt>Version .401</dt>
<dd>21 January 2008</dd>
<dd>PMOG toolbar menu now includes a link to the Missions page.  PMOG events appear in the lower right corner of the browser.</dd>

<a name="2.1"></a>
<dt>Version .3 (called 2.1 at the time)</dt>
<dd>May 2007</dd>
<dd>A Firefox extension version of PMOG, where the user profile, instant messaging, Missions (called Quests), tool use, all were displayed in a sidebar.  Here's a screenshot from May 2007:</dd>

<p align="center"><a href="http://www.flickr.com/photos/justin/483106536/" title="wedding-mined by justin, on Flickr"><img src="http://farm1.static.flickr.com/229/483106536_c6956920c9_m.jpg" width="240" height="167" alt="wedding-mined" /></a></p>

<dt>Version .2 (called 1.0 at the time)</dt>
<dd>November 2006</dd>
<dd>A proto-PMOG works as an iframe at the bottom of the browser window.  Here's a screenshot from November 2006:</dd>

<p align="center"><a href="http://www.flickr.com/photos/justin/445706827/" title="First Draft Working PMOG Frame over BoingBoing by justin, on Flickr"><img src="http://farm1.static.flickr.com/250/445706827_2c4843e3e7.jpg" width="500" height="307" alt="First Draft Working PMOG Frame over BoingBoing" /></a></p>

						</div>
					
					</div>
				
				</div>
				
			<div class="column width960">
			
				<%= render :partial => "shared/about" %>
				
				<%= render :partial => "shared/guide/guide_module" %>
				
			</div>

		</div>
