<% content_for :breadcrumbs do %>
  <div id="breadcrumbs">
    <%= render :partial => "shared/breadcrumbs/about" %>
    <div class="cell child"><span class="l"></span><span class="c">Versions</span><span class="r"></span></div>
  </div>
<% end %>

    <div id="copy">

      <div class="column width960">

				<div class="module width960">

					<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/missions-260.png);width:260px;height:192px;" title="Fare Thee Well"></div>
					</div>
					<div class="copyTop">

<h1>The Nethernet: Open Source</h1>
<h5>expanding our collective potential</h5>

<br />

<p>The computer code that runs The Nethernet is available for you to peruse, download, hack, fix, improve, expand, or employ as the basis of your own online games.</p>

<h2>Server: <a href="http://github.com/gamelayers/pmog">http://github.com/gamelayers/pmog</a>.</h2>

<h2>Client: <a href="http://github.com/gamelayers/pmog-hud">http://github.com/gamelayers/pmog-hud</a></h2>

<p>The Nethernet Open Source is licensed under the GNU Affero General Public License.</p>

<p>If you want to talk about the code, check out <a href="">the ??? topic in our forums</a>.</p>

<p>For the latest information on the current version of The Nethernet game, visit <a href="http://news.thenethernet.com">the The Nethernet Community blog</a>.</p>

            </div>

          </div>

        </div>

      <div class="column width960">

        <%= render :partial => "shared/about" %>

        <%= render :partial => "shared/guide/guide_module" %>

      </div>

    </div>
