<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<%= render :partial => "shared/breadcrumbs/guide" %>
		<div class="cell child"><span class="l"></span><span class="c">About</span><span class="r"></span></div>
	</div>
<% end %>

		<div id="copy">
		
			<div class="column width960">

				<div class="module width960">

			
					<div class="copyTop">

	<p><strong>System Requirements</strong></p>
	
	<p><strong>Web Browser:</strong></p>
	<ul><li>Latest <a href="http://getfirefox.com">Firefox</a></li></ul>
    
    <p><strong>Operating Systems:</strong></p>
	<ul><li>Windows 2000/XP/Vista/7</li>
	<li>Mac OS X 10.5 or Higher</li>
	<li>Most Linux Distros</li></ul>

	<p><strong>Video/Network:</strong></p>
	<ul><li>Works well with or without broadband and/or a 3D graphics card</li>
	<li>1024 x 768 or greater screen resolution<li></ul>

	<p><strong>Notes:</strong></p>
	<ul><li>The Nethernet may conflict with some privacy extensions, <a href="/guide/support/faq#Privacy01">learn more</a></li>
	<li>Third party cookies and Javascript must be enabled within your browser</li></ul>
	
		
					</div>

	<div class="imageTop">
<div class="imageTopImage" style="background-image:url(/images/shared/dressing/shoatpants-200.png);width:200px;height:357px;" title="Shoat in Pants"></div>
					</div>

				</div>

			</div>

			<div class="column width960">

				<%= render :partial => "shared/about" %>

				<%= render :partial => "shared/guide/guide_module" %>

			</div>	

		</div>	
	