<a onclick="<%= render :partial => 'shared/ext/overlay_init' %>
            pmog_m.setAttribute('action', 'close');
            pmog_m.setAttribute('window_id', '<%= window_id %>');
            pmog_m.dispatchEvent(pmog_e);return false;" href="#"><img src="<%= host %>/images/ext/shared/button_close.png" width="21" height="21" style="border:0;float:right;"></a>