<div class="pmog_action">
	<%= render :partial => "shared/ext/button_close", :locals => { :window_id => @window_id } %>
	<div class="pmog_action_link"><a href="<%= host %>">PMOG</a></div>
	<div class="pmog_message_text">
			An upgrade is available! Please <a href='http://pmog.com/help/install/' target='_top'>install it</a> to continue playing.
	</div>	
</div>
<br style="clear:both;">