<div class="pmog_action">
	<div class="pmog_action_link"><a href="<%= host %>">PMOG</a></div>
	<%= render :partial => "shared/ext/button_close", :locals => { :window_id => @window_id } %>
	<img src="<%= host %>/images/shared/tools/icon/lightpost-16.png"  class="pmog_action_margin">
	<div class="pmog_action_text">
		Mission queued for later
	</div>
</div>

<br style="clear:both;">