<h1>Nagios and NewRelic on <%= current_slice %></h1>
<h4><a href='/suttree'>24hr suttree</a></h4>
<iframe src='http://nagios.utility.gl00.engineyard.com/pnp/index.php?host=gl00-s00013&srv=CPU%20Load' height="250px" width="100%"> </iframe>
<iframe src='https://rpm.newrelic.com/browser/agent?account_id=65&agent=1612' height="250px" width="100%" > </iframe>
