<div id="copy">
<div class="column width960">
<div class="column width700">
<div class="module width700">

<h1>rpm Stats on <%= current_slice %></h1>
<h4><a href='/suttree'>24hr suttree</a> | <a href='/suttree/c3pu'>c3pu</a>| <a href='/suttree/rpm'>rpm</a></h4>

<br/>

<b>Today vs. Yesterday:</b>
<iframe src='https://rpm.newrelic.com/browser/compare_with_yesterday?account_id=65&agent=1612' height="250px" width="100%"> </iframe>

<b>Throughput:</b>
<iframe src='https://rpm.newrelic.com/browser/controllers?account_id=65&agent=1612' height="250px" width="100%"> </iframe>

<b>Page volume:</b>
<iframe src='https://rpm.newrelic.com/browser/load_by_url?account_id=65&agent=1612' height="250px" width="100%"> </iframe>

<b>Active Record:</b>
<iframe src='https://rpm.newrelic.com/browser/active_record?account_id=65&agent=1612' height="250px" width="100%"> </iframe>

<b>Slow Queries:</b>
<iframe src='https://rpm.newrelic.com/browser/index_hunter?account_id=65&agent=1612' height="250px" width="100%"> </iframe>

</div>
</div>
</div>
