<div class="pmog_action">
  <div class="pmog_action_link"><a href="<%= host %>" target="new">PMOG</a></div>
  <%= render :partial => "shared/ext/button_close", :locals => { :window_id => @window_id } %>
  <img src="<%= host %>/images/ext/st_nick.png" width="16" height="16" alt="St. Nick" class="pmog_action_margin" />
  <div class="pmog_action_text">You need to <a href="<%= host %>/shoppe/" target="new">buy some more St Nicks!</a></div>
</div>
<br style="clear:both;" />